@charset "UTF-8";

@font-face {
  font-family: "hcm-ie";
  src:url("./icons/hcm-ie.eot");
  src:url("./icons/hcm-ie.eot?#iefix") format("embedded-opentype"),
    url("./icons/hcm-ie.woff") format("woff"),
    url("./icons/hcm-ie.ttf") format("truetype"),
    url("./icons/hcm-ie.svg#hcm-ie") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hcm-ie" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ie-"]:before,
[class*=" ie-"]:before {
  font-family: "hcm-ie" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ie-clipboard:before {
  content: "\61";
}
.ie-clone:before {
  content: "\62";
}
.ie-page-copy:before {
  content: "\63";
}
.ie-files-o:before {
  content: "\64";
}
.ie-close-ie:before {
  content: "\6a";
}
.ie-parent-org:before {
  content: "\6b";
}
.ie-site:before {
  content: "\6c";
}
.ie-sub-org:before {
  content: "\6d";
}
.ie-girl:before {
  content: "\6e";
}
.ie-boy:before {
  content: "\6f";
}
