<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MY Extractor</title>
   
</head>
<body>
 
 
    <div class="container">
      <div class="alert alert-success" role="alert">
        <!-- <p class="alert-heading">Result</p> -->
        <!-- <p>Number of Records:{{num_of_results}}</p> -->
        <!-- <ul>{% for i in results %}
          <li>{{i}}</li>
          {%endfor %}
      </ul> -->

      <table>
 
        <tbody>
          <tr>
           <td><b>named entity , output</b></td>
            
          </tr>
          
          {% for i in results %}
          <tr>
           <td>{{i}}</td>
            
          </tr>
          {%endfor %}
        </tbody>


      </table>
      </div>
    </div>
     
        </body>
</html>