.recruitment_module .customModal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  position: fixed;
  z-index: 99999 !important;
  overflow-y: auto;
  display: none;
  transform: none;
}

.customModal.show {
  display: block;
}

.cstomDialog.widBig {
  width: 60%;
  min-width: 1000px;
}

.cstomDialog {
  height: auto;
  padding: 15px 30px;
  border-radius: var(--b-radius);
  background: #f6f6f6;
  min-height: auto;
}

.cstmModal_hdng1-- {
  width: 100%;
  border-top: solid 1px var(--bg-color);
  border-bottom: solid 1px var(--bg-color);
  color: var(--bg-color);
  padding: 10px 0;
  font-size: 20px;
  padding-right: 50px;
  font-weight: 700;
  margin-bottom: 15px;
}

.cstmModal_hdng1-- .closeModal {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* border: solid 1px var(--bg-color); */
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
  cursor: pointer;
  margin-right: -50px;
}

.customModal {
  z-index: 1;
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  overflow: auto;
}
.custom-modal-dialog {
  border-radius: var(--b-radius);
  background: #f5f5f5;
  margin-bottom: 30px;
  padding: 15px 30px 15px 30px;
}
.custom-modal-header {
  display: flex;
  border-color: #1e1e1e;
  justify-content: space-between;
}
.custom-modal-header .Modal_title {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
  display: inline-flex;
  align-items: center;
  color: var(--bg-color);
}
.custom-modal-header .Modal_close_i {
  font-size: 20px;
  align-items: center;
  display: inline-flex;
  padding-right: 0px;
  cursor: pointer;
  color: var(--txt-color);
}
.custom-modal-footer {
  padding: 30px 0px;
  border-color: #1e1e1e;
}
.customModal .Information_modal {
  width: 1024px;
}
.Crm .modal-content {
  background: #f5f5f5;
}

.modal-dialog .modal:before {
  display: inline-block;
  vertical-align: middle;
}
.modal {
  text-align: center;
  padding: 0;
}
.modal-dialog {
  text-align: left;
}
.Modal_A .close,
.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}
.Modal_A .modal-dialog {
  width: 500px;
}
.Modal_A .close {
  float: none;
  margin: 0 auto;
  opacity: 1;
  display: table;
}
.Modal_A .lock_icon {
  display: table;
  margin: -50px auto 0;
}
.Modal_A .modal-body {
  padding: 15px 30px;
}
.Modal_A .text {
  font-size: 20px;
  line-height: 40px;
  min-height: 40px;
}
.Modal_A .six_digit input {
  width: 240px;
  height: 40px;
  line-height: 40px;
  display: table;
  margin: 0 auto;
  text-align: center;
  padding: 4px 6px;
  outline: 0;
  font-size: 14px;
}
.Modal_A .six_digit {
  margin: 25px auto 10px;
}
.Modal_B .modal-dialog {
  width: 680px;
}

.Modal_B .modal-body {
  display: table;
  width: 100%;
}
.Modal_B .modal-body .dis_cell {
  display: table-cell;
}
.Modal_B .modal-body .dis_cell:nth-child(2n) {
  width: 40px;
  padding-left: 15px;
}
.Modal_B .modal-body {
  padding: 20px 25px;
}
.Par_modal .modal-dialog,
.modal-content {
  background: #fff;
}
.mess_V_1 .nav_apps {
  padding: 0;
}

.modal {
  text-align: center;
  padding: 0 !important;
}
.modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}
.Modal_A .modal-dialog {
  width: 500px;
}
.Modal_A .close {
  float: none;
  text-align: center;
  margin: 0px auto;
  opacity: 1;
  display: table;
}
.Modal_A .lock_icon {
  display: table;
  margin: 0px auto;
  margin-top: -50px;
}
.Modal_A .modal-body {
  padding: 15px 30px;
}
.Modal_A .text {
  font-size: 20px;
  line-height: 40px;
  min-height: 40px;
}
.Modal_A .six_digit input {
  width: 240px;
  display: table;
  margin: 0px auto;
  text-align: center;
  padding: 4px 6px;
  outline: none;
  font-size: 14px;
}
.Modal_A .six_digit {
  margin: 25px auto 10px;
}
.Modal_B .modal-dialog {
  width: 680px;
}
.Modal_big .modal-dialog {
  width: 80%;
}
.Modal_B .modal-body {
  display: table;
  width: 100%;
}
.Modal_B .modal-body .dis_cell {
  display: table-cell;
}
.Modal_B .modal-body .dis_cell:nth-child(2n) {
  width: 40px;
  padding-left: 15px;
}
.Modal_B .modal-body {
  padding: 20px 25px;
}
.Par_modal .modal-dialog {
  width: 750px !important;
}

.Modal_A.Modal_B.O_Modal_size .modal-dialog {
  width: 1024px;
}
.Modal_A.Modal_B.M_Modal_size .modal-dialog {
  width: 750px;
}
.Modal_A .modal-content,
.Modal_A .six_digit input {
  border-radius: var(--b-radius);
}
.Modal_A .ch_Pin_M .lock_icon {
  margin-top: 0;
}
.Modal_A .ch_Pin_M a.close_i {
  position: absolute;
  top: 10px;
  right: 10px;
}
.Modal_A .text {
  color: #1e1e1e;
  border-top: 1px solid #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
  font-weight: 400 !important;
  border-color: var(--b-color);
  color: var(--txt-color);
}

.customModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: none;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  z-index: 999999;
}
.customModal.show:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.cstomDialog,
.custom-modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.customModal::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.customModal::-webkit-scrollbar-track {
  background-color: #ccc;
  border-left: 1px solid #ccc;
  border-radius: 10px;
}
.customModal::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 10px;
}
.customModal::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
.modal-dialog.modal_size_in {
  width: 900px;
}

.Popup_h_er_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Popup_h_er_1 .close_i i {
  display: flex;
}
.Roww_h_1 {
  display: flex;
  align-items: center;
}
.customModal .Information_modal.Attach_modal {
  width: 600px;
}
.Attach_modal .custom-modal-header .Modal_title {
  font-size: 24px;
}
.Attach_modal .custom-modal-footer {
  padding: 15px 30px;
}

.schedules_modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
  overflow: auto;
  display: none;
  &.show {
    display: block;
  }
}

.sched_modal_dialog {
  background: #fff;
  border: solid 1px var(--bg-color);
  padding: 15px;
  width: 300px;
  min-height: 200px;
  border-radius: 10px;
  position: relative;
  margin: 50px auto;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
  }

  &.left::before {
    border-width: 15px 15px 15px 0;
    border-color: transparent var(--bg-color) transparent transparent;
    left: -15px;
    top: 50px;
  }

  &.left::after {
    border-width: 13px 13px 13px 0;
    border-color: transparent #fff transparent transparent;
    left: -13px;
    top: 52px;
  }
  & .asgndTo {
    font-size: 15px;
    margin-top: 15px;
  }

  & .attendees1 li {
    text-decoration: underline;
    width: 100%;
    padding: 3px 0;
  }

  & .attendees1 li span {
    float: right;
    color: var(--bg-color);
  }
}

.width_700 .modal-dialog {
  width: 700px;
}
.big_modal .modal-dialog {
  width: 1100px;
}

.customModal {
  .confirmation_module_size{
    width: 450px;
    padding: 30px;
  }
}