.page-sites-create {
    .tooltip {
        width: calc(100% - 30px);
        .tooltip-inner {
            margin-left: auto;
            margin-right: auto;
        }
    }
}



#addsite {
    .tooltip.in {
        filter: alpha(opacity=90);
        opacity: .9;
    }

    .custom-select {
        .Select-control {
            overflow: visible;
        }

        .Select-input > input {
            width: auto !important;
            background: none transparent;
            border: 0 none;
            box-shadow: none;
            cursor: default;
            display: inline-block;
            font-family: inherit;
            font-size: inherit;
            margin: 0;
            outline: none;
            line-height: normal;
            padding: 0;
            -webkit-appearance: none;
            height: 100%;
    
            & + .tooltip {
                //top: 0px !important;
                //right: 0px !important;
            }
        }

        .Select-menu-outer {
            z-index: 1071;
        }
    

    }
}