.btn.btn1 {
  background-color: $base_color;
  color: #fff;
  border: transparent;
  &:hover {
    color: #fff;
    background-color: $base_color;
    border: transparent;
    box-shadow: 0px 0px 5px #efefef;
  }
}
.color1 {
  color: $base_color;
}
.color2 {
  color: #3c3b3b;
}
.f-bold {
  font-weight: 500;
}
.f-bolder {
  font-weight: 700;
}
.t_underline {
  text-decoration: underline;
}
.clr_inherit {
  color: inherit;
}

.line_h_0 {
  line-height: 0;
}
.c_pointer {
  cursor: pointer;
}
.f-12 {
  font-size: 12px;
}
.f-13 {
  font-size: 13px;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.input-group1 {
  @include d-flex_;

  &:focus {
    border: solid 1px $base_color;
  }
  .form-control1 {
    flex: 1;
  }

  &.right {
    .form-control1 {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &:focus {
        border: none;
      }
    }
  }

  .input-group-text {
    background-color: #efefef;
    border: 1px solid #efefef;
  }
}
.form-control1 {
  width: 100%;
  background: #efefef;
  border: solid 1px transparent;
  height: 40px;
  border-radius: $border_rad;
  padding: 0 15px;
  &:focus {
    outline: none;
    border: solid 1px $base_color;
  }
}
.ED_lab {
  border: solid 1px grey;
  background: grey;
  color: #000;
  font-size: 11px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: $border_rad;
  font-weight: 700;

  &.enable {
    background: #d3f0d8;
    border-color: #50c264;
  }
  &.disable {
    background: #facdc9;
    border-color: #ec3728;
  }
  &.received {
    background: #ffecbf;
    border-color: #ffb300;
  }
}
