*,
html {
  box-sizing: border-box;
}

body {
  user-select: none;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-top: 85px;
  z-index: 0;
  font-size: 15px;
  color: #4c4c4c;
}

ul {
  list-style: none;
  padding-left: 0;
}
p {
  font-size: 13px;
  margin-bottom: 10px;
}

// ********************************************** //
// ************** Multiple style  *************** //
// ********************************************** //
.wtrMark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.cmnSec {
  padding: 60px 15px;
  .mainHeader {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: $base_color;
    margin-bottom: 40px;
  }
  .transBox {
    background: rgba(253, 253, 253, 0.8);
    padding: 50px 100px;
    max-width: 1400px;
    margin: 0 auto;
  }
}
.white_bx__ {
  padding: 30px;
  background: #fff;
  @include base_shadow_;
  border-radius: $border_rad;
  margin-bottom: 30px;
}

.white_bx__ {
  padding: 30px;
  background: #fff;
  box-shadow: 0px 0px 12px #dad9d9;
  border-radius: $border_rad;
  margin-bottom: 30px;
}

.profilePic {
  background: $base_color;
  color: #fff;
  width: 70px;
  height: 70px;
  margin: 10px auto;
  border-radius: 50%;
  position: relative;

  .profInitial {
    width: 100%;
    height: 100%;
    @include d-flex_;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
  }

  .addImg {
    position: absolute;
    background: #cfcada;
    color: $base_color;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    padding: 3px;
    cursor: pointer;
    i {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      border: solid 1px $base_color;
      border-radius: 50%;
      font-size: 8px;
    }
  }
}
.notifyHead {
  position: relative;
  display: inline-block;
  span {
    background: #ec3728;
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    @include d-flex_;
    @include d-flex-align-center_;
    @include d-flex-justify-center_;
    font-size: 9px;
    position: absolute;
    right: -20px;
    top: 0;
    font-weight: normal;
  }
}

.cus-chart-super_ {
  @include d-flex_;
  .cus-chart-div1 {
    width: 150px;
  }
  .cus-chart-div2 {
    @include d-flex-align-self-center_;
    li {
      @include f-14_;
    }
  }
}
.custom-bullet {
  padding-left: 15px;
  &::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-flex;
    background: #000;
    margin-left: -15px;
    margin-right: 5px;
  }
  &.due_::before {
    background: $waring_color;
  }
  &.overdue_::before {
    background: $danger_color;
  }
}
.lab1 {
  width: 100%;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.Counter_box_ {
  @include d-flex-justify-center_;
  @include d-flex_;
  @include d-direction-colum_;
  .mnNumBox {
    text-align: center;
    margin-top: 15px;
    span {
      font-size: 36px;
      color: $base_color;
      @include f-bold_;
    }
  }
}
.compPad__ {
  padding: 15px 80px;
}

.dets_Ul__ {
  li {
    margin-bottom: 15px;
    color: #636363;
  }
}

.dets_ul__ {
  display: inline-block;
  text-align: left;
  li,
  a {
    color: grey;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      color: $base_color;
    }
    &.active {
      padding-left: 15px;
      color: $base_color;
      font-weight: 600;
      &:before {
        content: "\f04b";
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
  }
}
.boxList {
  .boxie__ {
    box-shadow: 0px 0px 12px #efefef;
    padding: 20px 20px;
    margin-bottom: 30px;
    border-radius: $border_rad;
    @include d-flex_;
    align-items: center;
  }
}
.secFeat {
  > div:nth-child(1) {
    flex: 1;
    padding-right: 10px;
    font-size: 13px;
    color: #6b6b6b;
  }

  > div:nth-child(2) {
    @include d-flex_;
    align-items: center;
  }

  .edit_feat {
    color: $base_color;
    cursor: pointer;
    font-size: 18px;
  }
}
.qrCodeBox {
  width: 100%;
  height: 100px;
}
