.footer {
  background: #38296e;
  color: #fff;
  padding-top: 50px;
  & .container .company_ct {
    text-align: left;
    display: inline-block;
  }
  & .company_ct {
    & ul {
      list-style-type: none;
    }
    & .contact_logo {
      max-width: 100%;
    }
    & li {
      padding: 4px 0;
      & a {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
      }
      & a:hover {
        color: #e58e41;
        text-decoration: none;
      }
    }
  }

  & .copyright {
    font-size: 16px;
    position: relative;
    margin-top: 75px;
  }

  & .social_icons .footer_ic {
    font-size: 18px;
    padding: 0 15px;
    color: #fff;
  }
  & .designed_by {
    font-size: 14px;
  }
}
