.main_hdr {
  padding: 10px 50px;
  height: 85px;
  @include d-flex_;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  box-shadow: 0px 0px 5px #b5b4b4;
  z-index: 100;
  left: 0;
  justify-content: space-between;

  .logo_s {
    padding-right: 10px;
    width: 200px;

    img {
      width: 100%;
    }
  }

  .nav_s {
    position: relative;
    padding-left: 30px;

    .navbar-navie {
      @include d-flex_;
      list-style-type: none;
      margin-bottom: 0;
      align-items: center;
      .nav-item {
        font-size: 13px;

        .nav-link {
          color: #38296e;
          padding-left: 15px;

          &.active {
            color: #38296e;
            background: #f6f3ff;
            border-radius: 7px;
          }
        }
      }
    }
  }

  .but_s {
    @include d-flex_;
    justify-content: flex-end;
    align-items: center;

    span.but_l {
      margin-left: 20px;
      &.toggle_s {
        display: none;
      }
      &.login_bt .right_anB {
        background: #3a2467;
        color: #fff;
        border: solid 2px #3a2467;
        text-decoration: none;
      }
    }
  }

  .toggle_ic {
    width: 35px;
    height: 30px;
    padding: 6px 5px;
    border: solid 1px #cecece;
    border-radius: 3px;
    cursor: pointer;

    span {
      width: 100%;
      display: block;
      height: 2px;
      background: #cecece;
      margin-bottom: 5px;
    }
  }

  .right_anB,
  .right_anB:hover {
    color: #3a2467;
    padding: 2px 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    border-radius: 7px;
  }

  .navie_bts {
    margin-bottom: 0px !important;
    display: flex;

    button {
      border: solid 2px #3a2467;
      color: #3a2467;
      font-weight: 700;
      font-size: 14px;
      border-radius: 7px;
      background: #fff;
      width: 100%;
    }
    &.active button {
      background: #3a2467;
      color: #fff;
    }
  }

  .close_ic {
    width: 30px;
    height: 30px;
    border: solid 1px #3a2467;
    background: #3a2467;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .logo_and_nav{
    display: flex;
  }
}
// header ends
