@mixin d-flex_ {
  display: flex;
  display: -ms-flexbox;
}
@mixin d-flex-align-center_ {
  align-items: center;
}
@mixin d-flex-justify-center_ {
  justify-content: center;
}
@mixin d-flex-align-self-center_ {
  align-self: center;
}
@mixin base_shadow_ {
  box-shadow: 0px 0px 12px #dad9d9;
}
@mixin d-direction-colum_ {
  flex-direction: column;
}
@mixin f-12_ {
  font-size: 12px;
}
@mixin f-13_ {
  font-size: 13px;
}
@mixin f-14_ {
  font-size: 14px;
}
@mixin f-bold_ {
  font-weight: 600;
}
