.modal__ {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow-y: auto;
//   display: none;

  &.show {
    display: block;
  }

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal_dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 500px;
    max-width: 100%;
    background: #fff;
    box-shadow: 0px 0px 15px #585757;
    padding: 30px;
    border-radius: $border_rad;
    margin: 15px 0;
  }

  .closeModal {
    font-size: 22px;
  }
}
