.table_common__ {
  .ReactTable {
    border: none;

    .rt-thead {
      padding: 15px 15px 0px;
      box-shadow: none;
      &.-header{
        box-shadow: none;
      }
      .rt-tr {
        @include base_shadow_;
      }
    }

    .rt-tbody {
      padding: 15px;
      overflow-x: hidden;

      .rt-tr-group {
        .rt-tr{
            margin-bottom: 15px;
            @include base_shadow_;
            border-bottom: none;
            padding: 7px 0;
        }
      }
      .rt-td {
        border-right: none;
        @include d-flex_;
        align-items: center;
        > div {
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 13px;
        }

        .action_c {
          text-align: right;
          i,
          a {
            color: $base_color;
            cursor: pointer;
          }
        }
      }
    }

    .pagination-bottom {
      width: 450px;
      max-width: 100%;
      margin: 0 auto;

      .-pagination {
        box-shadow: none;
        border: none;

        select {
          border: solid 1px $base_color;
        }

        > div {
          @include d-flex_;
          align-items: center;
        }
        .-pageJump input {
          width: 60px;
          border: solid 1px $base_color;
        }
        .-center {
          flex: 5;
        }
        .-btn {
          width: 30px;
          height: 30px;
          background: $base_color;
          color: #fff;
          //   @include flex_center;
          border-radius: 50%;
          &:hover {
            background: $base_color;
          }
        }

        .-next {
          @include d-flex_;
          justify-content: flex-end;
        }
      }
    }
  }
}
