.cmn_select {
    &.center {
      .Select-value {
        text-align: center;
      }
    }
    .Select {
      position: relative;
      .Select-input {
        width: 100%;
        height: 38px;
        max-width: 100%;
      }
      .Select-control {
        height: 40px;
        background: #efefef;
        border: solid 1px #efefef;
        max-width: 100%;
        &:hover {
          box-shadow: none;
        }
      }
      &.is-open {
        .Select-control {
          border: solid 1px $base_color;
          background: #efefef;
        }
      }
      &.is-focused:not(.is-open) {
        .Select-control {
          background: #efefef;
        }
      }
    }
  
    &.grey_bg {
      .Select {
        .Select-control {
          background: #595959;
          border: solid 1px #595959;
        }
        &.is-open {
          .Select-control {
            border: solid 1px #595959;
            background: #595959;
          }
        }
        &.is-focused:not(.is-open) {
          .Select-control {
            background: #595959;
          }
        }
  
        .Select-value .Select-value-label {
          color: #fff !important;
        }
        .Select-input {
          background: transparent;
          border: none;
          color: #fff;
          input {
            color: #fff;
          }
        }
      }
    }
  }