.page-sub-orgs-create {
    form .required {
        color: #dc3545
    }

    #AttachAndAdd-buttons {

        .attach-parent-org, .add-sites {
            max-width: 256px;
            width: 100%;
            margin-right: 15px;
            vertical-align: top;
            position: relative;

            .btn:hover {
                background-color: #343a40; // $gray-800
                color: white;
            }

            .btn {
                position: relative;

                .icon-btn {
                    margin-left: 28px;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    top: 8px;
                    right: 4px;
                }
            }

            .required {
                position: absolute;
                top: 0;
                right: -10px;
            }

        }
    }

    .form-group {
        h4 {
            font-size: 20px;
        }
    }

    label {
        margin-bottom: 0;
    }

    .row > div {
        margin-bottom: 15px;
    }

    .entry-header {
        padding: 11px 15px 5px 15px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;

        h2 {
            font-size: 28px
        }
    }

    .breadcrumb {
        $breadcrumb-separator: "\00a0\00a0\00a0>"; // '>'

		background-color: inherit;
        padding: 0;
        margin-top: 24px;
        margin-bottom: 24px;

		.breadcrumb-item {
			&:not(:first-child)::before {
				content: $breadcrumb-separator;
			}

			&:last-child::after {
				content: $breadcrumb-separator;
			}
		}
    }

    .site-information {
        margin-bottom: 48px;
    }
    

}

@media (min-width: 768px) {
    .page-sub-orgs-create {
        .form-group {
            margin-top: 48px;
            margin-bottom: 48px;
        }
    }
}