
html{width: 100%; height: 100%;}
body.marketingBody{overflow-x: hidden; width: 100%; height: 100%; user-select: none; background: #f5f5f5; word-break: break-word;}

*{box-sizing: border-box;}
:root{
  --b-radius:5px;
  --bg-color:#286489;
  --grey-color1 :#ececec;
}

.backdrop
{
    position: fixed;
    width: 100%;
    height: calc(100% - 55px);
    z-index: 49;
    background: rgba(0, 0, 0, 0.02);
    display: none;
    margin-top: 55px;

}

.backdrop.show{display: block;}

div{font-size: 13px;}
ul{list-style-type: none; padding-left: 0; margin-bottom: 0;}
select.cstmSlctHt{background: var(--bg-color); color: #fff; border-radius: 5px;}
select.cstmSlctHt option{background: #fff; color: #000;}
input:focus, textarea:focus{outline: none;}
button{cursor: pointer;}
a:hover{text-decoration: none;}
.cmn-btn1, .cmn-btn1:hover, .cmn-btn1:focus 
{background-color: var(--bg-color);color: #fff;border: solid 2px  var(--bg-color);    }


/* bootstrap 4 col space changed */
.row{margin-left: -7px ; margin-right: -7px;}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, 
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, 
.col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, 
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, 
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
 .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, 
 .col-xl-8, .col-xl-9, .col-xl-auto
{padding-left: 7px; padding-right: 7px;}



.cmn_clr1{color:var(--bg-color);}
.bor_bot1{border-bottom: solid 1px var(--bg-color);}
.bor_top1{border-top: solid 1px var(--bg-color);}
.pd_tb_10{padding-top: 10px; padding-bottom: 10px;}
.pd_tb_15{padding-top: 15px; padding-bottom: 15px;}
.pd_t_15{padding-top: 15px;}
.mr_t_15{margin-top: 15px;}
.mr_tb_15{margin-top: 15px; margin-bottom: 15px;}

.bor_tb{border-bottom: solid 1px var(--bg-color); border-top: solid 1px var(--bg-color);}
.bor_tb_grey{border-bottom: solid 1px grey; border-top: solid 1px grey;}
.bor_l_grey{border-left: solid 1px grey;}

header.main_header {
  background: #404040;
  color: #fff;
  box-shadow: 0px 0px 20px 5px #00000057;
  padding:10px 15px;
  width: 100%;
  height: 55px;
  transition: all ease 0.5s; 
}

header.main_header i {cursor: pointer;}

header.main_header .hdrs_ics{font-size: 20px; display: inline-block; padding: 0px 5px; line-height: 0px; position: relative;}
.notiCircle {
  position: absolute;
  width: 17px;
  height: 17px;
  background: red;
  border-radius: 50%;
  font-size: 9px;
  top: -7px;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  line-height: 17px;
  padding: 0px;
  right: 0;
}

.right_ul {
  display: -webkit-flex;
  display: flex;
  float: right;
}
.right_ul .Ulopts{position: relative;}
.right_ul .Ulopts i {
  color: #dedede;
}
.right_ul .Ulopts.active, .right_ul .Ulopts i:hover {
  color: #fff;
}


.sidebar
{
    background: #363636;
    width: 250px;
    height:100%;
    position: fixed;
    top: 0;
    transition: all ease 0.5s;
    z-index: 50;

}

.sidebar.right{right: -250px;}
.sidebar.left{left: -250px;}

.sidebar.right.toggle_right{right: 0;}
.sidebar.left.toggle_left{left: 0;}

.main_wrapper{transition: all ease 0.5s; height: 100%; position: relative; min-height: calc(100vh - 55px);}

.authwrapperSec{padding-left: 250px;}
.main_wrapper.toggle_right header.main_header{padding-right: 250px;}
.main_wrapper.toggle_left header.main_header{padding-left: 250px;}


.Login_page
{width: 100%; min-height: 100vh; text-align: center; padding: 15px; padding-top: 100px; justify-content: center;}

.foot_cmn{font-weight: 600; font-size: 13px;}
.login_foot{display: flex; display: -ms-flexbox; align-items: flex-end; }


.rmbrDv__{margin-bottom: 30px; cursor: pointer;}
.rmbrDv__ span{display: inline-block;padding-left: 5px;}
.csform-group {
    width: 100%;
    margin-bottom: 15px;
}

label {
    font-weight: 600 ;
    font-size: 13px ;
    margin-bottom: 0px;
}

.csForm_control {
    width: 100%;
    height: 35px;
    border-radius: var(--b-radius);
    border: solid 1px var(--bg-color);
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
    position: relative;
}

textarea.csForm_control{height: 100px; max-height: 100px; resize: none;}

.login_box{text-align: left; width: 90%; margin: 15px auto; max-width: 300px; margin-top: 50px;}
.login_box .inpLabel1{font-weight: 700; margin-top: 20px;}

.loginHdng1__{font-size: 30px; font-weight: 700; margin-top: 25px;}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.asideSect__{background: #f7f7f7;min-height: calc(100vh - 55px);  position: relative; padding: 15px; padding-left: 265px;  }

.main_sidebar__
{
    width: 250px;
    background: #fff;
    height: 100%;
    position: absolute;
    left: 0;
    top: 55px;
    overflow-y: auto;
}

/* .main_sidebar__.fixed{position: fixed;} */

.sideHead1__
{
    width: 100%;
    min-height: 100px;
    background: var(--bg-color);
    font-size: 17px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

.sideNavies__{list-style-type: none; padding-left: 0; font-size: 14px;}
.sideNavies__ li a{display: block; padding: 7px 15px; color: #454545; font-weight: 500;}

.sideNavies__ li a:hover,
.sideNavies__ li a.active:hover
{ text-decoration: none;  font-weight: 500; color:var(--bg-color);} 

.sideNavies__ li a.active, 
.sideNavies__ li a.active:hover{font-weight: 700; color:var(--bg-color);}


.MainLoader{
  width: 100%; height: 100%; background: rgba(253, 253, 253, 1); position: fixed; z-index: 1000;
}

.MainLoader .block-ui{height: 100%;}

.log_faceIc i {
  font-size: 120px;
  line-height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.forgot_lnk__{margin-top: 12px;}
.forgot_lnk__ a{color:var(--bg-color); font-weight: 700; }


/* custom checkbox */
.cstmChekie{position: relative; display: block; cursor: pointer;user-select: none;  display: inline-block; }
.cstmChekie .chkie{ position: relative; padding-left: 20px;  }
.chkie:before{content: "";font-family: "hcm-marketing";background: #fff; border-radius: 3px;position: absolute;
  top:2px;left: 0px;border:solid 1px var(--bg-color); line-height: 01; color:  #fff; width: 15px; height: 15px;}
.cstmChekie input{visibility: hidden; width: 0; height: 0; position: absolute;}

.cstmChekie input:checked + .chkie:before,
.cstmChekie input:checked + div + .chkie:before
{background: var(--bg-color);}


.cstmChekie input:checked + .chkie:before,
.cstmChekie input:checked + div + .chkie:before{content:"\6f";}

.cstmChekie input:indeterminate  + .chkie:before, 
.cstmChekie input:indeterminate + div + .chkie:before{content: "\6f";}


.cstm_select {
  border-radius: 25px;
}

.cstm_select .Select-placeholder, .Select--single > .Select-control .Select-value{padding-right: 25px;}

.cstm_select .Select-control {
  height: 35px;
  border-radius: var(--b-radius);
  cursor: pointer;
}

.cstm_select .Select-control {
  background: #fff ;
  border-color: #d2d2d2 ;
}



.cstm_select .Select-control .Select-input {
  width: 100%;
}
.cstm_select .Select-control .Select-input {
  padding-right: 30px;
}

.cstm_select .Select-control .Select-input > input {
  width: 100% !important; 
}

.cstm_select .Select-arrow{
  border-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  border-width: 0px;
  top: 0; right: 0;
  display: flex;
  align-items: center;
}

.cstm_select .Select.is-open > .Select-control .Select-arrow{
  border-color: transparent;
  border-width: 0px;
  top:0px;
}


.cstm_select.header_filter{width: 80%; margin: 0 auto;}

.cstm_select.search_filter .Select-control{cursor: text;}
.cstm_select.search_filter .Select-arrow:before
{
  content: "\58";
  font-family: "hcm-marketing" !important;
  display: block;
  position: absolute;
  font-size: 17px;

}


.cstm_select.slct_cstm2 .Select-arrow::before
{
  content: "\54";
  font-family:"hcm-marketing" !important;
  border-width: 0px;
  top: 6px;
  position: absolute;
  margin-left: 0;
  font-size: 14px;
}

.cstm_select.slct_cstm2 .Select.is-open > .Select-control .Select-arrow::before{
  content: "\52";
}

.cstm_select.slct_cstm2 .Select-clear-zone{display:none;}

.cstm_select.bg_grey .Select-control,
.cstm_select.bg_grey .Select.is-focused:not(.is-open) > .Select-control
{background: #bebebe; }

.cstm_select.bg_grey .Select-input:focus{background: transparent;}

.cstm_select.bg_grey .Select-placeholder{color:#000;}

.cstm_select .Select-arrow{
  border-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  border-width: 0px;
  top: 0; right: 0;
  display: flex;
  align-items: center;
}

.cstm_select .Select.is-open > .Select-control .Select-arrow{
  border-color: transparent;
  border-width: 0px;
  top:0px;
}

.main_heading_cmn- {
  color: var(--bg-color);
  border-color: var(--bg-color);
  border-bottom: solid 1px;
  padding: 10px 0;
}

.main_heading_cmn- h1 {
  margin-top: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: inherit;
  color: var(--bg-color) !important;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.main_heading_cmn- h1>span {
  flex: 1;
}
.dropdownMenu{transition: all ease 0.5s;}
.drpHdng{
    cursor: pointer;   
    padding: 7px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.drpHdng span{flex: 1; font-size: 14px;}
.drpHdng span strong{font-weight: 500;}
/* .drpHdng.open span{color: var(--bg-color)} */
.drpHdng> i{font-size: 18px;}
.drpHdng.open> i{transform: rotate(90deg)}
.dropdownMenu ul{display: none; padding-left: 15px; font-size: 13px;}
.dropdownMenu ul li a{padding: 2px 15px;}
.drpHdng.open + ul{display: block;}

.cat_counts >div.cat_cols__{padding-left: 7px; padding-right: 7px; flex: 1;}
.cat_counts .catBox_{background: #efefef; padding: 15px; margin-bottom: 15px; border-radius: var(--b-radius); 
  color:#000; text-align: center; height: 100%;;}
.cat_counts .catBox_.participants{background:#e4d5f8;}
.cat_counts .catBox_.members{background:#f8dbd2;}
.cat_counts .catBox_.shifts{background:#f0d4de;}
.cat_counts .catBox_.orgs{background:#c0e5cf;}
.cat_counts .catBox_.fms{background:#edc4c4;}
.catBox_ h4{font-size: 15px; font-weight: 700;}
.catBox_ h2{font-size:30px; font-weight: 700;}

.prog_inact_row>div{padding-bottom: 15px;}
.prog_inact_row .inact_box__{padding: 15px; padding-bottom: 0; background: var(--grey-color1); border-radius: var(--b-radius); margin-bottom: 15px; height: 100%;}

/* .inact_box__{display: table;} */
.inact_box__ .intcts{display: table-row; margin-bottom: 15px;}
.inact_box__ .intcts >div{display: table-cell; vertical-align: middle; padding-bottom: 5px;}
.inact_box__ .intcts >div.val_int{font-weight: 500; font-size: 22px;text-align: right; min-width: 75px;}
.prog_inact_row .inact_box__.fnt_big .desc_int{font-size:14px;}


.icon_ar.green{color: #0fc70f;}
.icon_ar.red{color:red;}
.desc_int{font-weight: 500;}

.map_area{background: #ececec; height: 800px; border-radius: var(--b-radius); overflow: hidden; width: 100%;position: relative;}

label.error{color:red; font-size: 13px;}

.arw_ic_pr{display: block; margin-top: 5px; font-size: 22px;}

.react_box{background: var(--grey-color1); padding: 15px;}
.reach_row >div{margin-bottom: 15px; border-radius: var(--b-radius);}

.reachgraph_area__ >div{width: 50%; padding-left: 7px; padding-right: 7px;}
.grph_dv{position: relative; height: 150px;}
.flex-1{flex: 1;}
.data_dv{font-weight: 500;}
.data_dv >div{padding-left: 30px;}


/* custom radio button/ */
.cstm_radio [type="radio"]:checked,
.cstm_radio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.cstm_radio [type="radio"]:checked + div.rad_lab,
.cstm_radio [type="radio"]:not(:checked) + div.rad_lab
{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
    margin-right: 10px;
    font-weight: 600;
    font-size: 12px;
}
.cstm_radio [type="radio"]:checked + div.rad_lab:before,
.cstm_radio [type="radio"]:not(:checked) + div.rad_lab:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    border: 1px solid var(--bg-color);
    border-radius: 100%;
    background: #fff;
}
.cstm_radio [type="radio"]:checked + div.rad_lab:after,
.cstm_radio [type="radio"]:not(:checked) + div.rad_lab:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--bg-color);
    position: absolute;
    top: 5px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.cstm_radio [type="radio"]:not(:checked) + div.rad_lab:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.cstm_radio [type="radio"]:checked + div.rad_lab:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.react-datepicker{font-family: sans-serif;}
.react-datepicker__header{background: var(--bg-color);}
.react-datepicker__current-month, .react-datepicker-time__header{color:#fff;}
.react-datepicker__day-name{color:#fff;}
.react-datepicker__navigation:hover{box-shadow:none;}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected
{background-color: var(--bg-color);}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle
{border-bottom-color: var(--bg-color);}

.filter_area .vw_side{ width: 200px; padding-left: 50px; font-size: 16px;}
.filter_area .vw_side2{padding-left: 50px; font-size: 16px;}
.fil_datie{width: 130px;}

.big_graphBx{padding: 15px; background: var(--grey-color1); height: 100%;;}

.data_bx{background: #fff; padding: 15px 15px; border:solid 1px var(--bg-color); border-radius: var(--b-radius); max-width: 200px;}

.data_checks li {margin-bottom: 5px;}
.doughnut_gr{position: relative;max-width: 350px;}
.doug_data >div{font-size: 15px; font-weight: 600;}

.dou_flex{flex-wrap: wrap;}
.data_lf{width: 180px;}
.data_rg{width: calc(100% - 180px);}


.gm-style .gm-style-iw-c{box-shadow: 0 2px 7px 1px transparent !important; border-radius: 0; padding: 0 !important; }
.gm-style .gm-style-iw{ padding-top: 0px; padding-left: 0;}
.gm-style-iw-d{overflow: auto !important;}
.info_content {
    cursor: pointer;
    padding:10px 15px;
    display: flex;
    align-items: center;
	justify-content: center;
	border: solid 1px #0d294a;
  color: var(--bg-color);
  font-weight: 700;

}

.gm-style .gm-style-iw-t::after{z-index: -1; width: 7px; height: 7px; background: var(--bg-color);}

.statis_bx__{background: var(--grey-color1); padding: 15px; height: 100%; border-radius: var(--b-radius)}

.mg_ics{padding-top: 4px; margin-right: 5px;}
.mg_ics_head >div{font-size: 15px;}
.mg_ics_head >div>i{font-size: 17px;}
.color_participant{
  color:#992bff;
}
.color_shift
{
  color:#e07196
}
.marker_listBox div{font-weight: 600; font-size: 14px;}
.tickie_ul.tickie_right li{flex-direction: row-reverse;}
.tickie_ul li{ margin-right: 15px;display: flex; display: -ms-flexbox; align-items: center;}
.tickie_ul li .tickie{width: 15px; height: 15px; display: inline-block; border-radius: var(--b-radius); margin-right: 5px;}

.tickie_ul.tickie_right li .tickie{margin-left: 5px;}
.tickie_ul.tickie_right li{margin-right: 0;}

.typesParti__ .legend_tickie{width: 40%; margin-bottom: 50px;}
.partic_dough{position: relative; width: 60%;}

.flex-3{flex:3}
.flex-2{flex:2}
.stats_rw15 > div{ margin-bottom: 15px;}
.configBox{background: var(--grey-color1); padding: 15px; border-radius: var(--b-radius);}


.api_dv{max-width: 600px; margin: 0 auto;}

.api_dv >div:first-child{text-align: right; width: 150px;font-weight: 600;}
.api_dv >div:last-child{flex: 1;}

.config_inp{position: relative;}

.config_inp::after
{
  font-family: "hcm-marketing";
  content: "\6f";
  position: absolute;
  right: 5px;
  top: 7px;
  font-size: 15px;
  color:grey;
}
.config_inp.success::after
{
  color:#13d013;
}
.config_inp input{padding-right: 30px;}

.profileBox{background: var(--grey-color1); padding: 15px; border-radius: var(--b-radius);}

.prof_ic159 span{ display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
  border: solid 1px var(--bg-color);
  align-items: center;
  justify-content: center;
  margin: 0 auto;}
.prof_ic159 span i{font-size: 110px; line-height: 0;}
.prof_formGroup{display: flex;    max-width: 600px;
  margin: 0 auto;}
.left_p{min-width: 150px; text-align: right; padding-right: 20px; padding-top: 6px;}
.right_p{flex: 1;}
.field_desc{color:#000; border-bottom: dashed 1px var(--bg-color); font-size: 15px; min-height: 25px; font-weight: 400; padding-right: 50px;position: relative; margin-bottom: 10px;}
.field_desc i.edit_ic{color:var(--bg-color); cursor: pointer;}
.edit_ic{position: absolute; right: 0; top: 0}

.ps_group{display: flex; display: -ms-flexbox; margin-bottom: 15px; padding-right: 15px;}
.p_l_side{min-width: 200px; text-align: right; padding-right: 20px; padding-top: 6px;}

.p_r_side{flex: 1;}

.funnel_graph{height: 500px; display: flex;}
.funnel{height: 100%; display: flex; flex-flow: column; flex: 1; padding: 0 7px;}
.funnel_part{flex: 1;position: relative;}
.funnel.funnel_left{flex-wrap: wrap-reverse;}


.funnel_part:before, .funnel_part:after{
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 0;
  content:'';
  border-color:transparent;
}

.funnel_graph.dashboard_funnel{height: 420px;max-width: 400px; margin-left: -30px;}
.dashboard_funnel .funnel_left .part1{width: 80%; flex: 1.5; background-color: #b175ff}
.dashboard_funnel .funnel_left .part2{width: 80%; background-color: #c497fe}
.dashboard_funnel .funnel_left .part3{width: 75%; background-color: #ebdcff}
.dashboard_funnel .funnel_left .part4{width: 60%; background-color: #f9f6fd}
.dashboard_funnel .funnel_left .part5{width: 60%; background-color: #ffffff}

.dashboard_funnel .funnel_right .part1{width: 80%; flex: 1.5; background-color: #ff8a67}
.dashboard_funnel .funnel_right .part2{width: 80%; background-color: #ffa88d}
.dashboard_funnel .funnel_right .part3{width: 75%; background-color: #ffe2d9}
.dashboard_funnel .funnel_right .part4{width: 60%; background-color: #fff9f7}
.dashboard_funnel .funnel_right .part5{width: 40%; background-color: #ffffff}


.dashboard_funnel .funnel_left .part1:before{
  border-width: 0px 50px 115px 0;
    border-color: transparent #b175ff transparent transparent;
    left: -50px;
}

.dashboard_funnel .funnel_left .part3:before{
  border-width: 0px 9px 76px 0;
    border-color: transparent #ebdcff transparent transparent;
    left: -9px;
}
.dashboard_funnel .funnel_left .part4:before{
  border-width: 0px 28px 76px 0;
    border-color: transparent #f9f6fd transparent transparent;
    left: -28px;
}


.dashboard_funnel .funnel_right .part1::before {
  border-width: 114px 85px 0px 0;
    border-color: #ff8a67 transparent transparent transparent;
    right: -85px;
}

.dashboard_funnel .funnel_right .part3::before {
  border-width: 77px 9px 0px 0;
    border-color: #ffe2d9 transparent transparent transparent;
    right: -9px;
}

.dashboard_funnel .funnel_right .part4::before {
  border-width: 77px 28px 0px 0;
  border-color: #fff9f7 transparent transparent transparent;
  right: -28px;
}

.dashboard_funnel .funnel_right .part5::before {
  border-width: 77px 37px 0px 0;
    border-color: #ffffff transparent transparent transparent;
    right: -37px;
}

.funnel_graph.participate_funnel{height: 400px; max-width: 550px; margin: 15px auto; min-width: 400px;}
.participate_funnel .funnel_left .part1{width: calc(100% - 70px); flex: 1.5; background-color: #982afe}
.participate_funnel .funnel_left .part2{width: calc(100% - 70px); background-color: #b25ffe}
.participate_funnel .funnel_left .part3{width: calc(100% - 100px); background-color: #e4c9fe;}

.participate_funnel .funnel_right .part1{width: calc(100% - 100px); flex: 1.5; background-color: #29658a}
.participate_funnel .funnel_right .part2{width: calc(100% - 110px); background-color: #5f8ca8}
.participate_funnel .funnel_right .part3{width: calc(100% - 180px); background-color: #c9d8e2;}

.participate_funnel .funnel_left .part1::before
{border-width: 0px 70px 171px 0;border-color: transparent #982afe transparent transparent;left: -69px;}



.participate_funnel .funnel_left .part2::before
{border-width: 0px 0 58px 10px;border-color: transparent transparent #b25ffe transparent;left: -9px;}

.participate_funnel .funnel_left .part2::after
{border-width: 0px 10px 57px 0;border-color: transparent #b25ffe transparent transparent;
  left: -9px;
  bottom: 0;
  top: inherit;}

.participate_funnel .funnel_left .part3::before
{border-width: 0px 30px 60px 0;
  border-color: transparent #e4c9fe transparent transparent;
  left: -29px;}

.participate_funnel .funnel_right .part1::before
{border-width:171px  100px 0px  0;border-color: #29658a transparent transparent transparent;right: -100px;     width: calc(100% + 100px);}

.participate_funnel .funnel_right .part2::before
{border-width: 57px 10px 0 0;
  border-color: #5f8ca8 transparent transparent transparent;
  right: -10px;
  width: calc(100% + 10px);
 }


 .participate_funnel .funnel_right .part3::before
 {border-width: 55px 15px 0 0;
  border-color: #c9d8e2 transparent transparent transparent;
  right: -70px;
  width: calc(100% + 70px);
}

  .participate_funnel .funnel_right .part3::after
  {border-width: 59px 48px 0 0;
    border-color: #c9d8e2 transparent transparent transparent;
    right: -55px;
    width: calc(100% + 55px);
    bottom: 0;
    top: inherit;}

.funnel_flex{padding: 15px 30px; position: relative;}
.funnel_flex .l_col, .funnel_flex .r_col{position: absolute; top: 40%;}
.funnel_flex .l_col{left: 0;}
.funnel_flex .r_col{right: 0;}

.funnel_flex .m_col{padding-left:10px; padding-right: 10px;}
.funnel_flex .m_col  .participate_funnel{transform: scale(0.9)}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto;
}

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip-inner {
  background-color: #cc0000 !important;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #cc0000 !important;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #cc0000 !important;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #cc0000 !important;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #cc0000 !important;
}

.flex-3-orgs{flex: 3;}

.mnth_sel_pr{display: flex; display: -ms-flexbox; align-items: center;}
.mnth_sel_pr .cstm_select{min-width: 150px;}

.fnt_16{font-size: 16px;}
.min_wid_150{min-width: 150px;}
/* 
.fi_col{width: 30%;}
.si_col{width: 50%;}
.ti_col{width: 30%;}
.foi_col{width: 100%;} */

.orgGridie
{
  display: grid;
  grid-template-columns: 50px auto auto auto auto;
  align-items: center;
  width: 100%;
  column-gap: 15px;
}
/* .orgGridie > div{width: 100%;} */

#funnelContainer{width: 100%; max-width: 100%;}
.org_flex{flex-wrap: wrap;}
.validMsgBox__
{
    padding:5px 10px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: var(--b-radius);
}
.validMsgBox__ i{line-height: 1; margin-right: 10px; height: 15px;;}

.validMsgBox__.successMsg1{background: #5ae85a; color: #fff;}
.validMsgBox__.errorMsg1{background: #ff5a5a; color: #fff;}


.cstm_Modal__ {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1000;
  left: 0;
  top: 0;
  text-align: center;
}
.cstm_Modal__::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.cstm_Modal__::after {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.cstm_Modal__.show {
  display: block;
}
.cstm_Modal__ .modal-dialog__ {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: #fff;
  padding: 50px 60px;
  width: 600px;
  max-width: 100%;
  position: relative;
}
.cstm_Modal__ .modal-dialog__ .close_modal {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 15px;
  background: var(--bg-color);
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  font-size: 25px;
  box-shadow: 0px 4px 7px #b5b5b5;
  
}
.cstm_Modal__ .modal-dialog__ h2 {
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.resent_c{cursor: pointer; font-weight: 600;}
.btn_area157_ div{width: 50%;}
.btn_area157_ div:first-child{text-align: right; padding-right: 15px;}

.veriFy_frmGr label{min-width: 120px; font-weight: 700;}