@media (min-width: 768px)
{
    
}

@media (min-width: 1201px)
{

    
    
}

@media (min-width: 1301px)
{
    
}

@media (max-width: 1500px)
{
    .catBox_ h4{font-size: 13px;}
    .catBox_ h2{font-size: 25px;}
    .data_dv >div{padding-left: 0;}
    .funnel_flex{padding: 15px 0; display: flex; flex-wrap: wrap;}
    .funnel_flex .l_col{order: 2; position: relative; width: 50%;}
    .funnel_flex .m_col{order: 1; width: 100%; padding-left: 0; padding-right: 0;}
    .funnel_flex .r_col{order: 3;position: relative; width: 50%;}

    .funnel_flex .m_col  .participate_funnel{ transform: scale(0.8)}
    .parti_flx{flex-wrap: wrap;}
    .parti_flx .partic_dough{width: 100%;}
    .parti_flx .legend_tickie{width: 100%;}
    .sel_or15{flex-wrap: wrap;}
    .sel_or15>div{width: 100%; flex: none;}
     /* .participate_funnel .funnel_left .part1::before{    border-width: 0px 70px 128px 0;}
    .participate_funnel .funnel_right .part1::before{border-width: 128px 100px 0px 0;} */
    .data_lf{width: 160px;}
    .data_rg{width: calc(100% - 160px);}
    .typesParti__{flex-wrap: wrap;}
    .typesParti__ .partic_dough{width: 100%;}
    .typesParti__ .legend_tickie{width: 100%;}
}

@media (max-width:1400px){
    .orgGridie{align-items: initial;}
    .foi_col{flex-wrap: wrap;}
    .foi_col label{width: 100%; margin-bottom: 5px;}
    .foi_col .min_wid_150{min-width: auto;}
    .si_col{flex-wrap: wrap;}
    .si_col label{width: 100%; margin-bottom: 5px;}
    .si_col .min_wid_150{min-width: auto;}
}
  
@media (max-width: 1300px)
{
    .main_heading_cmn- h1{font-size:40px;}
    .catBox_ h2{font-size: 22px;}
    .funnel_flex .m_col  .participate_funnel{ transform: scale(0.7)}
}

@media (max-width: 1200px)
{
    .main_heading_cmn- h1{font-size: 35px;}
    .main_heading_cmn- .hdng_btn{font-size: 13px;}
    .catBox_ h2{font-size: 20px;}
    .select_or{flex-wrap: wrap;}
    .select_or>div{width: 100%;}
    .funnel_flex .m_col  .participate_funnel{ transform: scale(1)}
    .data_lf{width: 100%; margin-bottom: 15px; order:2;  padding-right: 0!important;}
    .data_rg{width: 100%;order:1; margin-bottom: 15px; padding-left: 0!important;}
    .flex-3-orgs{flex: none; margin-bottom: 10px;}
    .foi_col .cstm_select{width: 100%; min-width: 100%; margin-bottom: 5px; padding-right: 0 !important; }
    .si_col{align-items: initial !important;}
    .filter_area .vw_side{width: 100px; padding-left: 0;}
    .si_col{display: block !important;}
    
}

@media (max-width: 1024px)
{
    
}

@media (max-width: 991px)
{
    
}

  
@media (max-width: 767px){
    
}