/*// Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 1100px) {
	p.concern_msg{position: static; transform: translate(0); margin-top: 15px;}
	.log_out_icon{font-size: 25px;}
	.text-right .logo img{width: 28px;}
	.ifo_ic_1{font-size: 25px; margin-right: 5px;}
}

@media (max-width: 1200px){
	.container {
		width: 98% !important;
	}
	.resident_name{font-size: 14px;}
	.your h4{font-size: 2.2rem !important;}
}

@media (max-width: 991px){
	p.empty_message{bottom: 115px; position: static; transform: translate(0)}
}
@media (max-width: 575px) {

	/****** roster Modal ********/
	.big_modal_roster .modal-dialog,
	.preferences_modal .modal-dialog{
		max-width: 100% !important;
		margin: 0px;
		padding: 0px;
	}
	.col.border_dotted_right.px-0,
	.col.pdd-b.align-self-center.px-0{
		width: 50%;
	}
	.collaspe_roster h3{
		font-size: 17px !important;
	}
	.big_modal_roster input.checkbox_flex[type="checkbox"] + label span{
		width: 15px;
		height: 15px;
	}
	.big_modal_roster input.checkbox_flex[type="checkbox"]:checked + label span:after{
		font-size: 14px;
	}
	.flex.make_up{
		display: inline-block;
	}
	.flex.make_header.pr-3.bb-1{
		display: inline-block;
		width: 100%;
	}
	.flex.make_header.pl-3.bb-1 {
    width: 100%;
    display: inline-block;
}
	.flex.make_up div,
	.flex.make_header div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 100%;
    max-width: 100%;
    display: block !important;
    float: left;
    max-width: max-content;
    text-align: center;
    font-size: 10px;
	}
	.flex.make_up div:not(first-child){
		padding: 0px 5px !important;
	}
	.flex.make_header div:not(first-child){
		padding: 0px 5px !important;
	}
	.col-1.py-2.px-3.br-1,
	.col-1.py-3.px-3.color.font_w_4.br-1 {
    min-height: 36px;
    height: auto;
}
.collaspe_roster .flex:nth-of-type(even) .make_up,
.collaspe_roster .flex:nth-of-type(odd) .make_up{
	border-radius: 0px;
}
/******End roster Modal ********/

.size_add .modal-dialog{
	max-width: 100% !important;
    width: 100% !important;
    margin: 0px;
    padding: 0;
    border: 0;
    box-shadow: none;
}
.modal:before{
	margin-right: 0px;
}
.success-cartoon, .worning-cartoon, .danger-cartoon {
    display: inline-flex !important;
    width: 33%;
    height: 40px;
    position: relative;
    margin: 4px auto;
    text-align: center;
    justify-content: center;
}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
/****** roster Modal ********/
.big_modal_roster .modal-dialog,
.preferences_modal .modal-dialog{
		max-width: 100% !important;
		margin: 0px;
		padding: 0px;
	}
	.col.border_dotted_right.px-0,
	.col.pdd-b.align-self-center.px-0{
		width: 50%;
	}
	.collaspe_roster h3{
		font-size: 17px !important;
	}
	.big_modal_roster input.checkbox_flex[type="checkbox"] + label span{
		width: 15px;
		height: 15px;
	}
	.big_modal_roster input.checkbox_flex[type="checkbox"]:checked + label span:after{
		font-size: 14px;
	}
	.flex.make_up{
		display: inline-block;
	}
	.flex.make_header.pr-3.bb-1{
		display: inline-block;
		width: 100%;
	}
	.flex.make_header.pl-3.bb-1 {
    width: 100%;
    display: inline-block;
}
	.flex.make_up div,
	.flex.make_header div{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 100%;
    max-width: 100%;
    display: block !important;
    float: left;
    max-width: max-content;
    text-align: center;
    font-size: 10px;
	}
	.flex.make_up div:not(first-child){
		padding:-1px 5px !important;
	}
	.flex.make_header div:not(first-child){
		padding:-1px 5px !important;
	}
	.col-1.py-2.px-3.br-1,
	.col-1.py-3.px-3.color.font_w_4.br-1 {
    min-height: 0px;
    height: auto;
}
.collaspe_roster .flex:nth-of-type(even) .make_up,
.collaspe_roster .flex:nth-of-type(odd) .make_up{
	border-radius: 0px;
}
/******End roster Modal ********/

.size_add .modal-dialog{
	max-width: 100% !important;
    width: 100% !important;
    margin: 0px;
    padding: 0;
    border: 0;
    box-shadow: none;
}
.modal:before{
	margin-right: 0px;
}
.success-cartoon, .worning-cartoon, .danger-cartoon {
    display: inline-flex !important;
    width: 33%;
    height: 40px;
    position: relative;
    margin: 4px auto;
    text-align: center;
    justify-content: center;
}

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
/****** roster Modal ********/
.big_modal_roster .modal-dialog {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0px;
    padding: 0;
    border: 0;
    box-shadow: none;
}
/******End roster Modal ********/

.size_add .modal-dialog{
	max-width: 100% !important;
    width: 100% !important;
    margin: 0px;
    padding: 0;
    border: 0;
    box-shadow: none;
}
.modal:before{
	margin-right: 0px;
}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
/****** roster Modal ********/
.big_modal_roster .modal-dialog {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0px;
    padding: 0;
    border: 0;
    box-shadow: none;
}
/******End roster Modal ********/
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}