

html{width: 100%; height: 100%;}
body.financePlannerBody__{overflow-x: hidden; width: 100%; height: 100%; user-select: none; }

div{font-size: 13px;}

:root{
    --b-radius:5px;
    --bg-color:#5963cb;

}

ul{list-style-type: none; padding-left: 0; margin-bottom: 0;}
select.cstmSlctHt{background: var(--bg-color); color: #fff; border-radius: 5px;}
select.cstmSlctHt option{background: #fff; color: #000;}
input:focus, textarea:focus{outline: none;}
button{cursor: pointer;}
a:hover{text-decoration: none;}


.cmn_clr1{color:var(--bg-color);}
.clr_bl{color:#212529}
.bor_bot1{border-bottom: solid 1px var(--bg-color);}
.bor_top1{border-top: solid 1px var(--bg-color);}
.pd_tb_10{padding-top: 10px; padding-bottom: 10px;}
.pd_tb_15{padding-top: 15px; padding-bottom: 15px;}
.pd_t_15{padding-top: 15px;}
.mr_t_15{margin-top: 15px;}
.mr_tb_15{margin-top: 15px; margin-bottom: 15px;}

.bor_tb{border-bottom: solid 1px var(--bg-color); border-top: solid 1px var(--bg-color);}
.bor_tb_grey{border-bottom: solid 1px grey; border-top: solid 1px grey;}
.bor_l_grey{border-left: solid 1px grey;}
.bor_tb_black{border-bottom: solid 1px #000; border-top: solid 1px #000;}

button, input[type='button']{
    outline: none !important;
    cursor: pointer;
    transition: all ease 0.5s;
    border-radius: var(--b-radius);
}

button:hover{
    box-shadow: 0px 5px 15px #cecece;
}

.cmn-btn1, .cmn-btn1:hover, .cmn-btn1:focus
{background-color: var(--bg-color);color: #fff;border: solid 2px  var(--bg-color);    }

.cmn-btn2, .cmn-btn2:hover, .cmn-btn2:focus
{background-color:transparent ;border: solid 2px  var(--bg-color);color:  var(--bg-color)}

.cmn-btn3, .cmn-btn3:hover, .cmn-btn3:focus
{background-color:#22c322 ;border: solid 2px #22c322;color:  #fff;}

.cmn-btn4, .cmn-btn4:hover, .cmn-btn4:focus
{background-color:#af5cfb ;border: solid 2px #af5cfb;color:  #fff;}

.cmn-btn5, .cmn-btn5:hover, .cmn-btn5:focus
{background-color:grey ;border: solid 2px grey;color:  #fff;}

.cmn-btn6, .cmn-btn6:hover, .cmn-btn6:focus
{background-color:transparent ;border: solid 2px #fff;color:  #fff;}

.cmn-btn7, .cmn-btn7:hover, .cmn-btn7:focus
{background-color:#ff4141 ;border: solid 2px #ff4141;color:  #fff;}

.cmn-btn8, .cmn-btn8:hover, .cmn-btn8:focus
{background-color:#f5ce75 ; border: solid 2px #f5ce75;color:  #fff;}

.cmn-btn9, .cmn-btn9:hover, .cmn-btn9:focus
{background-color:#ff8a67 ; border: solid 2px #ff8a67;color:  #fff;}

.cmn-btn10, .cmn-btn10:hover, .cmn-btn10:focus
{background-color:#fff ;border: solid 2px #af5cfb;color:  #af5cfb;}

.cmn-btn11, .cmn-btn11:hover, .cmn-btn11:focus
{background-color:#fff ;border: solid 2px #22c322;color:  #22c322;}

header.main_header {
    background: #404040;
    color: #fff;
    box-shadow: 0px 0px 20px 5px #00000057;
    padding:10px 15px;
    width: 100%;
    height: 55px;
    transition: all ease 0.5s;
}

header.main_header i {cursor: pointer;}

header.main_header .hdrs_ics{font-size: 20px; display: inline-block; padding: 0px 5px; line-height: 0px; position: relative;}

.right_ul{display: flex; float: right;;}
.right_ul .Ulopts{ height: 100%; line-height: 0px; position: relative;}
.right_ul .Ulopts i{color: #dedede;}
.right_ul .Ulopts.active,.right_ul .Ulopts i:hover{color:#fff;}

.notiCircle{
    position: absolute;
    width: 17px;
    height: 17px;
    background: red;
    border-radius: 50%;
    font-size: 9px;
    top: -7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 17px;
    padding: 0px;
    right: 0;
}

.cstm_select {
    border-radius: 25px;
}

.cstm_select .Select-control {
    height: 35px;
    border-radius: var(--b-radius);
    cursor: pointer;
}

.cstm_select .Select-control {
    background: #fff ;
    border-color: #d2d2d2 ;
}

.errorIn2 .Select-control, .errorIn2.Select.is-open .Select-control{border: solid 1px #ff4141;}
.filled .Select-control, .filled.Select.is-open .Select-contro{border:solid 1px #74e674;}


.cstm_select .Select-control .Select-input {
    width: 100%;
}
.cstm_select .Select-control .Select-input {
    padding-right: 30px;
}

.cstm_select .Select-control .Select-input > input {
    width: 100% !important;
}

.cstm_select .Select-arrow{
    border-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    border-width: 0px;
    top: 0; right: 0;
    display: flex;
    align-items: center;
}

.cstm_select .Select.is-open > .Select-control .Select-arrow{
    border-color: transparent;
    border-width: 0px;
    top:0px;
}


.cstm_select.header_filter{width: 80%; margin: 0 auto;}

.cstm_select.search_filter .Select-control{cursor: text;}
.cstm_select.search_filter .Select-arrow:before
{
    content: "\33";
    font-family: "icons_me" !important;
    display: block;
    position: absolute;
}


.cstm_select.slct_cstm2 .Select-arrow::before
{
    content: "\69";
    font-family: "icons_me";
    border-width: 0px;
    top: 6px;
    position: absolute;
    margin-left: 0;
    font-size: 14px;
}

.cstm_select.slct_cstm2 .Select.is-open > .Select-control .Select-arrow::before{
    content: "\66";
}

.cstm_select.slct_cstm2 .Select-clear-zone{display:none;}

.cstm_select.bg_grey .Select-control,
.cstm_select.bg_grey .Select.is-focused:not(.is-open) > .Select-control
{background: #efefef; }

.cstm_select.bg_grey .Select-input:focus{background: transparent;}

.cstm_select.bg_grey .Select-placeholder{color:#000;}



.sidebar
{
    background: #363636;
    width: 250px;
    height:100%;
    position: fixed;
    top: 0;
    transition: all ease 0.5s;
    z-index: 50;

}

.sidebar.right{right: -250px;}
.sidebar.left{left: -250px;}

.sidebar.right.toggle_right{right: 0;}
.sidebar.left.toggle_left{left: 0;}

.main_wrapper{transition: all ease 0.5s; height: 100%;position: relative;}
/* .main_wrapper.toggle_right{padding-right: 250px;}
.main_wrapper.toggle_left{padding-left: 250px;} */

.authwrapperSec{padding-left: 250px;}
.main_wrapper.toggle_right header.main_header{padding-right: 250px;}
.main_wrapper.toggle_left header.main_header{padding-left: 250px;}

.Login_page
{width: 100%; min-height: 100vh; text-align: center; padding: 15px; padding-top: 100px; }

.rmbrDv__{margin-bottom: 30px; cursor: pointer;}
.rmbrDv__ span{display: inline-block;padding-left: 5px;}
.csform-group {
    width: 100%;
    margin-bottom: 15px;
}

label {
    font-weight: 600 ;
    font-size: 13px ;
    margin-bottom: 0px;
}

.csForm_control {
    width: 100%;
    height: 35px;
    border-radius: var(--b-radius);
    border: solid 1px var(--bg-color);
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
    position: relative;
}

textarea.csForm_control{height: 100px; max-height: 100px; resize: none;}

/* input fields type */
input.csForm_control.completed{background: #f1fbf4; border:solid 1px #74e674; padding-right: 30px; }

.csForm_control.no_bor{border:solid 1px transparent;}
.csForm_control.filled{border:solid 1px #74e674;}
input.csForm_control:read-only{border: none !important; cursor: default;}
.csaddOn_fld1__{position: relative; z-index: inherit; width: 100%;}
.Modal_form_center {
    width: 75%;
    margin:auto;
}

.csaddOn_fld1__ input{padding-right: 35px;}
.csaddOn_fld1__.notAvail input{background: #efefef;border: transparent; cursor: not-allowed; }
input.csForm_control.pending {border:solid 1px #febf2c;}
input.csForm_control.errorIn {background: #ffe1e1; border:solid 1px #ff4141;}
input.csForm_control.errorIn2 {border:solid 1px #ff4141;}



.csaddOn_fld1__:before{
    font-family: "icons_me";
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    font-size: 16px;
    width: 35px;
    height: 35px;
    border-radius: 0 var(--b-radius) var(--b-radius) 0;
    right: 0;
}

.csaddOn_fld1__.checkedIc1:before{
    content: "\e04a"; color: #14a714;}

.csaddOn_fld1__.pendingIc:before
{
    content:"\e07c";
    background:#febf2c;
    color: #fff;
}

.csaddOn_fld1__.pendingIc2:before
{
    content:"\e0be";
    background:#febf2c;
    color: #fff;
}

.csaddOn_fld1__.errorIc:before
{
    content:"\e0be";
    color: #ff4141;
}

.csaddOn_fld1__.searchIc:before
{
    content:"\5a";
    color: #444444;
}


/* select types */
.csaddOn_fld1__.checkedIc1 .Select-arrow-zone{visibility: hidden;}




.login_box{text-align: left; width: 90%; margin: 15px auto; max-width: 300px; margin-top: 50px;}
.login_box .inpLabel1{font-weight: 700; margin-top: 20px;}

.loginHdng1__{font-size: 30px; font-weight: 700; margin-top: 25px;}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.asideSect__{background: #f7f7f7;min-height: calc(100vh - 55px);  position: relative; padding: 15px; padding-left: 265px;  }

.main_sidebar__
{
    width: 250px;
    background: #fff;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: auto;
}

/* .main_sidebar__.fixed{position: fixed;} */

.sideHead1__
{
    width: 100%;
    min-height: 100px;
    background: var(--bg-color);
    font-size: 17px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

.sideNavies__{list-style-type: none; padding-left: 0; font-size: 14px;}
.sideNavies__ li a{display: block; padding: 7px 15px; color: #6b6b6b;}

.sideNavies__ li a:hover,
.sideNavies__ li a.active:hover
{ text-decoration: none;  font-weight: 500; color:var(--bg-color);}

.sideNavies__ li a.active,
.sideNavies__ li a.active:hover{font-weight: 700; color:var(--bg-color);}

.dropdownMenu{transition: all ease 0.5s;}
.drpHdng{
    cursor: pointer;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.drpHdng span{flex: 1;}
.drpHdng.open span{color: var(--bg-color)}
.drpHdng.open> i{transform: rotate(90deg)}
.dropdownMenu ul{display: none; padding-left: 15px;}
.drpHdng.open + ul{display: block;}


.back_col_cmn- {
    margin-top: 30px;
    border-bottom: solid 1px var(--bg-color);
    padding-bottom: 15px;
}

.back_col_cmn- .icon {
    font-size: 23px;
    color: #000;
    cursor: pointer;
}

.main_heading_cmn- {
    color: var(--bg-color);
    border-color: var(--bg-color);
    border-bottom: solid 1px;
    padding: 10px 0;
}

.main_heading_cmn- h1 {
    margin-top: 0;
    font-size: 45px;
    font-weight: 700;
    line-height: inherit;
    color: var(--bg-color) !important;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.main_heading_cmn- h1>span {
    flex: 1;
}



.main_heading_cmn- .hdng_btn {
    padding: 7px 30px;
    float: right;
    display: flex;
    align-items: center;
    margin-left: 10px;
    min-width: 150px;
    justify-content: center;
}

.main_heading_cmn- .hdng_btn i {padding-left: 15px; display: flex;}


.invStatus
{padding: 10px 0; font-weight: 700; margin-bottom: 15px; color:var(--bg-color); font-size: 16px; }

.compoBoxDiv__{margin-bottom: 30px; flex-wrap: wrap;}

.compBox{background: #efefef; padding: 30px 45px; height: 100%;min-height: 220px;}
.compoBoxDiv__ h1.amts{font-size:50px; font-weight: 700; color:var(--bg-color);}
.compBox.colored{background: var(--bg-color); color:#fff;}
.compBox.colored  h1.amts{color:#fff;}

.grpMes{font-size: 12px; margin-left: 15px;}

.grph_optGrp{font-size: 12px;}

.pd_bts{padding: 3px 5px; width:100px; margin-left: 7px; font-size: 10px; opacity: 0.5;}
.pd_bts.active, .pd_bts:hover{opacity: 1;}


.vw_btns{padding: 7px 15px; width: 80%; margin-top: 15px;}



.pd_b_10{padding-bottom: 10px;}
.mr_b_15{margin-bottom: 15px;}

.cstm_select.brdr_slct .Select-control
{border:solid 1px var(--bg-color);}

.cstm_select.grnbrdr_slct .Select-control
{border:solid 1px  #74e674;}

.cstm_select.brdr_slct .Select-control .Select-placeholder{padding-right: 30px;}

.pd_r_10{padding-right: 10px;}


/*react table  css */
.data_table_cmn{margin-top: 15px; max-width: 100%; overflow-x: hidden; position: relative; z-index: 0;}
.data_table_cmn .ReactTable{border:transparent; min-height: 150px;}
.data_table_cmn .ReactTable .rt-tr-group{flex:0 0 auto;}
.data_table_cmn .ReactTable .rt-thead .rt-th.-sort-asc,
.data_table_cmn .ReactTable .rt-thead .rt-th.-sort-desc{box-shadow: inset 0px 0px 0px 0px #000 !important;;}
.data_table_cmn .ReactTable .rt-thead .rt-th.-sort-asc .rt-resizable-header-content:after{content: "\e02e";font-family: "icons_me";font-size: 14px;margin-left: 5px;}
.data_table_cmn .ReactTable .rt-thead .rt-th.-sort-desc .rt-resizable-header-content:after{content: "\e030";font-family: "icons_me";font-size: 14px;margin-left: 5px;}
.data_table_cmn .ReactTable .rt-tr.-padRow.-odd,
.data_table_cmn .ReactTable .rt-tr.-padRow.-even{visibility: hidden;}
.data_table_cmn .ReactTable .rt-noData {width: 100%;text-align: center;padding: 7px !important;border: 1px solid #ddd;}
.data_table_cmn .ReactTable .select-wrap select{padding: 7px; min-width: 100px;}
.data_table_cmn .ReactTable div.rt-tbody .rt-tr-group{border-bottom:0px solid ;}
.data_table_cmn .ReactTable .rt-tfoot .rt-td {padding: 0px;height: auto;line-height: normal;margin: 0;border: 0px;}
.data_table_cmn .ReactTable .rt-tfoot{box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);}
.data_table_cmn .ReactTable .rt-thead.-header .rt-tr {font-weight: 400;}
.data_table_cmn.text-center .rt-thead .rt-th{text-align: center; }
.data_table_cmn.text-center .rt-tr .rt-td{justify-content: center; padding-left: 5px !important;}
.data_table_cmn .ReactTable .rt-thead .rt-th:last-child{border-right: transparent;}
/* table pagination */
.data_table_cmn .ReactTable .-next button{text-align: left ;margin-top: 0px;}
.data_table_cmn .ReactTable .-previous button{text-align: right;margin-top: 0px;}
.data_table_cmn .ReactTable .-pagination {margin-top: 15px;}
.data_table_cmn .ReactTable .-pagination .-previous,
.data_table_cmn .ReactTable .-pagination .-next{flex: 1;}
.data_table_cmn .ReactTable .-pagination .-center{flex: 2.5}
.data_table_cmn .ReactTable .-pagination{background: none;box-shadow: 0px 0px 0px 0px !important;border-top: 0px solid #fff !important; }
.data_table_cmn .ReactTable .-pagination .-btn{background: none !important;color: #fff;}
.data_table_cmn .ReactTable .-pagination .-btn:hover {box-shadow: none;}
.data_table_cmn .pagination-bottom {width: 800px;margin: 0px auto; max-width: 100%;}
.data_table_cmn .ReactTable .-pagination .-btn:not([disabled]):hover{color: #1e1e1e !important;}
.data_table_cmn .pagination-bottom span.icon.previous,
.data_table_cmn .pagination-bottom span.icon.next
  {background: var(--bg-color);background-color: var(--bg-color);}

.data_table_cmn .ReactTable .-pagination .-pageJump input
  {background: var(--bg-color);background-color:#fff;color:#000;}

.data_table_cmn .ReactTable .-pagination .-pageSizeOptions{
    border-color: #000;background: #fff; color:#000}

.data_table_cmn .pagination-bottom span.icon.previous,
.data_table_cmn .pagination-bottom span.icon.next {
    width: 37px;
    height: 36px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100%;
}

.data_table_cmn .ReactTable .rt-thead.-header {background-color: var(--bg-color);color: #fff;border-radius: var(--b-radius);}

.data_table_cmn .ReactTable .rt-thead .rt-tr {text-align: left;}
.data_table_cmn .ReactTable .rt-thead.-header .rt-tr {font-weight: 400;}

.data_table_cmn .ReactTable .rt-thead .rt-th,
.data_table_cmn .ReactTable .rt-thead .rt-td {
    outline: none !important;
    border-right: solid 1px #fff;
    padding: 15px 10px;
}

.data_table_cmn .ReactTable .rt-tbody { margin-top: 15px;}

.data_table_cmn .ReactTable .rt-tbody .rt-tr-group {
    border-bottom: solid 1px transparent !important;
    margin-bottom: 15px;
    border-radius: var(--b-radius);
    /* overflow: hidden; */
}

.data_table_cmn .ReactTable .rt-tr.-odd, .data_table_cmn .ReactTable .rt-tr.-odd:hover{background: #fff !important;}
.data_table_cmn .ReactTable .rt-tr.-even, .data_table_cmn .ReactTable .rt-tr.-even:hover{background: #efefef !important;}

.data_table_cmn .ReactTable .rt-tr .rt-td {
    border-right: solid 1px #dadada;
    padding: 10px 5px;
    padding-left: 15px;
    font-weight: normal;
    font-size: 13px;
    align-items: center;
    display: flex;
}

.data_table_cmn .ReactTable .rt-tr .rt-td:last-child{border-right: none;}

.data_table_cmn .ReactTable .-pagination .-pageSizeOptions
{position: relative; overflow: hidden; border-radius: var(--b-radius);}

span.select-wrap.-pageSizeOptions::after {
    content: "\66";
    position: absolute;
    right: 0;
    font-family: "icons_me";
    z-index: 0;
    font-size: 13px;
    width: 22px;
    height: 35px;
    text-align: center;
    display: flex;
    top: 2px;
    justify-content: start;
    align-items: center;
    color:#000;
}

span.select-wrap.-pageSizeOptions select {
    position: relative;
    z-index: 1;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    color:#000;
    padding: 7px;
    padding-right: 20px !important;
}

span.select-wrap.-pageSizeOptions select option {background: #fff; }

.tble_btn_grp{text-align: center; }
.tble_btn_grp button{margin: 0px 5px;}
.tb_vals1_{font-size: 18px; color:var(--bg-color); font-weight: 600;}

.data_table_cmn .cmn_sbComp{padding: 15px;border-top: solid 1px #efefef;}
.data_table_cmn .ReactTable.-striped .rt-tr.-odd + .cmn_sbComp {background: #fff;}
.data_table_cmn .ReactTable.-striped .rt-tr.-even  + .cmn_sbComp {background: #efefef;}



/* custom checkbox */
.cstmChekie{position: relative; display: block; cursor: pointer;user-select: none;  display: inline-block; }
.cstmChekie .chkie{ width: 15px; height: 15px; background: var(--bg-color); color: #fff; position: relative; border-radius: 3px; border:solid 1px var(--bg-color);}
.chkie:before{content: "";font-family: "icons_me";position: absolute;top: 0px;left: 0px; line-height: 01;}
.cstmChekie input{visibility: hidden; width: 0; height: 0; position: absolute;}
.cstmChekie input:checked + .chkie:before,.cstmChekie input:checked + div + .chkie:before{content:"\70";}
.cstmChekie input:indeterminate  + .chkie:before, .cstmChekie input:indeterminate + div + .chkie:before{content: "\e0c8";}

.cstmChekie.clrTpe2 .chkie{border:solid 1px var(--bg-color); color:var(--bg-color);background: #fff; }
.cstmChekie.clrTpe2 .chkie:before{top: 0px; left: 0;}

.cstmChekie.clrTpe3 .chkie{background: #505050; border:solid 1px #505050;}

.grph_opts2{text-align: right; margin-top: -3px;}

.grph_opts2 li {
    display: inline-block;
    font-size: 11px;
    background: var(--bg-color);
    color: #fff;
    padding: 3px 15px;
    opacity: 0.5;
    cursor: pointer;
}

.grph_opts2 li.active,
.grph_opts2 li:hover{opacity: 1;}

.hdng2{
    border-top: solid 1px var(--bg-color);
    border-bottom: solid 1px var(--bg-color);
    padding: 10px 0;
    margin-bottom: 15px;
    color:var(--bg-color);
    font-size: 28px;
}

.log_faceIc i {
    font-size: 80px;
    border: solid 1px #000;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.forgot_lnk__{margin-top: 30px;}
.forgot_lnk__ a{color:#000; }

.stat_grp{width: 100%; overflow-x: auto;}
.stat_grp .status{
    font-size: 10px;
    padding: 3px 15px;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    margin: 3px;

}

.stat_grp .status.duplicate{background: #ff7f7f;}
.stat_grp .status.inQueue{background: #f5ce75;}
.stat_grp .status.followUp{background: #ad5af9;}
.stat_grp .status.paid{background: #3ac96e;}
.stat_grp .status.dismiss{background: #505050;}
.stat_grp .status.archive{background: #ff0000;}

.stat_grp .status.val{background: #5963cb;}

.mini_profile__
{padding: 15px 0; flex-wrap: wrap;}


.pro_ic1{
    font-size: 70px;
    width: 100px;
    height: 100px;
    border: solid 1px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50%;
    margin-right: 30px;
}

.prf_cntPart ul{font-size: 14px; margin-bottom: 15px;}


.stats_slct{font-size: 12px; margin-right: 15px;}

.mini_profile__ .avl_fnd{font-size: 18px;}
.mini_profile__ .avl_fnd span{color: #2bc72b;}

.data_table_cmn.transFirst_tble .rt-thead .rt-th:first-child,
.data_table_cmn.transFirst_tble .rt-tr .rt-td:first-child
{border-right: transparent;}

.see_ic{font-size: 20px;}

.gr_desc1__{font-size: 13px;}

.opt_ul{width: 100%; }
.opt_ul li{display: inline-block;width: 33%;}

.amt2__{font-size: 50px;}

/* datepicker css */

.datewid_100 .react-datepicker-popper{z-index: 2;}
.csForm_control.grnbrdr_date
{border:solid 1px #74e674;}

.datewid_100 .react-datepicker-wrapper,
.datewid_100 .react-datepicker-wrapper .react-datepicker__input-container
{width: 100%;}

.inpLabel1{margin-bottom: 5px;}

.py_typeUL
{margin-bottom:30px;}
.py_typeUL li
{background: #363636; opacity: 0.5; color: #fff; display: inline-block; margin-right: 7px; padding: 3px 20px; font-size: 9px; border-radius: 5px; cursor: pointer;}

.py_typeUL li:hover, .py_typeUL li.active
{opacity: 1;}

.processModal{position: absolute; width: 100%; height: 100%;top:0; left:0; background: rgba(0,0,0,0.02 ); padding: 15px; z-index: 100; display: none;}
.processModal.show{display: block;}
.processModal .modalDialog1{background: #fff; text-align: center; padding: 50px 80px; margin-top: 80px; box-shadow: 0px 0px 30px #dcd8d8;}
.processModal .modalDialog1 h4{margin-bottom: 45px;}

.scn_btn{padding: 5px 25px; width: 200px; max-width: 100%; }

.csdisp_group{margin-bottom: 30px;}
.csdisp_group label{color: #000; font-weight: 600; font-size: 14px;}
.csdisp_group .ans1 {padding-left: 15px; font-size: 14px; word-break: break-all;}

.csdisp_group.disable{opacity: 0.5;}

.disputeDetl_box
{padding:30px 45px; background: #efefef; margin-bottom: 15px;}

.dis_btns{margin-left: 7px;}

.disNotBox1__{border-radius: 5px; overflow: hidden; background: #efefef; }
.disNotBox1__ .hdngDs{background: var(--bg-color); color: #fff; padding:10px 15px; font-size: 17px; font-weight: 600; border-bottom: solid 1px #fff;}

.disNotBox1__ .dispute_table{margin-top:0px; }
.disNotBox1__ .dispute_table .ReactTable .rt-thead.-header{border-radius: 0;}

.disNotBox1__ .dispute_table .ReactTable .rt-tbody{margin-top: 0; padding: 15px 0; max-height: 380px;overflow-y: auto;}
.disNotBox1__ .dispute_table .ReactTable .rt-tbody .rt-tr-group{margin-bottom: 0; border-radius: 0;}

.disNotBox1__ .dispute_table .ReactTable.-striped .rt-tr.-odd,
.disNotBox1__ .dispute_table  .ReactTable.-striped .rt-tr.-even
{background: transparent;}

.disNotBox1__ .dispute_table .ReactTable .rt-tr .rt-td{border-right: transparent;}
.disNotBox1__ .dispute_table .ReactTable .rt-thead .rt-th:nth-child(4){border:transparent;}

.dispSubComp__{padding: 15px; text-align: left; height: 0; overflow: hidden; transition: all ease 01s;}
.data_table_cmn .dispSubComp__{height: auto;}

.vw_dips{float: right; font-size: 15px; cursor: pointer;}

.cstmModal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5 );
    left:0;top: 0;
    z-index: 100;
    overflow-y: auto;
    text-align: center;
    display: none;
}

.cstmModal.show{display: block;}

.cstmModal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.cstmDialog
{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    background: #fff;
}

.modalDialog_mini
{
    padding: 15px;
    width: 400px;
}

.modalDialog_macro
{
    padding: 15px;
    width: 800px;
    max-width: 100%;
}

.dis_btns2{margin-left: 7px; font-size: 13px; padding: 5px 25px;}
.dis_btns2 span{display: flex; align-items: center; justify-content: center;}
.dis_btns2 span i.icon{height: 15px;margin-left: 5px;}

.mr_t_60{margin-top: 60px;}

.hdngModal{display: flex;}
.hdngModal .hdngCont{flex: 1 1; -webkit-flex:1 1; padding-right: 15px;}

.closeIc{font-size: 18px; cursor: pointer; color:var(--bg-color);}



.pd_btns2{min-width: 100px;}

.hdnfFlx23 span{flex: 1 1;}

.react-datepicker__header{background: var(--bg-color);}
.react-datepicker__current-month, .react-datepicker-time__header{color:#fff;}
.react-datepicker__day-name{color:#fff;}
.react-datepicker__navigation:hover{box-shadow:none;}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected
{background-color: var(--bg-color);}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle
{border-bottom-color: var(--bg-color);}

.backdrop
{
    position: absolute;
    width: 100%;
    height: calc(100% - 55px);
    z-index: 49;
    background: rgba(0, 0, 0, 0.02);
    display: none;
    margin-top: 55px;
}

.backdrop.show{display: block;}

.pdf_box{background: #efefef; height: 900px; overflow: hidden;}
.pdf_box{position: relative; display: flex; flex-wrap: wrap; box-sizing: border-box;}

.sidePart {
    width: 130px;
    height: 100%;
    background: #d8d8d8;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.pdf_part
{width: calc(100% - 130px); position: relative; overflow: hidden; height: 100%;;}

.file_ul{margin-top: 50px; max-height:800px; overflow-y: auto; padding-bottom: 15px;}
.file_ul li{background: #fff; padding: 15px; cursor: pointer;border:solid 1px transparent; margin-bottom: 10px;}
.file_ul li:hover,.file_ul li.active{border-color: var(--bg-color);}
.file_ul li h6{font-size: 13px;}
.file_ul li i{font-size: 45px; line-height: 0;}

.footerPdf{
    position: absolute;
    width: 100%;
    height: 40px;
    background: #e2e2e2;
    left: 0;
    bottom: 0;
    padding: 5px;
    display: flex;
    align-items: center;
}

.zoomPanel
{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zoomPanel i{line-height:1; font-size: 22px; cursor: pointer; color:#504f4f;}
.zoomPanel i:hover{color:var(--bg-color);}
.zoomPanel i.disable,.zoomPanel i.disable:hover {cursor: default; opacity: 0.5; color:#504f4f;}
.zoomPanel span{width: 50px; text-align: center; font-size: 15px; font-weight: 600;}
.paginationPdf{display: flex; align-items: center; justify-content: flex-end; font-size: 15px; width: 250px;}
.paginationPdf .pg__{font-weight: 600;}
.paginationPdf .arrws{width: 25px;
    height: 25px;
    background: #f8f8f8;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
    line-height: 29px;
}
.paginationPdf .arrws.disable{cursor: default; opacity: 0.6; pointer-events: none;}

.pg_num{width: 60px; text-align: center;}

.pdfContentARea
{
    width: 100%;
    height: calc(100% - 40px);
    background: #ffffff;
    padding: 15px;
    overflow: auto;
}
.dragArea{width: 100%; height: 100%;;}
.zoomArea{width: 100%;  display: flex; align-items: center; justify-content: center;}
.mr_r_15{margin-right: 15px;}
.zoomArea img{width: 100%;}

.notifyPop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.0.01 );
    left: 0;
    top: 0;
    z-index: 100;
    overflow-y: hidden;
    text-align: center;
    display: none;
}
.notifyPop.show{display: block;}

.notifyPop:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: top;

}

.notiFyPopBox{
    width: 600px;
    height: auto;
    padding: 20px 15px;
    background: #fff;
    box-shadow: 0px 0px 5px #cecece;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-top: 60px;
    max-width: 100%;
}

.notiContD{display: flex; width: 100%; align-items: center;}
.notiFyClose{cursor: pointer; font-size: 15px; line-height: 15px;}

.contBody{flex: 1; display: flex; align-items: center; padding-right: 50px;}
.notifyPop .catIcPop{font-size: 25px; width: 70px; text-align: center; line-height: 0;}
.notifyPop .msg{font-size: 16px; flex: 1; font-weight: 600;}
.msg .sml_msg{color: #585858;font-size: 13px;}
.notiBtn{border: transparent; padding: 7px 20px;}

.notifyPop.green .notiFyPopBox{background: #e4ffed;}
.notifyPop.green .txt_clr{color:#00bf45; font-weight: 600;}
.notifyPop.green .btn_clr, .notifyPop.green .btn_clr:focus{background:#00bf45; }


.notifyPop.yellow .notiFyPopBox{background: #f8e5b8;}
.notifyPop.yellow .txt_clr{color:#feb201; font-weight: 600;}
.notifyPop.yellow .btn_clr, .notifyPop.yellow .btn_clr:focus{background:#feb201; }

.notifyPop.red .notiFyPopBox{background: #f5e8e8;}
.notifyPop.red .txt_clr{color:#ff0000; font-weight: 600;}
.notifyPop.red .btn_clr, .notifyPop.red .btn_clr:focus{background:#ff0000; }

.frm_bt23{
    padding: 8px 15px;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    min-width: 220px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frm_bt23 i {padding: 0 10px; line-height: 1;}

.flwUp_btn{bordeR:solid 2px #000;}

.dupliAssesment__{margin-bottom: 15px; min-height: 130px;background: #fff;}
.dupliAssesment__ .head_dup__{
background: var(--bg-color);
color: #fff;
padding: 10px;
display: flex;
align-items: center;
}

.btn.ases_bts{font-size: 12px; margin-left: 10px;}
.ptb_7{padding-top: 7px; padding-bottom: 7px;}

.btn.ases_bts:hover, .ases_bts:focus
{box-shadow: none;}

.head_dup__ .name_hd{flex: 1;}
.dupliAssesment__ .head_dup__ h5{margin-bottom: 0; font-size: 18px;}
.dupliAssesment__ .assess_body__{ padding: 15px; display: flex; justify-content: center; align-items: center;}
.dupliAssesment__ .assess_body__ .wrng_ico{font-size: 20px; color:#ff4141; margin-right: 15px; line-height: 0;}
.dupliAssesment__ .assess_body__ h6{margin-bottom: 0; font-weight: 700;}

.assess_foot__{padding:0 15px; text-align: center;}
.assess_foot__ >div{border-top: solid 1px var(--bg-color); padding: 15px 0;}

.validMsgBox__
{
    padding:5px 10px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: var(--b-radius);
}
.validMsgBox__ i{line-height: 1; margin-right: 10px; height: 15px;;}

.validMsgBox__.successMsg1{background: #5ae85a; color: #fff;}
.validMsgBox__.errorMsg1{background: #ff5a5a; color: #fff;}

.login_box label.error{display: block; position: absolute;}
.error {
    color: red;
    font-weight: 600;
}

#selector {
    position: absolute;
    left: 0;
    top: 0;
    background: red;
    opacity: 0.5;
    cursor: pointer;
    z-index: 999;
}


.MainLoader{
    width: 100%; height: 100%; background: rgba(253, 253, 253, 1); position: fixed; z-index: 1000;
  }

  .MainLoader .block-ui{height: 100%;}

/* //// */
.PRF_div {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: 120px auto;
    grid-column-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.PRF_right {
    display: flex;
    align-items: center;
}
.PRF_left span {
    display: flex;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 100%;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}
.PRF_left span i{
    display: flex;
}
.PRF_right h3{
    color: var(--bg-color);
}
.PRF_right h5 span{
    color: #14a714;
}



.custom-file-upload {
    border: 1px dotted #000;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
}
.Drag_Drop input{
   position:absolute;
  top:0;
opacity:0;
}
.Drag_Drop{
   position:relative;
}
.Drag_Drop .custom-file-upload {
    position: relative;
    min-width: 400px;
    min-height: 200px;
}
.Drag_and_Drop_wraper {
    position: relative;
}
.Drag_and_Drop_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 350px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Drag_Drop {
    position: relative;
    margin: 0px auto;
}
.content_drag_file p {
    margin: 0;
    text-align: center;
}
.custom-file-upload .ic-upload-img {
    font-size: 45px;
    margin-bottom: 5px;
    color: var(--bg-color);
    display: flex;
}
.reTry .icon.icon-warning2-ie{
    font-size: 45px;
    margin-bottom: 5px;
    color: #ffb300;
    line-height: 45px;
}
.content_drag_file {
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;

}
.custom-file-upload p {
    margin: 0;
    font-size: 15px;
}
.custom-file-upload{
    cursor: pointer;
}
.Drag_done > div i {
    font-size: 65px;
    color: #00bf45;
}
.Drag_done div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Drag_done-btn1,
a.Drag_done-btn1{
    background-color: var(--bg-color);
    color: #fff !important;
    border: solid 2px var(--bg-color);
    padding: 2px 0px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px;
    margin: 0px auto;
    min-width: 170px;
    cursor: pointer;
}
.Drag_done div span{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}
a.Drag_done-btn2 {
    color: var(--bg-color) !important;
    margin-top: 5px;
    font-size: 15px;
    cursor: pointer;
}
.Manual_bottom_btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    grid-column-gap: 15px;
    padding: 0px 30px;
}
a.fol_btn, .fol_btn {
    background: transparent;
    border: 1px solid;
    padding: 7px 15px;
    font-size: 16px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--bg-color) !important;
    cursor: pointer;
}
a.fol_btn.pay_invoice, .fol_btn.pay_invoice{
    background:#00bf45;
    color: #fff !important;
}
.pay_invoice::after{
    content: "\e04a";
    font-family: "icons_me" ;
    position: absolute;
    right: 15px;
    font-weight: 300;
    font-size: 19px;
}
.pay_invoice{
    position: relative;
}
.cstm_select.brdr_slct .is-disabled .Select-control {
    border-color: transparent;
  }



  .File-Drag-and-Drop_bOX label {
    display: flex;
    display: flex;
    align-items: center;
    border: 1px dashed;
    border-color: var(--bg-color);
    border-radius: var(--b-radius);
    padding: 25px 15px;
    background: #e2e2e2;
    min-height: 190px;
  }
  .File-Drag-and-Drop_bOX label input {
    display: none;
  }
  .File-Drag-and-Drop_bOX label .Drop_bOX_content_1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 14px;
  }
  .File-Drag-and-Drop_bOX label .Drop_bOX_content_1 i {
    font-size: 120px;
    color: var(--bg-color);
  }
  .File-Drag-and-Drop_bOX label .Drop_bOX_content_1 span h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .File-Drag-and-Drop_bOX label .Drop_bOX_content_1 span span {
    font-weight: 600;
    font-size: 16px;
  }
  .File-Drag-and-Drop_bOX label .Drop_bOX_content_2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-flow: column;
  }
  .File-Drag-and-Drop_bOX label .Drop_bOX_content_2 i {
    font-size: 90px;
    color: var(--bg-color);
    margin-bottom: 15px;
  }
  .browser_btn,
  a.browser_btn{
    padding: 5px 15px;
    min-width: 120px;
    margin-top: 15px;
    cursor: pointer;
    background-color: var(--bg-color);
    color: #fff !important;
    border: solid 2px var(--bg-color);
    display: inline-flex;
    justify-content: center;
    align-content: ce;
    border-radius: 4px;
}
.Success_show_div  p{
    display: flex;
    align-items: center;
    margin: 0px;
}
.Success_show_div  p i{
    font-size: 17px;
    margin: 6px;
    display: inline-flex;
    color: #3ac96e;
}
.Errors_show_div  p i{
    font-size: 17px;
    margin: 6px;
    display: inline-flex;
    color: #dc3545;
}
.Sub_compon_head h3{
    color: var(--bg-color);
    border-bottom: 1px dashed var(--bg-color);
    padding-bottom: 5px;
    margin-top: 15px;
}
.cstm_select_fINacne{
    display: flex;
    position: relative;
}
.cstm_select_fINacne input{
    width: 100%;
    min-height: 35px;
    padding: 5px 45px 5px 15px;
}
.cstm_select_fINacne button{
    position: absolute;
    right: 0;
    height: 100%;
    font-size: 21px;
    background: transparent;
    border: 0px;
    padding: 5px 11px 0px 0px;

}

.cssaddOn_select___{z-index: 5;}

.data_table_cmn .ReactTable .rt-tr .rt-td>div{white-space: nowrap;
    text-overflow: ellipsis; overflow: hidden;}


.custom_radio [type="radio"]:checked,
.custom_radio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.custom_radio [type="radio"]:checked + label,
.custom_radio [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    min-height: 18px;
}
.custom_radio [type="radio"]:checked + label:before,
.custom_radio [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 100%;
    background: #fff;
}
.custom_radio [type="radio"]:checked + label:after,
.custom_radio [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.custom_radio [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.custom_radio [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.custom_radio.label_l [type="radio"]:checked + label:before,
.custom_radio.label_l [type="radio"]:not(:checked) + label:before{
    left: inherit;
    right: 0;
}

.custom_radio.label_l [type="radio"]:checked + label:after,
.custom_radio.label_l [type="radio"]:not(:checked) + label:after{
    left: inherit;
    right: 3px;
}

.custom_radio.label_l [type="radio"]:checked + label,
.custom_radio.label_l [type="radio"]:not(:checked) + label{padding-left: 0; padding-right: 28px;}

.bpay_lab label{min-width: 150px;}

.error_img_404 {
    width: 130px;
    margin-right: 15px;
}

.flex_p {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.error_bg h2 {
    font-size: 36px !important;
    font-family: sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 7px;
}

.error_bg p {
    font-size: 24px;
    color: #1e1e1e;
    line-height: 25px;
}

.btn.VEC_btn {
    color: #fff;
    background: #1e1e1e;
}

.error_listie{
    margin-bottom: 30px;;
}

.error_listie li {color:#d80c0c; list-style-type: disc;}

.active_user_new {
    color: #fff;
    bottom: 0;
    padding: 14px;
    position: absolute;
    /* background: #545454; */
    font-size: 14px;
    width: 100%;
    z-index: 1;
    border-top: 1px solid #857e7e78;
}
.default_but_remove {
    background: none;
    padding: 0px;
    border: 0px;
}

.log_ic{
    width: 25px;
    display: inline-block;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: solid 1px #fff;
    border-radius: 50%;
    margin-right: 7px;
    font-size: 11px;
}

.logoutSpan{cursor: pointer;}

.flex-1{flex: 1;}

.AuditSubC{padding: 15px; border-top: solid 1px #dadada;}
.compLi div{text-align: left; margin-bottom: 10px;}

.data_table_cmn .ReactTable .rt-tr.-odd  + .subComp {background: #fff;}
.data_table_cmn .ReactTable .rt-tr.-even  + .subComp {background: #efefef;;}
.manualBtn{min-height: 35px; font-size: 13px;}
.data_table_cmn .ReactTable .rt-tr .rt-td >div
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.react-datepicker-wrapper{width: 100%;}