body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  padding-top: 85px;
}

.watermark1{position: absolute;z-index: -1; top:85px; left: 0; width: 100%;}

.navbar {
  width: 100%;
  height: 100px;
  background: #fff !important;
}
.navbar .navbar-brand {
  padding-left: 40px;
}
.navbar #navbarContent {
  padding-left: 20px;
  font-size: 14px;
  z-index: 1;
}
.navbar #navbarContent .nav-link {
  color: #3a2467;
  padding-left: 15px;
}

.navbar .navButtons {
  padding-right: 40px;
  justify-content: right;
}
.navbar .navButtons button {
  border: 1px solid #3a2467;
  background: #fff;
  border-radius: 8px;
  font-size: 14px;
  width: 100px;
  color: #3a2467;
}
.navbar .navButtons button:hover {
  color: #fff;
  background: #3a2467;
}

.section_one {
  overflow: hidden;
  position: relative;
}
.bg_triangle {
  /*position: absolute;
  right: 0;
  width: 0;
  border-left: 2160px solid transparent;
  border-top: 800px solid #f8e3cf;*/
  /*z-index: -1;*/
}
.section_one .bgTriangle_bottom {
 /* position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 1536px solid transparent;
  border-bottom: 645px solid #e8eaee;
  z-index: -1;*/
}

.section_one .triangle_bot{
/*    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-right: 1300px solid transparent;
    border-bottom: 500px solid #e9f5ff;
    z-index: -1;*/
}

.heading_one {
  font-size: 50px;
  color: #3a2467;
}
.section_one .head_para {
  font-size: 20px;
  color: #3a2467;
}
.section_one .feature_para {
  padding: 0;
}
.section_one .content {
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 50px;
}
.section_one .content:before {
  content: " ";
  /*position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-top: 790px solid transparent;
  border-left: 1903px solid #bde3ff;
  border-bottom: 790px solid transparent;*/
  z-index: -1;
}
.section_one .content .heading_two {
    font-size: 30px;
    color: #3a2467;
    text-align: left;
    font-weight: 700;
}
.section_one .content .para {
  text-align: left;
}
.section_one .content button {
  border: 1px solid #3a2467;
  background: #3a2467;
  border-radius: 6px;
  font-size: 14px;

  color: #fff;
  padding: 3px 15px;
  max-width: 100%;
}
.section_one .content .packages_head {
  color: #3a2467;
  font-weight: 700;
}
.section_one .content h3 {
  color: #3a2467;
}
.section_one .content .packages_row {
  display: flex;
}
.section_one .content .bookmark {
  text-align: left;
  background: #e58e41;
  margin-left: -12px;
  width: 155px;
  color: #fff;
  padding-left: 5px;
}
.section_one .content .bookmark::after {
  content: "";
  position: absolute;
  margin-left: 66px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 13px solid #f6fbff;
  border-bottom: 12px solid transparent;
}
.section_one .content .packages_i {
  height: 100%;
  background: #f6fbff;
  padding: 12px;
}
.section_one .content .packages_b {
  height: 100%;
  background: #e8eaee;
  padding: 15px;
}
.section_one .content .sign_up {
  padding: 20px 60px;
}
.section_one .content .sign_up .signup_head {
  color: #3a2467;
  text-align: center;
  font-size: 36px;
}
.section_one .content .sign_up .signup_para {
  padding: 10px 15px;
  font-size: 14px;
  color: #595b5f;
  font-weight: 600;
}
.section_one .content .sign_up .form-row {
  padding: 0 76px;
}

.section_one .content .sign_up label.error {
  width: 100%;
  font-size: 13px;
  text-align: left !important;
}

.why_hcm {
  position: relative;
  overflow: hidden;
}
.why_hcm .page_head {
  font-size: 60px;
  color: #3a2467;
  padding: 15px 0;
}
.why_hcm .bg_triangle {
 /* position: absolute;
  right: 0;
  width: 0;
  border-left: 2160px solid transparent;
  border-top: 800px solid #f8e3cf;
  z-index: -1;*/
}
.why_hcm .content {
  background: rgba(255, 255, 255, 0.5);
  padding: 0 50px;
}
.why_hcm .content:before {
  /*content: " ";
  position: absolute;
  top: 65%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 790px solid transparent;
  border-left: 1903px solid #bde3ff;
  border-bottom: 790px solid transparent;
  z-index: -1;*/
}
.why_hcm .content .left_image .col-lg-8 {
  order: 2;
}
.why_hcm .content .img_container {
  width: 100%;
}
.why_hcm .content .sub_head_one {
  font-size:35px;
  font-weight: bold;
  color: #3a2467;
}
.why_hcm .content .sub_head_two {
  font-size: 35px;
  font-weight: bold;
  color: #3a2467;
}

.features_section {
  position: relative;
  overflow: hidden;
}
.features_section .page_head {
  font-size: 60px;
  color: #3a2467;
  padding: 15px 0;
}
.features_section .bg_triangle {
/*  position: absolute;
  right: 0;
  width: 0;
  border-left: 2160px solid transparent;
  border-top: 800px solid #f8e3cf;
  z-index: -1;*/
}
.features_section .bg_bottom_triangle {
/*  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-right: 2160px solid transparent;
  border-bottom: 800px solid #f8e3cf;
  z-index: -1;*/
}
.features_section .content {
  background: rgba(255, 255, 255, 0.5);
  padding: 0 50px;
}
.features_section .content:before {
/*  content: " ";
  position: absolute;
  top: 12%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 790px solid transparent;
  border-left: 1903px solid #bde3ff;
  border-bottom: 790px solid transparent;
  z-index: -1;*/
}
.features_section .content:after {
/*  content: " ";
  position: absolute;
  top: 44%;
  right: 0;
  width: 0;
  height: 0;
  border-top: 790px solid transparent;
  border-right: 1903px solid #e8eaee;
  border-bottom: 790px solid transparent;
  z-index: -1;*/
}
.features_section .content .right_container h1 {
  text-align: right;
}
.features_section .content .right_container .head {
  font-weight: bold;
}
.features_section .content .right_container.crm .head {
  color: #9a2dfe;
}
.features_section .content .right_container.recruit .head {
  color: #ff7246;
}
.features_section .content .right_container.admin .head {
  color: #2c2d4b;
}
.features_section .content .right_container.member .head {
  color: #ff8a67;
}
.features_section .content .right_container.org .head {
  color: #1eb35a;
}
.features_section .content .right_container.parti .head {
  color: #b175ff;
}
.features_section .content .right_container.schedule .head {
  color: #e07196;
}
.features_section .content .right_container.market .head {
  color: #2c678c;
}
.features_section .content .left_container h1 {
  text-align: left;
}
.features_section .content .left_container .row .col-lg-10 {
  order: 2;
}

.features_section .content .head{margin-bottom: 30px;}
.features_section .content .left_container .head {
  font-weight: bold;
}
.features_section .content .left_container.imail .head {
  color: #2e9cca;
}
.features_section .content .left_container.recruit_a .head {
  color: #38266e;
}
.features_section .content .left_container.fms .head {
  color: #d32f2f;
}
.features_section .content .left_container.member .head {
  color: #50c264;
}
.features_section .content .left_container.org .head {
  color: #50c264;
}
.features_section .content .left_container.client .head {
  color: #50c264;
}
.features_section .content .left_container.finance .head {
  color: #474866;
}
.features_section .content .left_container.plan .head {
  color: #6a73cf;
}
.features_section .content .icon_container {
  margin-top: -25px;
}
.features_section .content .img_container {
  width: 100%;
}

.schedule {
  position: relative;
  overflow: hidden;
}
.schedule .page_head {
  font-size: 50px;
  color: #3a2467;
  padding: 15px 0;
}
.schedule .bg_triangle {
 /* position: absolute;
  right: 0;
  width: 0;
  border-left: 2160px solid transparent;
  border-top: 800px solid #f8e3cf;
  z-index: -1;*/
}
.schedule .content {
  background: rgba(255, 255, 255, 0.5);
  padding: 0 70px;
}
.schedule .content:before {
  /*content: " ";
  position: absolute;
  top: 65%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 790px solid transparent;
  border-left: 1903px solid #bde3ff;
  border-bottom: 790px solid transparent;
  z-index: -1;*/
}
.schedule .content .img_container {
  width: 100%;
}
.schedule .content .sub_head_one {
  font-size: 30px;
  font-weight: bold;
  color: #3a2467;
}
.schedule .content .left_image .col-lg-8 {
  order: 2;
}
.schedule .content .sub_head_two {
  font-size: 30px;
  font-weight: bold;
  color: #3a2467;
  margin-top: 20px;
}
.schedule .content button {
  border: 1px solid #3a2467;
  background: #3a2467;
  border-radius: 6px;
  font-size: 14px;
  width: auto;
  color: #fff;
  padding: 5px 7px;
}
.schedule .content .left_btn {
  text-align: left;
}

.schedule .content .right_btn {
  text-align: right;
}
.schedule .content .left_btn button i{ margin-right: 7px;}
.schedule .content .right_btn button i{ margin-left: 7px;}

.package_page .whiteBoxCmn:before {
 /* content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-right: 2160px solid transparent;
  border-bottom: 800px solid #bde3ff;
  z-index: -1;*/
}

.packgeBoxes .check_box span{
  border: 1px solid #3a2467;
  font-size: 14px;
  padding: 2px 10px;
  display: block;
}

.packgeBoxes .check_box:nth-child(1) span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.packgeBoxes .check_box:nth-child(2) span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

}

.packgeBoxes .check_box [type="radio"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.packgeBoxes .check_box [type="radio"] + span {
  background: #fff;
  color: #3a2467;
}

.packgeBoxes .check_box [type="radio"]:checked + span {
  background: grey ;
  color: #fff ;
}




.packgeBoxes .p_sPArt .per_user {
  /*color: #3a2467;*/
  font-size: 17px;
}



.package_page .whiteBoxCmn .packgeBoxes .modules_list .modules_head {
  color: #e58e41;
  font-weight: 700;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.packgeBoxes .modules_list .list_item {
  font-size: 14px;
  font-weight: bold;
  color: #5a5c60;
  display: flex;
  align-items: center;
  cursor: default;
  margin-bottom: 10px;
  border-bottom: solid 1px #efefef;
  padding-bottom: 10px;
}

.packgeBoxes .modules_list .list_item.disabled{
  opacity: 0.4; cursor: not-allowed;
}

.packgeBoxes .modules_list .list_item img{width: 25px; margin-right: 10px;}
.package_page .whiteBoxCmn .last_para p {
  font-size: 22px;
  margin-bottom: 35px;
  margin-top: 30px;
}

.package_page .whiteBoxCmn .last_para .contact_btn {
  border: none;
  background: #3a2467;
  color: #fff;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  max-width: 100%;
  padding: 5px 25px;
}

.footer {
  background: #38296e;
  color: #fff;
  padding-top: 50px;
}
.footer .container .company_ct{text-align: left; display: inline-block;}
.footer .company_ct ul {
  list-style-type: none;
}
.footer .company_ct .contact_logo {
  max-width: 100%;
}
.footer .company_ct li {
  padding: 4px 0;
}

.footer .company_ct li a{color: #fff;    font-size: 16px; font-weight: 600;}
.footer .company_ct li a:hover{color: #e58e41; text-decoration: none;}
.footer .copyright {
  font-size: 16px;
  position: relative;
  margin-top: 75px;
}

.footer .social_icons .footer_ic {
  font-size: 18px;
  padding: 0 15px;
  color: #fff;
}
.footer .designed_by {
  font-size: 14px;
}

@media only screen and (max-width: 1199px) {
  .features_section .icon_container {
    margin-top: -5px !important;
  }
}
@media only screen and (max-width: 991px) {
  .section_one .para {
    font-size: 14px;
  }
  .section_one .content .heading_two {
    margin-top: 8px;
    font-size: 30px;
  }
  .section_one .content .sign_up .signup_para {
    padding: 10px 30px;
  }
  .section_one .content .sign_up .form-row {
    padding: 0 30px;
  }

  .why_hcm .page_head {
    font-size: 42px;
  }
  .why_hcm .content .sub_head_one {
    font-size: 30px;
  }
  .why_hcm .content .sub_head_two {
    font-size: 30px;
  }
  .why_hcm .content .para {
    font-size: 15px;
    text-align: justify;
  }

  .footer .social_icons .footer_ic {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .navButtons {
    position: absolute;
    right: 10%;
  }

  .navbar-light .navbar-toggler {
    position: absolute;
    right: 15px;
     width: 50px;
    height: 50px;
    padding: 5px;
  }

  .navbar #navbarContent {
    background: rgba(58, 36, 103, 0.7);
    color: #fff !important;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
  }

  .navbar #navbarContent .nav-link {
    color: #fff;
  }

  .heading_one {
    font-size: 35px;
  }
  .section_one .head_para {
    font-size: 15px;
    padding: 0 25px;
  }
  .section_one .content button {
    margin-bottom: 18px;
  }
  .section_one .content .para {
    text-align: justify;
  }
  .section_one .content .packages button {
    margin: auto;
  }
  .section_one .content .packages_row {
    display: block;
  }
  .section_one .content .sign_up {
    padding: 10px 30px;
  }
  .section_one .content .sign_up .signup_head {
    font-size: 17px;
  }
  .section_one .content .sign_up .signup_para {
    padding: 10px 10px;
    font-size: 12px;
  }


  .why_hcm .page_head {
    font-size: 31px;
  }
  .why_hcm .content .left_image .col-lg-8 {
    order: 0;
  }
  .why_hcm .content .sub_head_one {
    font-size: 25px;
  }
  .why_hcm .content .sub_head_two {
    font-size: 25px;
    text-align: left !important;
    margin-top: 10px;
  }
  .why_hcm .content .para {
    font-size: 13px;
    text-align: justify;
  }

  .features_section .right_container .row .col-lg-10 {
    order: 1;
  }
  .features_section .content .head {
    text-align: center !important;
  }

  .schedule .page_head {
    font-size: 50px;
  }
 
  .schedule .content .para {
    text-align: justify;
  }
  .schedule .content .right_image h2 {
    text-align: center !important;
  }
  .schedule .content .left_image h2 {
    text-align: center !important;
  }
  .schedule .content .left_image .col-lg-8 {
    order: 0;
  }
  .schedule .content .btns .right_btn {
    text-align: center;
    margin-top: 20px;
  }
  .schedule .content .btns .right_btn .right_arrow {
    right: 100px;
  }
  .schedule .content .btns .left_btn {
    text-align: center;
  }
  .schedule .content .btns .left_btn .left_arrow {
    left: 100px;
  }

  .footer .company_ct {
    padding: 10px;
    font-size: 12px;
  }
  .footer .company_ct li {
    padding-right: 0 !important;
  }
  .footer .social_icons .footer_ic {
    padding: 0 10px;
  }
  .footer .designed_by {
    font-size: 10px;
  }
}
@media only screen and (max-width: 576px) {
  .navbar .navButtons button {
    margin-right: 5px;
    font-size: 10px;
    width: 70px;
  }

  .navbar .navbar-brand {
    padding: 0;
  }

  .heading_one {
    font-size: 30px;
  }
  .section_one .content .heading_two {
    margin-top: 10px;
    font-size: 25px;
  }
  .section_one .content .bookmark::after {
    margin-left: 70px;
    margin-top: -1px;
  }
  .section_one .content .packages .packages_head {
    font-size: 25px;
  }
  .section_one .content .packages .packages_b {
    font-size: 15px;
  }
  .section_one .content .packages .packages_b h3 {
    font-size: 20px;
  }
  .section_one .content .packages .packages_i {
    font-size: 15px;
  }
  .section_one .content .packages .packages_i h3 {
    font-size: 20px;
  }
  .section_one .content .sign_up {
    padding: 17px;
  }

  .form-row > .col,
.form-row > [class*=col-] {
    flex-basis: unset;
    margin-top: 5px;
  }

  .why_hcm .page_head {
    font-size: 25px;
  }
  .why_hcm .content .sub_head_one {
    font-size: 20px;
  }
  .why_hcm .content .sub_head_two {
    font-size: 20px;
    text-align: left !important;
    margin-top: 10px;
  }
  .why_hcm .content .para {
    font-size: 11px;
    text-align: justify;
  }

  .schedule .page_head {
    font-size: 30px;
  }
  .schedule .content .sub_head_one {
    font-size: 25px;
  }
  .schedule .content .sub_head_two {
    font-size: 25px;
  }
  .schedule .content .btns .right_btn .right_arrow {
    position: static;
    margin-left: 30px;
  }
  .schedule .content .btns .left_btn .left_arrow {
    position: static;
    margin-right: 30px;
  }

  .packgeBoxes .package__ {
    flex: inherit !important;
  }

  .packgeBoxes .package__ .p_sPArt .planRate {
    font-size: 30px;
  }

  .packgeBoxes .p_sPArt .per_user {
    font-size: 15px;
  }

  .packgeBoxes .p_sPArt .select_plan {
    font-size: 18px;
  }

  .packgeBoxes .modules_list .list_item {
    font-size: 14px;
  }

  .packgeBoxes .package__ .descP__ {
    font-size: 15px !important;
  }

  .packgeBoxes .last_para p {
    font-size: 15px;
  }

  .packgeBoxes .modules_list .modules_head {
    font-size: 25px;
  }

  .packgeBoxes .last_para .contact_btn {
    width: 80%;
  }

  .footer .container {
    text-align: center;
  }
  .footer .container .company_ct {
    padding: 0;
    padding-right: 0 !important;
  }
  .footer .container .copyright {
    position: relative;
  }
  .footer .container .social_icons {
    position: relative;
  }


  .navbar .navbar-brand img{width: 100px;}
}
@media only screen and (max-width: 320px) {
  .features_section .page_head {
    font-size: 30px;
  }
  .features_section .content .head {
    font-size: 25px;
  }
  .features_section .content .para {
    text-align: justify !important;
    font-size: 15px;
  }

  .schedule .page_head {
    font-size: 30px;
  }
  .schedule .content {
    padding: 15px;
  }
}

/*# sourceMappingURL=output.css.map */
