
/*contact section*/

body{user-select: none;}

.cmn-clr-m1{
	color:#1a416b;
}
.cmn-clr-m2{
	color:#e58e41;
}
.cmn-clr-m3{
color: #3a2467;
}

.form-group{margin-bottom: 10px;}
.contBox
{
	/*background: #bce0fb;*/
	padding: 10px 100px;
	border-radius: 10px;
}

.add_h{color: #676767;}

.customInp1{
	border: solid 1px #ededed;
	border-radius: 7px;
	background: #ededed;
}

textarea.customInp1{
	height: 100px;
	resize: none;
}

button.contSubmitBtn
{
	background: #1b3159;
	padding: 7px 15px;
	color: #fff;
	border: 1px solid #3a2467;
    background: #3a2467;
    border-radius: 6px;
    font-size: 14px;
    width: 200px;
    max-width: 100%;
}

.section_one.contactSections .content:before
{
    border-left: 1903px solid #e9f5ff;
}

.mapping{
	background: grey;
	height: 350px;
}

label.error, .error_r{font-size: 13px; color: red;}

.cmn_btnm1, .cmn_btnm1:hover{
	background: #3a2467;
	color:#fff;
	cursor: pointer;
}

.cmn_btnm2, .cmn_btnm2:hover{
	background: #fff;
	color:#3a2467;
	cursor: pointer;
	border: solid 2px #3a2467;
}

.cmn_btnm3, .cmn_btnm3:hover{
	color: #fff;
	background:#e58e41;
	cursor: pointer;
	border: solid 2px #e58e41;
}

.cmn_btnm4, .cmn_btnm4:hover{
	background: #1b3159 !important;
	color:#fff;
	cursor: pointer;
	border: solid 1px #1b3159;
}

.cmn_btnm5, .cmn_btnm5:hover{
	background: #fff;
	color:#3a2467;
	cursor: pointer;
}


/*login sec*/

.loginSection{min-height: 800px;}

.loginBox, .registerBox{
	background: #fff;
	padding: 30px 100px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #cecece;
	text-align: left;
}

.btn.loginSubmit{background: #3a2467; color:#fff; max-width: 100%;}

.nextBtn{ max-width: 100%; font-weight: 500;}

.stepList{
	display: flex;
	display: ms-flexbox;
	margin-bottom: 60px;
	margin-top: 30px;
}	

.stepList .stepN{flex: 1; font-size: 23px; font-weight: 600; text-align: center; line-height: 1; color: #636363;}
.stepList .stepN.active{color: #38296e; cursor: pointer;}
.stepList .stepN.active.in{cursor: default; font-weight: 700;}
.stepList .stepN span{display: block;}


.custmSelect1, .custmSelect1:focus{background: #595959; color: #fff; border-radius: 7px;}

.plnType_c{text-decoration: underline; font-weight: 500; cursor: pointer;}


.license_amt_dv h4{ font-size: 16px; text-align: left; flex: 1; margin-top: 10px; }
.license_amt_dv input{width: 250px;}

.amt_calc{text-align: right;}
.amt_calc div{font-size: 18px; margin-bottom: 10px;}
.amt_calc div span:first-child{font-weight: 700; color:#3a2467; }



.customRadio [type="radio"]:checked,
.customRadio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.customRadio [type="radio"]:checked + label,
.customRadio [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.customRadio [type="radio"]:checked + label:before,
.customRadio [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #e58e41;
    border-radius: 100%;
    background: #fff;
}
.customRadio [type="radio"]:checked + label:after,
.customRadio [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #e58e41;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.customRadio [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.customRadio [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.cardRadiosGr{margin-top: 15px;}
.cardRadiosGr div{ flex: 1; text-align: left; margin-bottom: 15px; }

.checkiesBx label{font-size: 13px;}

.text_decor{text-decoration: underline;}

.customCheckie
{
	position: relative;
	padding-left: 20px;
	user-select: none;
	cursor: pointer;
}


.customCheckie [type="checkbox"]{position: absolute; visibility: hidden; width: 0; height: 0;}

.customCheckie [type="checkbox"] + span:before
{
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	width: 15px;
	height: 15px;
	border: solid 1px #3a2467;
}

.customCheckie [type="checkbox"]:checked + span:after{
	content: "\f00c";
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	left: 2px;
	top: 4px;
	font-size: 12px;
	color: #3a2467;
}

.infoTable{width: 100%; display: table; margin-top: 15px;}
.info_tr{
	/*display: table-row; */
	width: 100%;
	margin-bottom: 10px;
}
.infoTd{
	display: table-cell; 
	font-size: 16px;

}
.info_tr .infoTd:first-child{
	/*width: 40%; */
	/*text-align: right; */
	padding-right: 10px; 
	padding-bottom: 5px;
}
/*.info_tr .infoTd:last-child{width: 60%}*/

.formSteps{display: none;}
.formSteps.active{display: block;}

.white_bx2{background: rgba(253, 253, 253, 0.5)}

#registerForm label.error, #loginForm label.error, #c_loginForm label.error{text-align: left; width: 100%; color:red;}

.cmnSec .cmnHead
{
	font-size: 50px;
	color:#3a2467;
}

.whiteBoxCmn
{
	margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.5);
    padding: 3rem ;
}

.packgeBoxes h3
{color: #1a416b;}

.packgeBoxes{
	display: flex;
	display: ms-flexbox;
}

.packgeBoxes .package__
{
	/*background: #e8eaee;*/
	
	padding: 0 15px;
	text-align: center;
	flex:1;
}

.packgeBoxes .package__ > div{padding:5px 5px;background: #fff; box-shadow: 0px 0px 10px #b5b5b5; width: 100%;}

.p_fPart{width: 100%;}

.packgeBoxes .package__ .p_head__{
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	padding:30px 15px;
	background: grey;
	margin-bottom: 0;
}

.packgeBoxes .package__.basic .p_head__{background: #006166;}
.packgeBoxes .package__.intermediate .p_head__{background: #3a2467;}
.packgeBoxes .package__.complete .p_head__{background: #a52259;}



.packgeBoxes .package__ .descP__
{
	font-size: 13px;
	line-height: 22px;
	font-weight: 600;
	color: #696b6f;
	background: #efefef;
	padding: 15px;
	min-height: 120px;
}
.packgeBoxes .package__.basic .descP__{background: #e5efef;}
.packgeBoxes .package__.intermediate .descP__{background: #ebe9ef ;}
.packgeBoxes .package__.complete .descP__{background: #f6e8ee;}
.modules_list {padding: 5px 15px;}

.packgeBoxes .p_sPArt .select_plan {
  /*width: 100%;*/
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background: grey;
  font-weight: bold;
  padding: 5px 15px;
}

.packgeBoxes .package__.basic .p_sPArt .planRate {color: #006166;}
.packgeBoxes .package__.intermediate .p_sPArt .planRate {color: #3a2467;}
.packgeBoxes .package__.complete .p_sPArt .planRate {color: #a52259;}

.packgeBoxes .package__.basic .p_sPArt .select_plan{background: #006166;}
.packgeBoxes .package__.intermediate .p_sPArt .select_plan{background:  #3a2467}
.packgeBoxes .package__.complete .p_sPArt .select_plan{background: #a52259}

.packgeBoxes .package__.basic .check_box span{border:solid 1px #006166;}
.packgeBoxes .package__.intermediate .check_box span{border:solid 1px #3a2467;}
.packgeBoxes .package__.complete .check_box span{border:solid 1px #a52259;}

.packgeBoxes .package__.basic .check_box [type="radio"]:checked + span{background: #006166;}
.packgeBoxes .package__.intermediate .check_box [type="radio"]:checked + span{background: #3a2467;}
.packgeBoxes .package__.complete .check_box [type="radio"]:checked + span{background: #a52259;}

.best_val{
	position: absolute;
    background: yellow;
    width: 60px;
    height: 60px;
    border: solid 5px #fff;
    border-radius: 50%;
    margin-top: -25px;
    margin-left: 15px;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 500;
}
.best_val span{display: block;}

.planRate
{
	font-size: 50px;
	font-weight: 700;
}

.feate_Containers>div{margin-bottom: 30px;}

.spinForm{display: none;}
.spinForm.active{display: block;}


.error_ser{
	background: #c70909;
	color: #fff;
	padding: 5px;
	border-radius: 7px;
	margin: 15px 0;
	display: none;
}

.error_ser.show{display: block;}

.successBox{text-align: center; padding: 50px 15px; display: none;}
.successBox.show{display: block;}
.successBox p {font-size: 18px;}
.bckHome{
	font-size: 16px !important; 
	padding: 7px 20px;
    max-width: 100%;
    border-radius: 10px;  }
.bckHome i {margin-right: 7px;}
.serverMsg{
	color: #fff;
	padding: 5px;
	border-radius: 7px;
	margin: 15px auto;
	display: none;
	width: 300px;
	max-width: 100%;
}

.serverMsg.error{background: #c70909;display: block;}
.serverMsg.success{background: #37bf1f;display: block;}


.navbar #navbarContent .nav-item.active .nav-link{color: #e58e41;}
.navbar .navButtons a.active button{background: #3a2467;color: #fff;}

.clr_inherit, .clr_inherit:hover{color: inherit;}
.mini_logo{width: 50px; margin-left: 5px;}

.main_hdr{padding: 10px 50px; height: 85px; display: flex; display: ms-flexbox; align-items: center; width: 100%; position: fixed; top: 0; background: #fff;     box-shadow: 0px 0px 5px #b5b4b4;z-index: 100;}
.logo_s{padding-right: 10px; order: 1; width: 200px;}
.logo_s img{width: 100%;}
.nav_s{order: 2; flex: 2; position: relative; }
.nav_s .navbar-navie {display: flex; list-style-type: none; margin-bottom: 0;}
.nav_s .navbar-navie .nav-item{font-size: 13px;}
.nav_s .navbar-navie .nav-link {
    color: #38296e;
    padding-left: 15px;
}
/*.nav_s .navbar-navie .nav-item.active .nav-link{ color: #e58e41 }*/
.nav_s .navbar-navie .nav-item.active .nav-link{color: #38296e;background: #f6f3ff;border-radius: 7px;}

.but_s{order: 3; display: flex; flex: 1; justify-content: flex-end; align-items: center;}
.but_s>span.but_l{margin-left: 20px;}
.but_s>span.but_l:nth-child(3){display: none;}
.toggle_ic{width: 35px; height: 30px; padding:6px 5px; border:solid 1px #cecece; border-radius: 3px; cursor: pointer;}
.toggle_ic span{width: 100%; display: block; height: 2px; background: #cecece; margin-bottom: 5px; }
.right_anB,.right_anB:hover{ color:#3a2467; padding: 2px 20px; display: inline-block; text-decoration: none; font-weight: 700; font-size: 14px; border-radius: 7px;}

.but_l:nth-child(2) .right_anB{background:#3a2467; color: #fff;border:solid 2px #3a2467; text-decoration: none;}

.navie_bts{margin-bottom: 10px !important; display: none;}
.navie_bts button{border:solid 2px #3a2467; color:#3a2467; font-weight: 700; font-size: 14px; border-radius: 7px; background: #fff; width: 100%;}
.close_ic{width: 30px; height: 30px; border:solid 1px #3a2467; background: #3a2467; color: #fff; display: inline-block; display: none; 
	align-items: center; justify-content: center; border-radius: 50%; cursor: pointer; position: absolute; top: 15px; right: 15px;}

.navie_bts.active button{background: #3a2467; color: #fff;}
.feat_drop{cursor: pointer;}

.feat_drop .dropdown-menu{
	width: 100%;
    position: fixed;
    top: 52px;
    left: 0;
    box-shadow: transparent;
    border: transparent;
    background: transparent;
    padding-top: 30px;

}
.feat_drop .dropdown-menu .drp_nc{ display: flex;background: #fff;box-shadow: 0px 0px 4px #dad8d8; padding: 15px 0;}
.feat_drop .dropdown-menu .drp_nc>div{flex: 1;}
.feat_drop .dropdown-menu .drp_nc>div a{font-size: 13px; margin-bottom: 10px;}

.caret_ic{
	
	position: absolute;
	right: 0;
	top: 10px;
	font-size: 16px;
	width: 50px;
	height: 15px;
	color: #000;
	display: none;

}
#planModal{padding-right: 0 !important;}
#planModal .modal-dialog{
	max-width: 1200px;   
	-webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}
#planModal .modal-dialog .modal-title{text-align: center; width: 100%; color: #3a2467; font-weight: 700; font-size: 45px; padding: 15px 50px;}
#planModal .modal-dialog .close_modal{top: 15px; position: absolute; font-size: 45px; cursor: pointer; right: 15px;}
#planModal .modal-dialog .modal-body{padding: 15px 50px; padding-bottom: 50px;}
.package_scr{max-height: 600px; overflow-y: scroll; padding: 15px 50px;}

.registerSection{min-height: 1200px;}


.whiteBox_cmn {
    background: rgba(255, 255, 255, 0.5);
    padding: 0 50px;
}
.dropdown-item:hover, .dropdown-item:active{background: transparent;color: #3a2467;font-weight: 500;}
.dropdown-item.active{
	color: #3a2467;
	background: transparent;
	padding-left: 40px;
	font-weight: 500;
	cursor: default;
	position: relative;
}

.dropdown-item.active:before{
	content: "\f0d7";
    position: absolute;
    margin-left: -15px;
    font: normal normal normal 18px/1 FontAwesome;
    transform: rotate(-90deg);
    margin-top: 2px;

}

.checkie_grp{display: flex; display: ms-flexbox; max-width: 225px; margin: 0 auto;}
.checkie_grp>label{flex: 1}

.section_one .head_para2 {
  font-size: 17px;
  color:#38296e;
  font-weight: 500;
}

.packages_row .packHd{color:#1a416b !important; font-weight: 700; margin-bottom:20px; margin-top: 10px;}

.cmn_btn3{
	background: #1a416b !important;
	color: #fff !important;
}
button.subscribe_btn{
	padding: 7px 15px !important;

}

.feat_box__{padding: 7px; background: #fff; box-shadow: 0px 0px 10px #efefef; margin-bottom: 30px;}
.imgBx__ img{width: 100%;}
.feat_des__{padding: 20px;}

.pckGRow{padding: 0 30px;}
.Feats_l{text-align: center; font-size: 13px; color: grey; margin-bottom: 30px;}
.Feats_l div{border-bottom: solid 1px #efefef; padding-bottom: 15px; margin-top: 15px;}

.main_loader{background: #fff; width: 100%; height: 100%; z-index: 1000; position: fixed; left: 0; top: 0;}

.logo_t{
	position: relative;
	width: 300px;
	height: 300px;
	left: calc(50% - 150px);
	top: calc(50% - 150px);
	background: red;
}

.p_para{width: 80%; margin: 10px auto; margin-bottom: 30px;}

.emailserverMsg{width: 100%; color: red; display: none; font-size: 13px;}
.emailserverMsg.error{display: block;}

.feature_grid{margin-left: -15px; margin-right: -15px;}
.feature_grid .featgrid_item{width: 50%; padding-left: 15px; padding-right: 15px;}
















@media (max-width: 1199px){
.heading_one{font-size: 50px;}
}






@media (max-width: 991px){
	.contBox{padding: 30px;}
	.loginBox, .registerBox{padding: 30px;}
	.stepList .stepN{font-size: 20px;}
	.cmnSec .cmnHead{font-size: 40px;}
	.features_section .content .head{font-size: 30px;}
	.nav_s{position: fixed; overflow-y: auto; padding: 100px 15px; width: 250px; transition: ease 0.5s; height: 100%; left: -250px; top: 0; background:#fff;z-index: 1000; box-shadow: 0px 5px 5px #cecece;}
	.nav_s.show{left: 0;}
	.but_s>span.but_l:nth-child(3){display: inline-block;}
	.nav_s .navbar-navie{display: block; padding-left: 0; text-align: center;}
	.nav_s .navbar-navie .nav-item{margin-bottom:15px;}
	.right_anB{display: none;}
	.navie_bts{display: block;}
	.close_ic{display: flex;}

	.feat_drop .dropdown-menu{width: 100%; position: relative; border:none;text-align: center; margin-bottom: 30px;top: 0;}
	.feat_drop .dropdown-menu .drp_nc{ display: block;}
	.caret_ic{display: block;}
	.feat_drop.show .caret_ic{transform: rotate(180deg);}

	.packgeBoxes{display: block;}
	.packgeBoxes .package__ {margin-bottom: 15px;}
	.heading_one{font-size: 40px;}

	#planModal .modal-dialog .modal-body{padding: 15px;}
	.package_scr{padding: 15px;}
	#planModal .modal-dialog{top: 0; -webkit-transform: translate(0,0%);transform: translate(0,0%); height: auto;}
	#planModal .modal-content{height: 100%;}
	.package_scr{max-height: 100%;}
	.registerSection{min-height: auto;}
	.section_one .triangle_bot{right: 0; left: inherit;}
	.navie_bts{margin-bottom: 0 !important;}
	.pckGRow{padding: 0px;}
}

@media (max-width: 767px){
	.stepList .stepN{font-size: 15px;}
	.license_amt_dv{display: block !important; }
	.cardRadiosGr{display: block !important;}
	.license_amt_dv h4{width: 100%;}
	.license_amt_dv input{width: 100%;}
	.features_section .content .head{padding-bottom:0px !important; margin-bottom: 15px;}
	.features_section .page_head{font-size: 28px;}
	.features_section .content .head{font-size: 25px;}
	.main_hdr{padding: 15px;}
	.logo_s{width: 150px;}
	.right_anB{font-size: 12px; padding: 2px 15px;}
	.heading_one{font-size: 30px;}
	.section_one .head_para2{font-size: 15px;}
	.cmnSec .cmnHead{font-size: 30px;}
	#planModal .modal-dialog .modal-title{font-size: 25px;}
	.nextBtn{font-size: 13px;}
	.packgeBoxes .package__ .p_head__{font-size: 20px;}
	.package_page .whiteBoxCmn .last_para .contact_btn{font-size: 18px;}
	.package_page .whiteBoxCmn .last_para p{font-size: 16px;}
	.whiteBoxCmn{padding: 50px 15px;}
	.whiteBox_cmn{padding: 50px 15px !important;}
	.features_section .content{padding: 50px 15px !important;}
	.contBox{padding: 30px 0;}
	.section_one .content{padding: 50px 15px !important; }
	.section_one .content .sign_up{padding: 0px ;}
	.packgeBoxes .package__{padding: 15px 15px}
	.schedule .content {padding: 0 15px;}
	.p_para{width: 100%; margin-bottom: 0;}
	.footer .container .company_ct{text-align: center; display: block;}
	.footer .container .social_icons{margin-top: 30px;}
	.section_one .content .sign_up .signup_para{padding: 15px 0;}
	 .section_one .content .sign_up .form-row {padding: 0px}
	 .why_hcm .content{padding: 0 15px;}
	 .section_one .content .packages button{margin-top: 15px !important;}
	 .feat_des__ > h4{font-size: 22px;}
	 .loginSection{min-height: auto;}
}

@media (max-width: 575px){
	.feature_grid .featgrid_item{width: 100%;}
}

@media (max-width: 420px){

	.captcha_Dv{
		transform: scale(0.7);
	}

	.stepList .stepN{font-size: 13px;}
	.heading_one{font-size: 22px;}
	.cmnSec .cmnHead{font-size: 22px;}
	.section_one .head_para2{font-size: 14px;}
	.packgeBoxes .check_box span{font-size: 11px;}
	.nextBtn{font-size: 12px;}
	.package_page .whiteBoxCmn .packgeBoxes .modules_list .modules_head{font-size: 18px;}
	.packgeBoxes .package__ .p_head__{font-size: 17px;}
	.feat_des__ > h4{font-size: 18px;}
	p{font-size: 13px;}
	
}	

@media(max-width: 360px){
	.stepList .stepN{font-size: 11px; font-weight: 500;}
}

@media(max-width: 320px){
.packgeBoxes .check_box span{font-size: 10px;}
}