$bg-primary: #3A2467;
$font: "Acumin Pro", sans-serif;
$sidebar-width: 300px;

@import "./general.scss";


html, body, .layout-dashboard {
    height: 100%;
    font-family: $font;
}


// normalised styling 
// DANGER: Be careful when editing this! if in doubt, override styling instead
.layout-dashboard {
    background-color: #FDFDFD;

    &.site-wrapper {
        display:  flex;
        min-height: 100%;
        flex-direction: unset;
    
        .site-content {
            flex: 1;
        }
    }
    

    nav {
        & > ul {
            margin: 0;
            padding: 0;
            display: inline-block;

            & > li {
                display: inline-block;
                & > a {
                    display: inline-block;
                }
            }
        }
    }

    .site-body {
        flex: 1;
        min-height: 100vh;
    }
}

@media (min-width: 992px) {
    .layout-dashboard {
        h1 {
            font-size: 60px;
        }
    }
}


// CASCADED STYLES
.layout-dashboard {
    .sidebar {
        background-color: #FFFFFF;
        top: 0;
        min-width: $sidebar-width;
        width: $sidebar-width;
        display: flex;
        flex-direction: column;
        z-index: 1;
        overflow-y: auto;
        box-shadow: 0 1px 6px 2px rgba(0,0,0,0.1);
        -webkit-overflow-scrolling: touch; // iOS momentum scrolling


        &.sidebar-left {
            left: 0;
        }
        &.sidebar-right {
            right: 0;
        }

        .sidebar-header {
            min-height: 167px;
        }

        .sidebar-navigation {
            flex: 1;
            box-shadow: 0 1px 6px 2px rgba(0,0,0,0.1);

            ul {
                margin: 0;
                padding: 0;
                width: 100%;

                li {
                    padding: 0;
                    display: block;

                    a {
                        display: inline-block;
                        width: 100%;
                        padding: 12px 20px;
                        color: #000000;

                        &.active {
                            font-weight: bold;
                        }
                    }
                }

                ul {
                    padding: 0 20px;

                    li {
                        a {
                            padding: 0px 20px;
                            font-size: 14px;
                        }
                    }
                }
            }

        }

        .sidebar-footer {
            font-size: 12px;

            .sidebar-footer-links {
                margin: 0;
                padding: 8px 0px;

                li {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    a {
                        display: inline-block;
                        color: #FFFFFF;
                        padding: 8px 24px;
                    }
                }
            }

            .copyright {
                padding: 8px 24px;
            }
        }
    }

    .site-header {
        width: 100%;
        background-color: $bg-primary;

        h1 {
            margin: 0;
        }

        .nav-icons {
            nav {
                ul {
                    li {
                        a {
                            padding: 8px;
                            img {
                                height: 24px;
                            }
                        }
                    }
                }
            }
        }

        .site-heading {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

}


@media (min-width: 768px) {
    .layout-dashboard {

        .site-navigation {
            display: block;
        }

        .site-header {
            height: 167px;
            background-color: $bg-primary;
    
            h1 {
                margin: 0;
                line-height: 72px;
            }
            
        }
    }

}



@media (min-width: 992px) {
    .layout-dashboard {
        .site-navigation {
            display: block;
        }

        .site-header {
            background-color: $bg-primary;
    
            h1 {
                margin: 0;
                line-height: 72px;
                white-space: nowrap;
            }
        }
    }
}

@media (min-width: 1200px) {
    .layout-dashboard {
        .site-header {
            padding-left: 137px;
            padding-right: 137px;
        }
        .site-content {
            .site-content-inner {
                padding-left: 137px;
                padding-right: 137px;
            }
        }
    }
} 