$acuminPro: 'Acumin Pro', sans-serif;

.container-fluid {
    width: 100%;
    font-family: $acuminPro;
}

.centercontainer {
    margin: 0px auto;
}

.clear {
    clear:both;
}

.linkbar {
    margin-top: 40px;
}

.linkbar img {
    float: right;
    padding-left: 16px;
}

#headerrow {
    background-color:#3A2467;
}

.logobox {
    height: 160px;
    border-right: 1px solid #fff;
}

h1 {
    height: 88px;
    color: #F6F6F6;
    font-family: $acuminPro;
    font-size: 60px;
    font-weight: bold;
    line-height: 72px;
}

$border_radius: 4px;
$border_color: #000;


h3.color {
	color: #404040;
	font-size: 20px;
	font-weight: bold;
	line-height: 32px;
}

form label {
	color: #000000;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 0px;
}

form .required {
	color: #dc3545
}

#contentsection {
    background-color:#e9e9e9;
}

#leftbar {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 6px 2px rgba(0,0,0,0.1);
    padding-left: 0px;
    padding-right: 0px;
}

.leftmenu a.active {
    color: #404040;
    font-family: $acuminPro;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.leftmenu {
    padding-left: 15px;
}

.leftmenu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.leftmenu li {
	color: #000000;
	font-family: $acuminPro;
	font-size: 16px;
    margin: 15px 0px 15px 0px;
}

.leftmenu a {
    display: block;
    color: #000;
    background-color: #FFF;
    width: 100%;
    font-family: $acuminPro;
	font-size: 16px;
    padding: 3px 12px 3px 0px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.leftmenu ul li ul {
    padding: 0px 0px 0px 17px;
}

.leftmenu ul li ul li {
    margin: 4px 0px 4px 0px;
}

.leftmenu ul li ul a {
    font-size: 14px;
    padding: 0px 0px 0px 8px;
}

.footer {
	background-color: #3A2467;
}

.footer ul
{
    margin: 0;
    padding: 10px 15px 10px 15px;
    list-style-type: none;
    width: 100%;
}

.footer li {
	color: #000000;
	font-family: $acuminPro;
	font-size: 16px;
    margin: 15px 0px 15px 0px;
}

.footer a {
    display: block;
    color: #fff;
    width: 100%;
    font-family: $acuminPro;
	font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 3px 12px 3px 0px;
    text-decoration: none;
}

.footer #copyright {
	color: #F6F6F6;
	font-family: $acuminPro;
	font-size: 10px;
    line-height: 14px;
    font-weight: 100;
}


/*
=====================================================================
Default styling for <CustomSelect/> and <CustomAsyncSelect/> components
All CustomSelect & CustomAsyncSelect will have `.custom-select` class name.

Careful when modifying this part of the code. If you need to make customized 
styling, CREATE your own scss rules!

eg.
// src/stylesheets/pages/WhatEverPage.scss
form#TheIdOfTheFormThatContainsCustomSelect {
    .custom-select {
        border: none !important;

        &.Select {
            ...
        }
        ...
    }
}
=====================================================================
*/
.custom-select {
    // reorient and enlarge arrow
    &.Select {
        & > .Select-control .Select-arrow {
            transform: rotate(-90deg);
            border-width: 8px 8px 0px;
        }
    }

    &.Select.is-open {
        & > .Select-control .Select-arrow {
            transform: translateY(2px) rotate(180deg);
            border-width: 0 8px 8px;
        }
    }

    .Select-value, 
    .Select-placeholder {
        font-weight: bold;
        font-size: 14px;
    }

    &.Select-placeholder, .Select--single > .Select-control .Select-value {
        line-height: 40px;
    }

    // styling for <CustomCheckbox variant='dark' ... />
    & .custom-select-dark {
        .Select-control, &.Select.is-focused > .Select-control {
            background-color: #1E1E1E;
        }
    
        &.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, 
        &.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
            color: white;
        }
    
        .Select-placeholder {
            color: white
        }
    }

    // styling for <CustomCheckbox variant='light' ... />
    &.custom-select-light {
        .Select-control, &.Select.is-focused > .Select-control {
            background-color: #f3f3f3;
        }
    
        &.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, 
        &.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
            color: #333;
        }
    
        .Select-placeholder {
            color: black
        }
    }

    // fix padding issue when mixing with bootstrap's 'form-control' class
    &.form-control {
        padding: 0;
        
        .Select-control {
            border: none;
        }
    }

    &.Select {
        padding: 0;
        border: none;
    }
}


/*
=====================================================================
Default styling for <CustomCheckbox/> component
All CustomCheckbox will have `.custom-checkbox` class name.

Careful when modifying this part of the code. If you do, 
it will affect all custom checkboxes in other pages.

If you need to make customized styling, CREATE your own scss rules!

eg.
// src/stylesheets/pages/WhatEverPage.scss
form#TheIdOfTheFormThatContainsCustomCheckbox {
    .custom-checkbox {
        label {
            ...
        }

        input[type="checkbox"] {
            ...
        }

        input[type="checkbox"] + .box {
            ...
        }

        ...
    }
}
=====================================================================
*/
.custom-checkbox {

    label {
        padding-left: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        font-size: 11px;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"] + .box {
        position: relative;
        left: -18px;
    }
    
    input[type="checkbox"] + .box:before,
    input[type="checkbox"] + .box:after {
        transition: all 0.3s;
    }
    
    input[type="checkbox"] + .box:after {
        position: absolute;
        display: inline-block;
        content: ' ';
        width: 13.33px;
        height: 13.33px;
        border: 2px solid #999;
        border-radius: 2px;
        background-color: #fff;
    }

    input[type="checkbox"]:checked + .box:after {
        background-color: #404040;
        border-color: #404040;
    }
    
    input[type="checkbox"]:checked + .box:before {
        transform: rotate(45deg);
        position: absolute;
        top: -2px;
        left: 4px;
        width: 5px;
        height: 9px;
        border-width: 2px;
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-color: #fff;
        content: '';
        z-index: 10000;
        
    }
}

/*
Close icon
=====================================================================
*/
.close-icon {
    position: absolute;
    right: 35px;
    top: 13px;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    &:before, &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: ' ';
        height: 25px;
        width: 2px;
        background-color: #333;
    }

    
    &:before {
        transform: rotate(45deg);
    }
    
    &:after {
        transform: rotate(-45deg);
    }
      
}



/*
=====================================================================
Entry headers are titles of the page that has top and bottom border.
Add an h2 inside that element to get the font size applied automatically
=====================================================================
*/
.entry-header {
    padding: 11px 15px 5px 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    & > h2 {
        font-size: 28px;
        margin: 0;
    }
}


/*
=====================================================================
Add spacing at the bottom of the page
=====================================================================
*/
.site-body {
    padding-bottom: 300px;
}


/*
=====================================================================
Overrides bootstrap `.breadcrumb` styling
=====================================================================
*/
.layout-dashboard .breadcrumb {
    $breadcrumb-separator: "\00a0\00a0\00a0>"; // '>'

    background-color: inherit;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 24px;

    .breadcrumb-item {
        &:not(:first-child)::before {
            content: $breadcrumb-separator;
        }

        &:last-child::after {
            content: $breadcrumb-separator;
        }
    }
}


/*
=====================================================================
Wraps <OrgSummary /> and add extra spacing at the bottom
=====================================================================
*/
.site-information {
    margin-bottom: 48px;
}


/*
=====================================================================
Covers parts of the page (usually list of items) with light front layer. 
You'll use it to indicate that the browser is currently fetching items.

When you use front-layer class, make sure your wrap it with
.is-searching
=====================================================================
*/
.front-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    height: 100%;
    background-color: white;
    opacity: 0.8;
    z-index: 1;
    display: none; // hidden by default
}

div.is-searching {
    position: relative;

    & > .front-layer {
        display: flex;
        align-items: center;

        &:after {
            content: "Searching...";
            width: 100%;
            text-align: center;
        }
    }
}


/*
=====================================================================
Search form
=====================================================================
*/
form.search-form {
    position: relative;
    width: 100%;

    input[type='text'] {
        height: 52px;
        background-color: #e6e6e6;
        border: none;
        width: 100%;
        padding-left: 52px;
        border-radius: 8px;
    }

    &:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 3px solid #404040;
        position: absolute;
        border-radius: 100%;
        top: 15px;
        left: 20px;
    }

    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 32px;
        bottom: 18px;
        border-width: 0;
        background: #404040;
        width: 11px;
        height: 3px;
        -webkit-transform: rotate(45deg);
           -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
             -o-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    button.btn {
        z-index: 3;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 70px;
        height: 100%;


        .close-icon {
            z-index: 3;
        }
    
        &:hover {
            .close-icon {
                opacity: 1;
            }
        }
    }
}



/*
=====================================================================
Displays list of div with rounded borders
=====================================================================
*/
.hcm-list {
    section {
        background-color: #e6e6e6;
        padding: 10px 24px;
        margin-top: 24px;
        margin-bottom: 24px;
        border-radius: 8px;
        min-height: 48px;
    }
}

/*
=====================================================================
Display a divider in a div. (usually in a .row > .col-12) on the right side
The element that has class '.has-vertical-divider' will have a divider 
that fills the height of this by default.

If you need to extend the height of divider, override by applying

#YourWhatEverRootClass {
    .row > .has-vertical-divider {
        top: -10px;
        bottom: -10px;
    }
}
=====================================================================
*/
.row > .has-vertical-divider {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: inline-block;
        width: 1px;
        background-color: #343a40;
    }
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
}

.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}

.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

select.form-control + .tooltip,
textarea.form-control + .tooltip,
input.form-control + .tooltip {
    margin-top: -38px;
}


#addsite {
    .tooltip.in {
        filter: alpha(opacity=90);
        opacity: .9;
    }
}

.tooltip-inner {
	background-color: #cc0000 !important;
}

.tooltip.top .tooltip-arrow {
	border-top-color: #cc0000 !important;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #cc0000 !important;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #cc0000 !important;
}

.login100-form .tooltip-inner {
	width: 150px;
}

.select-parant-validation {
	position: relative;
}

.select-parant-validation .tooltip {
	position: absolute;
	top: -3px;
	left: 50%;
	transform: translate(-50%);
	visibility: hidden;
}

.custom_select + .tooltip.top {
	visibility: hidden;
	position: absolute;
	top: -31px;
	left: 50%;
	transform: translate(-50%);
	width: 135px;
}

.custom_select + .tooltip.bottom {
	visibility: hidden;
	position: absolute;
	bottom: -31px;
	left: 50%;
	transform: translate(-50%);
	width: 135px;
}

.multiple_checkbox_tooltip .tooltip {
	left: 50% !important;
	transform: translate(-50%) !important;
	top: -3px !important;
	visibility: hidden;
}

.select-validation-error {
	visibility: visible !important;
}  
/* As there are modals in the page and modals have z-index of 1050, we need to set a higher z-index for the google-autocomplete-place api's suggestion list */
.modal + .pac-container {
    z-index: 1051;
    display: block !important;
}
