@font-face {
  font-family: 'Finanace-icon';
  src:  url('./icons/Finanace-icon.eot');
  src:  url('./icons/Finanace-icon.eot') format('embedded-opentype'),
    url('./icons/Finanace-icon.ttf') format('truetype'),
    url('./icons/Finanace-icon.woff') format('woff'),
    url('./icons/Finanace-icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Finanace-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-upload-img:before {
  content: "\e900";
}
