$base_color: #38296e;
$border_rad: 5px;

@mixin flex_ {
    display: flex;
    display: -ms-flexbox;
  }

  @mixin flex_center {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
        justify-content: center;
  }