@media screen and (max-width: 1200px) {
  .cmnSec .transBox{padding: 50px 30px;}
  .compPad__{padding: 15px 20px;}
}

@media screen and (max-width: 991px) {
  .cmnSec {
    .transBox {
      padding: 30px 30px;
    }
  }
  .compPad__ {
    padding: 30px 15px;
  }
  .white_bx__ {
    padding: 15px;
  }

  .table_common__ {
    .ReactTable {
      .rt-tbody {
        padding: 15px 0;
        padding-left: 5px;
        .rt-td {
          .action_c {
            text-align: center;
          }
        }
      }
      .pagination-bottom {
        .-pagination {
          .-pageJump {
            input {
              width: 40px;
            }
          }
        }
      }
    }
  }

  .main_hdr {
    .but_s {
      .prof_but {
        margin-right: 15px;
        .prof_name{
          display: none;
        }
        
      }

      .toggle_s {
        display: block;
      }
    }
    .nav_s {
      position: fixed;
      background: #fff;
      height: 100%;
      top: 0;
      box-shadow: 0px 0px 5px #efefef;
      padding: 15px;
      width: 250px;
      transition: all ease 0.5s;
      left: -250px;
      &.show{
        left: 0;
      }
      .navbar-navie{
        display: block;
        text-align: center;
      }
      .mobNavie_logo{display: block;margin-bottom: 30px; max-width: 100%; margin-top: 45px;}
      .close_ic{display: flex;}
      
    }
    .overlay{
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.1);
      position: fixed;
      display: none;
      &.show{
        display: block;
      }
    }
  }


  .cmnSec .mainHeader {
    font-size: 36px;
  }

  .billingFeats {
    .boxie__ {
      flex-wrap: wrap;
    }
    .bank__ {
      flex: none;
      width: 50%;
    }
    .numb__ {
      flex: none;
      width: 50%;
      text-align: right;
    }
    .exp__ {
      padding-left: 30px;
      flex: none;
      width: 50%;
    }
    .action__ {
      padding-left: 30px;
      width: 50%;
      text-align: right;
      .edit,.delete {
        font-size: 20px;
      }
    }
  }

  .radGrp{
    > div{flex: none; margin-right: 20px;}
  }

}

@media screen and (max-width: 767px) {
  .cmnSec {
    padding: 50px 0;
    .transBox {
      padding: 30px 15px;
    }
  }

  .compPad__ {
    padding: 30px 0px;
  }
  .table_common__ {
    .ReactTable {
      .rt-tbody {
        .rt-td {
          .action_c {
            text-align: left;
          }
        }
      }
      .pagination-bottom {
        .-pagination {
          flex-wrap: wrap;

          .-previous {
            width: 100%;
            flex: 1;
            order: 2;
            justify-content: flex-end;
            padding: 5px;
          }
          .-center {
            width: 100%;
            flex-wrap: nowrap;
            order: 1;
            flex: auto;
          }
          .-next {
            width: 100%;
            flex: 1;
            order: 3;
            justify-content: flex-start;
            padding: 5px;
          }
        }
      }
    }
  }

  .footer {
    .container {
      .company_ct {
        padding: 10px;
        font-size: 12px;
        text-align: center;
        padding-right: 15px !important;
        li {
          padding-right: 0 !important;
        }
      }
      .social_icons .footer_ic {
        padding: 0 10px;
      }
      .designed_by {
        font-size: 10px;
      }
    }
  }

  .main_hdr {
    padding: 10px 15px;
  }
  .cmnSec .mainHeader {
    font-size: 30px;
  }
  .dets_ul__ {
    text-align: left;
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .footer {
    .container {
      text-align: center;
      .company_ct {
        padding: 0;
        padding-right: 0 !important;
      }
      .copyright {
        position: relative;
      }
      .social_icons {
        position: relative;
      }
    }
  }
  .cmnSec .mainHeader {
    font-size: 25px;
  }

  .cmnSec{
    .white_bx__{
      h3{font-size: 24px;}
    }
  }

  .modal__:before{margin-right: 0;}
}
