*,
html {
  box-sizing: border-box;
}

body {
  user-select: none;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-top: 85px;
  z-index: 0;
  font-size: 15px;
  color: #4c4c4c;
}

ul {
  list-style: none;
  padding-left: 0;
}
p {
  font-size: 13px;
  margin-bottom: 10px;
}

.wtrMark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.btn1 {
  background: $base_color;
  color: #fff;
  border: transparent;
  &:hover {
    color: #fff;
    background: $base_color;
    border: transparent;
    box-shadow: 0px 0px 5px #efefef;
  }
}

.color1 {
  color: $base_color;
}
.color2 {
  color: #3c3b3b;
}
.f-bold {
  font-weight: 500;
}
.f-bolder {
  font-weight: 700;
}
.t_underline {
  text-decoration: underline;
}

.clr_inherit {
  color: inherit;
}

.line_h_0 {
  line-height: 0;
}

.c_pointer {
  cursor: pointer;
}

.pos_relative {
  position: relative;
}
.pos_absolute {
  position: absolute;
}

.f-12 {
  font-size: 12px;
}
.f-13 {
  font-size: 13px;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.main_hdr {
  padding: 10px 50px;
  height: 85px;
  display: flex;
  display: ms-flexbox;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  box-shadow: 0px 0px 5px #b5b4b4;
  z-index: 100;
  left: 0;

  .logo_s {
    padding-right: 10px;
    order: 1;
    width: 200px;

    img {
      width: 100%;
    }
  }

  .nav_s {
    order: 2;
    flex: 2;
    position: relative;
    padding-left: 30px;
    .mobNavie_logo {
      display: none;
    }
    .navbar-navie {
      display: flex;
      list-style-type: none;
      margin-bottom: 0;

      .nav-item {
        font-size: 13px;

        .nav-link {
          color: #38296e;
          padding-left: 15px;

          &.active {
            color: #38296e;
            background: #f6f3ff;
            border-radius: 7px;
          }
        }
      }
    }
  }

  .but_s {
    order: 3;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

    span.but_l {
<<<<<<< HEAD
      margin-left: 20px;
      &.toggle_s {
        display: none;
      }
=======
>>>>>>> 2400d730d5bfaf69d7e3ca1b4767c7d4a1e0c075
      &.login_bt .right_anB {
        background: #3a2467;
        color: #fff;
        border: solid 2px #3a2467;
        text-decoration: none;
      }
    }

    .dropdown-toggle::after {
      display: none;
    }
    .dropdown-menu {
      width: 250px;
      margin-top: 17px;
      border-radius: 0;
      padding: 15px;
      .userPic2 {
        width: 50px;
        height: 50px;
        background: $base_color;
        border-radius: 50%;
        margin: 15px auto;
        margin-bottom: 0;
        color: #fff;
        font-weight: 600;
        > span {
          width: 100%;
          height: 100%;
          @include flex_center;
        }
      }
      .notifBox {
        border-top: solid 1px #efefef;
        padding: 15px 0;
        > span {
          font-size: 12px;
          font-weight: 600;
          position: relative;
          .notify {
            background: #ec3728;
            color: #fff;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            display: flex;
            display: -ms-flexbox;
            align-items: center;
            justify-content: center;
            font-size: 8px;
            position: absolute;
            right: -25px;
            top: 0px;
            font-weight: normal;
          }
        }
      }
    }
  }

<<<<<<< HEAD
=======
  .prof_but {
    @include flex_center;

    .profPc {
      width: 35px;
      height: 35px;
      background: $base_color;
      @include flex_center;
      color: #fff;
      border-radius: 50%;
      margin-left: 10px;
      position: relative;
      font-size: 11px;
    }
    .notify {
      background: #ec3728;
      color: #fff;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      display: flex;
      display: -ms-flexbox;
      align-items: center;
      justify-content: center;
      font-size: 8px;
      position: absolute;
      right: -5px;
      top: -5px;
      font-weight: normal;
    }
  }

>>>>>>> 2400d730d5bfaf69d7e3ca1b4767c7d4a1e0c075
  .toggle_ic {
    width: 35px;
    height: 30px;
    padding: 6px 5px;
    border-radius: 3px;
    cursor: pointer;

    span {
      width: 100%;
      display: block;
      height: 2px;
      background: #cecece;
      margin-bottom: 5px;
    }
  }

  .right_anB,
  .right_anB:hover {
    color: #3a2467;
    padding: 2px 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    border-radius: 7px;
  }

  .navie_bts {
    margin-bottom: 10px !important;
    display: none;

    button {
      border: solid 2px #3a2467;
      color: #3a2467;
      font-weight: 700;
      font-size: 14px;
      border-radius: 7px;
      background: #fff;
      width: 100%;
    }
    &.active button {
      background: #3a2467;
      color: #fff;
    }
  }

  .close_ic {
    width: 30px;
    height: 30px;
    border: solid 1px #3a2467;
    background: #3a2467;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
// header ends

.cmnSec {
  padding: 60px 15px;

  .mainHeader {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: $base_color;
    margin-bottom: 40px;
  }

  .transBox {
    background: rgba(253, 253, 253, 0.8);
    padding: 50px 100px;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.white_bx__ {
  padding: 30px;
  background: #fff;
  box-shadow: 0px 0px 12px #dad9d9;
  border-radius: $border_rad;
  margin-bottom: 30px;
}

.profilePic {
  background: $base_color;
  color: #fff;
  width: 70px;
  height: 70px;
  margin: 10px auto;
  border-radius: 50%;
  position: relative;

  .profInitial {
    width: 100%;
    height: 100%;
    @include flex_;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
  }

  .addImg {
    position: absolute;
    background: #cfcada;
    color: $base_color;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    padding: 3px;
    cursor: pointer;
    i {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      border: solid 1px $base_color;
      border-radius: 50%;
      font-size: 8px;
    }
  }
}

.profNam_det__ {
  h5 {
    font-size: 18px;
    color: #3e3d3d;
    font-weight: 500;
  }
  h6 {
    font-size: 18px;
    font-weight: 400;
    color: #4c4c4c;
  }
}

.actUl {
  li {
    padding-left: 20px;
    position: relative;
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: grey;
      position: absolute;
      left: 0;
      top: 8px;
    }
    &.active:before {
      background: #2dde2d;
    }
    &.inactive:before {
      background: #ec3728;
    }
  }
}

.notifyHead {
  position: relative;
  display: inline-block;
  span {
    background: #ec3728;
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    @include flex_center;
    font-size: 9px;
    position: absolute;
    right: -20px;
    top: 0;
    font-weight: normal;
  }
}

.active_bt {
  background: #d3f0d8;
  border: solid 1px #50c264;
  color: #000;
  border-radius: $border_rad;
  font-size: 10px;
  padding: 2px 5px;
  font-weight: 700;
  text-decoration: none !important;
}

.list_1QH {
  border-bottom: solid 1px #efefef;
  padding-bottom: 15px;
}
.list_2QH {
  > div {
    margin-bottom: 15px;
  }
}

.table_common__ {
  .ReactTable {
    border: none;

    .rt-tbody {
      padding: 15px;
      overflow-x: hidden;

      .rt-tr-group {
        margin-bottom: 15px;
        box-shadow: 0px 0px 12px #e2e2e2;
        border-bottom: none;
        padding: 7px 0;
      }
      .rt-td {
        border-right: none;
        @include flex_;
        align-items: center;
        > div {
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 13px;
        }

        .action_c {
          text-align: right;
          i,
          a {
            color: $base_color;
            cursor: pointer;
          }
        }
      }
    }

    .pagination-bottom {
      width: 450px;
      max-width: 100%;
      margin: 0 auto;

      .-pagination {
        box-shadow: none;
        border: none;

        select {
          border: solid 1px $base_color;
        }

        > div {
          @include flex_;
          align-items: center;
        }
        .-pageJump input {
          width: 60px;
          border: solid 1px $base_color;
        }
        .-center {
          flex: 5;
        }
        .-btn {
          width: 30px;
          height: 30px;
          background: $base_color;
          color: #fff;
          @include flex_center;
          border-radius: 50%;
          &:hover {
            background: $base_color;
          }
        }

        .-next {
          @include flex_;
          justify-content: flex-end;
        }
      }
    }
  }
}

.notifyTable {
  .rt-thead {
    &.-header {
      display: none;
    }
  }
  .activeNoti_ {
    width: 15px;
    height: 15px;
    background: $base_color;
    border-radius: 50%;
    display: inline-block;
  }
}

.compPad__ {
  padding: 15px 80px;
}

.dets_Ul__ {
  li {
    margin-bottom: 15px;
    color: #636363;
  }
}

.dets_ul__ {
  display: inline-block;
  text-align: left;
  li,
  a {
    color: grey;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      color: $base_color;
    }
    &.active {
      padding-left: 15px;
      color: $base_color;
      font-weight: 600;
      &:before {
        content: "\f04b";
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
  }
}

.lab1 {
  width: 100%;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.form-control1 {
  width: 100%;
  background: #efefef;
  border: solid 1px transparent;
  height: 40px;
  border-radius: $border_rad;
  padding: 0 15px;
  &:focus {
    outline: none;
    border: solid 1px $base_color;
  }
}

textarea.form-control1 {
  height: 130px;
  resize: none;
}

/* custom tooltip */

.tooltip {
  position: absolute;
  z-index: 1;
  display: block;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto;

  &.in {
    filter: alpha(opacity=90);
    opacity: 0.9;
  }

  &.top {
    padding: 5px 0;
    margin-top: -3px;

    .tooltip-arrow {
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 5px 5px 0;
      border-top-color: #cc0000 !important;
    }
  }

  &.right {
    padding: 0 5px;
    margin-left: 3px;
    .tooltip-arrow {
      top: 50%;
      left: 0;
      margin-top: -5px;
      border-width: 5px 5px 5px 0;
      border-right-color: #cc0000 !important;
    }
  }

  &.bottom {
    padding: 5px 0;
    margin-top: 3px;
    .tooltip-arrow {
      top: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 0 5px 5px;
      border-bottom-color: #cc0000 !important;
    }
  }

  &.left {
    padding: 0 5px;
    margin-left: -3px;
    .tooltip-arrow {
      top: 50%;
      right: 0;
      margin-top: -5px;
      border-width: 5px 0 5px 5px;
      border-left-color: #cc0000 !important;
    }
  }

  .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    background-color: #cc0000 !important;
  }

  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}

.linp_l_side {
  flex: 1;
}
.linp_r_side {
  width: 80px;
}
.actnBts1__ {
  border: solid 2px $base_color;
  color: $base_color;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  i {
    line-height: 0;
  }
}

.customCheckie {
  position: relative;
  padding-left: 20px;
  user-select: none;
  cursor: pointer;

  [type="checkbox"] {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    & + span:before {
      content: "";
      position: absolute;
      left: 0;
      top: 4px;
      width: 15px;
      height: 15px;
      border: solid 1px $base_color;
      border-radius: 3px;
    }
    &:checked {
      & + span:before {
        background: $base_color;
      }
      & + span:after {
        content: "\f00c";
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        left: 3px;
        top: 6px;
        font-size: 10px;
        color: #fff;
      }
    }

    &:disabled {
      cursor: default;
      & + span {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}

.cmn_select {
  &.center {
    .Select-value {
      text-align: center;
    }
  }
  .Select {
    position: relative;

    .Select-value {
      line-height: 38px;
    }
    .Select-input {
      width: 100%;
      height: 38px;
      max-width: 100%;

      > input {
        width: 100% !important;
        max-width: 100% !important;
      }
    }
    .Select-control {
      height: 40px;
      background: #efefef;
      border: solid 1px #efefef;
      max-width: 100%;
      &:hover {
        box-shadow: none;
      }

      
    }
    &.is-open {
      .Select-control {
        border: solid 1px $base_color;
        background: #efefef;
      }
    }
    &.is-focused:not(.is-open) {
      .Select-control {
        background: #efefef;
      }
    }

    
  }

  &.grey_bg {
    .Select {
      .Select-control {
        background: #595959;
        border: solid 1px #595959;
      }
      &.is-open {
        .Select-control {
          border: solid 1px #595959;
          background: #595959;
        }
      }
      &.is-focused:not(.is-open) {
        .Select-control {
          background: #595959;
        }
      }

      .Select-value .Select-value-label {
        color: #fff !important;
      }
      .Select-input {
        background: transparent;
        border: none;
        color: #fff;
        input {
          color: #fff;
        }
      }
    }
  }

  &.validation{
    .Select-control{
      overflow: auto;
    }
    
  }
}

.define_input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 0;
  overflow: scroll;
  white-space: pre;
  font-size: 15px;
  font-family: Helvetica LT Std-1;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  width: 100%;
}

.secFeat {
<<<<<<< HEAD
  padding: 20px 30px;
  box-shadow: 0px 0px 10px #efefef;
  border-radius: $border_rad;
  @include flex_;
  align-items: center;
  margin-bottom: 30px;
=======
>>>>>>> 2400d730d5bfaf69d7e3ca1b4767c7d4a1e0c075
  > div:nth-child(1) {
    flex: 1;
    padding-right: 10px;
    font-size: 13px;
    color: #6b6b6b;
  }

  > div:nth-child(2) {
    @include flex_;
    align-items: center;
  }

  .edit_feat {
    color: $base_color;
    cursor: pointer;
    font-size: 18px;
  }
}

.ED_lab {
  border: solid 1px grey;
  background: grey;
  color: #000;
  font-size: 11px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: $border_rad;
  font-weight: 700;

  &.enable {
    background: #d3f0d8;
    border-color: #50c264;
  }
  &.disable {
    background: #facdc9;
    border-color: #ec3728;
  }
  &.received {
    background: #ffecbf;
    border-color: #ffb300;
  }
}

.modal__ {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow-y: auto;
  display: none;

  &.show {
    display: block;
  }

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal_dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 500px;
    max-width: 100%;
    background: #fff;
    box-shadow: 0px 0px 15px #585757;
    padding: 30px;
    border-radius: $border_rad;
    margin: 15px 0;
  }

  .closeModal {
    font-size: 22px;
  }
}

.qrCodeBox {
  width: 100%;
  height: 100px;
}

.input-group1 {
  @include flex_;

  &:focus {
    border: solid 1px $base_color;
  }
  .form-control1 {
    flex: 1;
  }

  &.right {
    .form-control1 {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &:focus {
        border: none;
      }
    }
  }

  .input-group-text {
    background-color: #efefef;
    border: 1px solid #efefef;
  }
}

.helpLi__list {
  li {
    margin-bottom: 15px;
    a {
      color: $base_color;
      text-decoration: underline;
      font-weight: 700;
      &:hover {
        color: #b2b0b7;
      }
    }
  }
}

.topicDv {
  margin-bottom: 30px;
}

.hidden_file {
  width: 0;
  height: 0;
}

.enquiryLi__ {
  padding: 40px 0;
  border-bottom: solid 1px #efefef;
}

.footer {
  background: #38296e;
  color: #fff;
  padding-top: 50px;
}
.footer .container .company_ct {
  text-align: left;
  display: inline-block;
}
.footer .company_ct ul {
  list-style-type: none;
}
.footer .company_ct .contact_logo {
  max-width: 100%;
}
.footer .company_ct li {
  padding: 4px 0;
}

.footer .company_ct li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.footer .company_ct li a:hover {
  color: #e58e41;
  text-decoration: none;
}
.footer .copyright {
  font-size: 16px;
  position: relative;
  margin-top: 75px;
}

.footer .social_icons .footer_ic {
  font-size: 18px;
  padding: 0 15px;
  color: #fff;
}
.footer .designed_by {
  font-size: 14px;
}

.amt_dets__ {
  li {
    margin-bottom: 7px;
    font-size: 15px;
  }
}

.customRadio [type="radio"] {
  &:checked,
  &:not(:checked) {
    position: absolute;
    left: -9999px;
    + label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;

      &:before,
      &:after {
        content: "";
        position: absolute;
      }

      &:before {
        left: 0;
        top: 3px;
        width: 18px;
        height: 18px;
        border: 1px solid $base_color;
        border-radius: 100%;
        background: #fff;
      }
    }
  }

  &:checked + label {
    &:after {
      width: 12px;
      height: 12px;
      background: $base_color;
      position: absolute;
      top: 6px;
      left: 3px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
}

.radGrp > div {
  flex: 1;
  text-align: left;
  margin-bottom: 15px;
}

.lab_sp {
  // width: 100%;
  height: 0;
  line-height: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 7px;
}

.form-group {
  position: relative;
}

.persmission_ul__ {
  li {
    border-bottom: solid 1px #efefef;
    margin-bottom: 10px;
  }
}

.customCheckie.permisCheck {
  [type="checkbox"] + span:before {
    top: 5px;
  }
  [type="checkbox"]:checked + span:after {
    top: 7px;
  }
}

.billingFeats {
<<<<<<< HEAD
  .billing__ {
    box-shadow: 0px 0px 12px #efefef;
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: $border_rad;
    @include flex_;
    align-items: center;
    .bank__{flex: 2;}
    .numb__{padding-left: 15px; flex: 1;}
    .exp__{padding-left: 15px; flex: 1;}
    .action__{
      padding-left: 30px;
      .edit, .delete{
        color:$base_color;
        margin-left: 15px;
        cursor: pointer;
      }
      
=======
  .bank__ {
    flex: 2;
  }
  .numb__ {
    padding-left: 15px;
    flex: 1;
  }
  .exp__ {
    padding-left: 15px;
    flex: 1;
  }
  .action__ {
    padding-left: 30px;
    .edit,
    .delete {
      color: $base_color;
      margin-left: 15px;
      cursor: pointer;
>>>>>>> 2400d730d5bfaf69d7e3ca1b4767c7d4a1e0c075
    }
  }
}
// 
.starCheck{
  margin-bottom: 0;;
  input{
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;

    + span{
      cursor: pointer;
      position: relative;
      padding-left: 30px;
      &:before{
        position: absolute;
        content: "\f006";
        font: normal normal normal 17px/1 FontAwesome;
        left: 0;
        top: 1px;
        color: $base_color;
      }
    }
    &:checked{
      + span{
        &:before{
          content: "\f005";
        }
        
      }
    }

  }

}

<<<<<<< HEAD
.customCheckie.defaultCardCheck
{
  [type="checkbox"] + span:before{top: 5px;}
  [type="checkbox"]:checked + span:after{top: 7px;}
}
=======
.integrationFeats {
  .name {
    flex: 2;
  }
  .lab,
  .action {
    padding-left: 30px;
  }
}

.mod_circle {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 7px;
  border-radius: 50%;
  background: grey;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;

  &.crm_img {
    background: linear-gradient(45deg, #a002c1, #b968c7);
  }
  &.finance_img {
    background: linear-gradient(45deg, #5a64cc, #909aff);
  }
  &.fms_img {
    background: linear-gradient(45deg, #d12e2f, #d42e2e 38%, #e23030 65%, #e32f30 0, #fa3232);
  }

  &.recruitment_img {
    background: linear-gradient(45deg, #0075ea, #05adee);
  }

  &.finance_planner_img {
    background: linear-gradient(45deg, #303150, #464765 38%, #464765 65%, #464765 0, #464765);
  }
  &.imail_img {
    background: linear-gradient(45deg, #0a9e9a, #50d6cf);
  }
  &.marketing_img {
    background: linear-gradient(45deg, #378abd, #286489 38%, #286286 65%, #286286 0, #337cab);
  }
  &.member_img {
    background: linear-gradient(45deg, #ed6000, #ff812d);
  }
  &.admin_img {
    background: linear-gradient(45deg, #0037c0, #174dcb 37%, #207cca 74%, #207cca 0, #386cd7);
  }
  &.organization_img {
    background: linear-gradient(45deg, #09a075, #09a177 39%, #04ae8a 65%, #01bc9d);
  }
  &.participant_img {
    background: linear-gradient(45deg, #6a20a9, #753af0);
  }
  &.schedule_img {
    background: linear-gradient(45deg, #dc71b6, #ff82cc);
  }
}
>>>>>>> 2400d730d5bfaf69d7e3ca1b4767c7d4a1e0c075
