.page-login {
}

.page-login .welcome-text-header {
    height: 60px;
    width: 1076px;
    color: #392365;
    font-family: "Acumin Pro", Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.page-login .welcome-text-description {
    font-size: 20px;
    margin-bottom: 40px;
}

.page-login .language-selection-parent {
    padding-top: 88px;
    padding-bottom: 88px;
    height: 40px;
    color: #1E1E1E;
    font-family: "Gotham Rounded", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.page-login #LoginForm {
}

.page-login #LoginForm .form-group {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.page-login #LoginForm .form-group label {
    text-align: left;
    color: #000000;
    font-family: "Acumin Pro", Arial, Helvetica, sans-serif;	
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}

.page-login #LoginForm .form-group input[type=text],
.page-login #LoginForm .form-group input[type=password] {
    text-align: left;
    color: #000000;
    font-family: "Acumin Pro", Arial, Helvetica, sans-serif;	
    font-size: 16px;
    line-height: 24px;
}

.page-login #LoginForm #LoginForm-submit {
    max-width: 260px;
    font-size: 20px;
}

.page-login .welcome-area .welcome-icon {
    font-size: 125px;
    display: inline-block;
} 

.page-login .site-footer {}
.page-login .site-footer .footer-links {
    padding: 0;
    margin: 0;
}

.page-login .site-footer .footer-links li {
    display: inline-block;
    font-size: 12px;
    color: #F6F6F6;
}

.page-login .site-footer .footer-links li a {
    color: #F6F6F6;
    display: inline-block;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Acumin Pro", Arial, Helvetica, sans-serif;
}

.page-login .site-footer .footer-links li > span {
    line-height: 40px;
    display: inline-block;
}