@charset "UTF-8";

@font-face {
  font-family: "hcm-marketing";
  src:url("fonts/hcm-marketing.eot");
  src:url("fonts/hcm-marketing.eot?#iefix") format("embedded-opentype"),
    url("fonts/hcm-marketing.woff") format("woff"),
    url("fonts/hcm-marketing.ttf") format("truetype"),
    url("fonts/hcm-marketing.svg#hcm-marketing") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hcm-marketing" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="hcm-mg-"]:before,
[class*=" hcm-mg-"]:before {
  font-family: "hcm-marketing" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hcm-mg-ie-lost:before {
  content: "\61";
}
.hcm-mg-ie-profit:before {
  content: "\62";
}
.hcm-mg-check:before {
  content: "\63";
}
.hcm-mg-check-circle:before {
  content: "\64";
}
.hcm-mg-check-circle-o:before {
  content: "\65";
}
.hcm-mg-check-square:before {
  content: "\66";
}
.hcm-mg-check-square-o:before {
  content: "\67";
}
.hcm-mg-bars:before {
  content: "\68";
}
.hcm-mg-search:before {
  content: "\69";
}
.hcm-mg-search-plus:before {
  content: "\6a";
}
.hcm-mg-search-minus:before {
  content: "\6b";
}
.hcm-mg-search-1:before {
  content: "\6c";
}
.hcm-mg-paperplane:before {
  content: "\6d";
}
.hcm-mg-bell-o:before {
  content: "\6e";
}
.hcm-mg-marker:before {
  content: "\70";
}
.hcm-mg-location:before {
  content: "\71";
}
.hcm-mg-power-off:before {
  content: "\72";
}
.hcm-mg-calendar:before {
  content: "\73";
}
.hcm-mg-calendar-1:before {
  content: "\74";
}
.hcm-mg-calendar-2:before {
  content: "\75";
}
.hcm-mg-thumbs-up:before {
  content: "\76";
}
.hcm-mg-thumbs-down:before {
  content: "\77";
}
.hcm-mg-x:before {
  content: "\78";
}
.hcm-mg-edit-modify-streamline:before {
  content: "\79";
}
.hcm-mg-plus:before {
  content: "\7a";
}
.hcm-mg-angle-down:before {
  content: "\41";
}
.hcm-mg-angle-left:before {
  content: "\42";
}
.hcm-mg-angle-right:before {
  content: "\43";
}
.hcm-mg-angle-up:before {
  content: "\44";
}
.hcm-mg-angle-double-down:before {
  content: "\45";
}
.hcm-mg-angle-double-left:before {
  content: "\46";
}
.hcm-mg-angle-double-up:before {
  content: "\47";
}
.hcm-mg-comment-o:before {
  content: "\48";
}
.hcm-mg-toggle-off:before {
  content: "\49";
}
.hcm-mg-toggle-on:before {
  content: "\4a";
}
.hcm-mg-upload-cloud:before {
  content: "\4b";
}
.hcm-mg-up-circled:before {
  content: "\4c";
}
.hcm-mg-pin:before {
  content: "\4d";
}
.hcm-mg-down-dir:before {
  content: "\4e";
}
.hcm-mg-up-dir:before {
  content: "\4f";
}
.hcm-mg-left-dir:before {
  content: "\50";
}
.hcm-mg-right-dir:before {
  content: "\51";
}
.hcm-mg-caret-down:before {
  content: "\52";
}
.hcm-mg-caret-left:before {
  content: "\53";
}
.hcm-mg-caret-right:before {
  content: "\54";
}
.hcm-mg-caret-up:before {
  content: "\55";
}
.hcm-mg-plane:before {
  content: "\56";
}
.hcm-mg-c-notify:before {
  content: "\57";
}
.hcm-mg-c-search-2:before {
  content: "\58";
}
.hcm-mg-c-info:before {
  content: "\59";
}
.hcm-mg-c-girl:before {
  content: "\5a";
}
.hcm-mg-c-boy:before {
  content: "\30";
}
.hcm-mg-check-1:before {
  content: "\6f";
}
.hcm-mg-cancel:before {
  content: "\31";
}
