
.page-dashboard {
    .site-content {
        .site-content-inner {
        }
        .container-fluid {
        }
        .content-block {
            max-width: 1347px;
        }
    }
}

.page-dashboard {
    .fms-feedback {
        background-color: #E6E6E6;
        color: #404040;
        border-radius: 8px;
    
        .fms-badge {
            padding: 12px 25px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
    
        .fms-feedback-body {
            .fms-feedback-line {
                padding-left: 24px;
                vertical-align: middle;
    
                &:first-child:after {
                    content: '';
                    display: inline-block;
                    background-color: #A2A2A2;
                    width: 2px;
                    height: 30px;
                    margin-left: 40px;
                    margin-right: 20px;
                    vertical-align: middle;
                }
            }
        }
    }

    .action-buttons {
        .btn.btn-large {
            margin-left: 16px;
            font-size: 20px;
            padding: 4px 40px;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .divider {
        height: 3px;
        background-color: #3A2467;
    }

    .latest-updates, .invoices {
        margin-bottom: 15px;

        h4 {
            margin: 0;
        }
        
        table {
            -webkit-border-radius: 5px;
            border-radius: 5px;
            overflow: hidden;            

            thead {
                background-color: #404040;
                color: #FFFFFF;
                tr {
                    text-align: center;

                    &:first-child {
                        text-align: left;
                    }
                }
            }

            tbody {
                tr {
                    background-color: #f5f5f5;
                }
            }
        }

        .view-all-btn {
            font-size: 10px;
            padding-left: 30px;
            padding-right: 20px;
            vertical-align: middle;

            .view-icon {
                margin-left: 10px;
                display: 'inline-block';
                width: 16.67px;
                height: 11.67px;
                margin-left: 33px;
                background-color: 'white';
                vertical-align: 'middle';
            }
        }

        
        & > table thead > tr:nth-child(2) {
            & > td {
                position: relative;

                &:after {
                    content: '';
                    display: inline-block;
                    width: 0;
                    border-right: 1px dotted white;
                    height: calc(100% - 16px);
                    position: absolute;
                    right: 0;
                    top: 8px;
                }

                &:last-child {
                    &:after {
                        content: none;
                    }
                }
            }
        }


    }

}

@media (min-width: 768px) {
    .page-dashboard .content-block {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .page-dashboard {

        .fms-feedback {
            .fms-badge {
            }
        
            .fms-feedback-body {
                .fms-feedback-line {
                    &:first-child:after {
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .page-dashboard {
        .site-content {
            .action-buttons {
                .btn.btn-large {
                    margin-bottom: 0;
                }
            }
        }
    }
}


@media (min-width: 1200px) {
    .page-dashboard {
        .site-content {
            .site-content-inner {
                padding-left: 137px;
                padding-right: 137px;
            }
            .container-fluid {

            }
        }

        .fms-feedback {
            .fms-badge {

            }
        
            .fms-feedback-body {
                .fms-feedback-line {
        
                    &:first-child:after {
                    }
                }
            }
        }
    }
}
