$acuminPro: 'Acumin Pro', sans-serif;

.page-login {

    .language-selection-parent {
        padding-top: 88px;
        padding-bottom: 88px;
        height: 40px;
        color: #1E1E1E;
        font-family: $acuminPro;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
    }

    #LoginForm {
        .form-group {
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 24px;

            label {
                text-align: left;
                color: #000000;
                font-family: $acuminPro;	
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
            }

            input[type=text], input[type=password] {
                text-align: left;
                color: #000000;
                font-family: $acuminPro;	
                font-size: 16px;
                line-height: 24px;
            }
        }

        #LoginForm-submit {
            max-width: 260px;
            font-size: 20px;
        }

        #LoginForm-forgotpassword {
            font-size: 12px;
        }
    }

}