@import '../../stylesheets/components/OrgInfoSummary.scss';
// @import '../../stylesheets/layouts/general.scss';

$breadcrumb-separator: "\00a0\00a0\00a0>";
$green: #1eb35a;


.entity-details, .contact-details {
	.data-row {
		&:first-child {
			margin-top: 44px;
		}
		line-height: 1.1875rem;
		padding-bottom: 9px;
		margin-top: 8px;
		color: #1e1e1e;

		.label {
			padding: 0;
			width: 15%;
			text-align: end;
		}

		.value {
			padding: 0;
		}
	}

	.row {
		margin-left: 0px;
		margin-right: 0px;
	}

	.entity-detail-action {
		margin-top: 24px;

		.update-entity-detail {
			cursor: pointer;
			height: 40px;
			width: 257px;
			background-color: #404041;
			border-radius: 4px;
			color: #ffffff;
			font-size: 1.25rem;
			border: none;

			.text {
				margin-right: 35px;
			}

			.icon-update {
				margin-right: 12px;
			}
		}
	}

	.value {
		border-bottom: 1px solid #e6e6e6;
		width: 50%;
	}
}

.entity-contact-header {
	margin-top: 60px;
}

#updateOrgDetailModal, #updateContactDeatilModal{
    .modal-header {
        padding: 0;
        margin: 1rem 1rem;
        // color: $green;
        font-size: 20px;
        border-style: solid;
        border-radius: 0px;
        border-width: 1px 0px 1px 0px;
        border-color: black;

        .icon-cross-icons {
            font-size: 24px;
            position: absolute;
            right: 16px;
            cursor: pointer;
        }
    }

    .modal-body {
        padding-top: 0;
    }
}

form#updateOrgDetail, form#updateContactDetails {
	.required {
		&::after {
			font-size: 7px;
			background-size: 6px;
			position: absolute;
			content: "";
			background: url("../../images/star_icons.svg");
			right: 5px;
			line-height: 10px;
			top: 20px;
			text-align: right;
			width: 7px;
			height: 7px;
			background-repeat: no-repeat;
		}
	}

    div.input {
        height: 40px
    }

    .disabled {
        background-color: lightgray
    }

	#org_logo {
		opacity: 0;
		height: 0px;
	}

	.label-on-top {
        &.upload {
            cursor: pointer;
        }
		text-align: center;
		height: 40px;

		span {
			color: white;
			font-size: 15px;
			font-weight: bold;
		}
	}

	div.input.has-icon {
		border: 1px solid $green;
		border-radius: 5px;
		input.form-control {
			border: none;
			box-shadow: none;
		}
		
		.icon-plus, .icon-minus {
			&::before {
				font-size: 30px;
				cursor: pointer;
				// color: $green;
				margin-right: 5px;
			}
		}
	}

	.form-error {
		font-size: .9rem;
	}
	
	div.Select.Select--single .Select-control,
	div.Select .Select-control,
	div.Select.is-focused > .Select-control,
	div.Select.is-open > .Select-control,
	div.Select.is-focused:not(.is-opne) > .Select-control {
		height: 40px;
		background: transparent;
        background-color: transparent;
        border-color: black;
	}
	
	.Select.custom {
		.Select-arrow {
			top: 7px;
			border-color: black transparent transparent;
			border-style: solid;
			border-width: 10px 7px 5px;
			border-radius: 4px;
		}
	}
	
	.Select.is-open.custom > .Select-control {
		.Select-arrow {
			top: 2px;
			border-color: transparent transparent black;
			border-style: solid;
			border-width: 0px 7px 10px;
			border-radius: 4px;
		}
	}
}

.green-toast {
	background-color: $green;
	color: white;
}