
$acuminPro: 'Acumin Pro', sans-serif;

.page-temp-password-reset {

    #TempPasswordResetForm {
        .form-group {
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 24px;

            label {
                text-align: left;
                color: #000000;
                font-family: $acuminPro;	
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
            }

            input[type=text], input[type=password] {
                text-align: left;
                color: #000000;
                font-family: $acuminPro;	
                font-size: 16px;
                line-height: 24px;
            }
        }

        #TempPasswordResetForm-submit {
            max-width: 260px;
            font-size: 20px;
        }
    }
}