@font-face {
    font-family: 'Acumin Pro';
    src: url(../fonts/AcuminPro/AcuminPro-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url(../fonts/AcuminPro/AcuminPro-BoldItalic.otf);
    font-style: bold italic;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url(../fonts/AcuminPro/AcuminPro-Regular.otf);
}

@import "_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "sticky-footer.scss";
@import "icons_me.scss";