.show, .hide {
    display: flex;
    place-content: flex-end;
    padding-top: 5px;
    padding-right: 0;

    .caret-action {
        font-size: 12px;
        margin-right: 8px;
        color: #1E1E1E;
        line-height: .8rem;
    }

    .contact-caret {
        cursor: pointer;
        display: inline-block;
        width: 0px;
        height: 0px;
    }
}

.show {
    .contact-caret {
        // display: inline-block;
        // width: 0px;
        // height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #000000;
    }
}

.hide {
    padding-top: 5px;
    padding-right: 0px;

    .contact-caret {
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
        border-left: 8px solid #000000;
    }
}

.contact-data {
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    margin-top: 24px;
    background-color: #F6F6F6;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .contact-header {
        padding-top: 15px;
        padding-bottom: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    
        &.row {
            padding-left: 21px;
            padding-right: 21px;
            background-color: #E6E6E6;
        }    
    }

    &.collapsed {
        .contact-header {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    &.expanded {
        .contact-header {
            border-bottom: 2px solid #3A2467
        }
    }
}

.data-row {
    &:first-child {
        margin-top: 24px;
    }
    // .label {
    //     width: 13%;
    //     text-align: end;
    // }
    // .value {
    //     width: 44%;
    // }
}

.contact-label {
    &[class^="col"] {
        padding-left: 0;
    }
    font-size: 1.25rem;
}

.contact-actions {
    margin-bottom: 16px;

    .update-contact-text {
        margin-right: 10px;
        color: #1E1E1E;
        font-size: 12px;
        line-height: .8rem;
    }

    .icon-update {
        margin-right: 12px;
        cursor: pointer;
    }
}

