$acuminPro: 'Acumin Pro', sans-serif;

.welcome-area {
    .welcome-text-header {
        width: 100%;
        color: #392365;
        font-family: $acuminPro;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
    }

    .welcome-icon {
        font-size: 125px;
        display: inline-block;
    }
}


.welcome-text-description {
    font-size: 20px;
    margin-bottom: 40px;
}