@import "../variables.scss";

.language-selection-parent {
    padding-top: 88px;
    padding-bottom: 88px;
    height: 40px;
    color: #1E1E1E;
    font-family: $acuminPro;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

    img, .arrow-right, .inner-text {
        vertical-align: middle;
        display: inline-block;
    }

    .arrow-right {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 0 8px 10px;
        border-color: transparent transparent transparent #1e1e1e;
    }

    .btn {
        .inner-text {
            display: inline-block;
            width: 157.5px;
        }
    }
}

