$acuminPro: 'Acumin Pro', sans-serif;


.site-footer {
    .footer-links {
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            font-size: 12px;
            color: #F6F6F6;

            a {
                color: #F6F6F6;
                display: inline-block;
                line-height: 40px;
                font-size: 12px;
                font-weight: bold;
                font-family: $acuminPro;
            }

            & > span {
                line-height: 40px;
                display: inline-block;
            }
        }
    }
}