.org-summary .org-info {
   margin-left: 18px;

   ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      li {
         font-size: 20px;
         line-height: 1.5rem;
      }
   }
}