@charset "UTF-8";

@font-face {font-family: "icons_me";src:url("./icons/icons_me.eot");src:url("./icons/icons_me.eot?#iefix") format("embedded-opentype"),url("./icons/icons_me.woff") format("woff"),url("./icons/icons_me.ttf") format("truetype"),url("./icons/icons_me.svg#icons_me") format("svg");font-weight: normal;font-style: normal;}
[data-icon]:before {font-family: "icons_me" !important;content: attr(data-icon);font-style: normal !important;font-weight: normal !important;font-variant: normal !important;text-transform: none !important;speak: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
[class^="icon-"]:before,
[class*=" icon-"]:before {font-family: "icons_me" !important;font-style: normal !important;font-weight: normal !important;font-variant: normal !important;text-transform: none !important;speak: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-achive:before {
  content: "\62";
}
.icon-add-big:before {
  content: "\63";
}
.icon-add-icons:before {
  content: "\65";
}
.icon-arrow-up:before {
  content: "\68";
}
.icon-arrow-down:before {
  content: "\66";
}
.icon-arrow-left:before {
  content: "\67";
}
.icon-arrow-right:before {
  content: "\69";
}
.icon-attach:before {
  content: "\6a";
}
.icon-back-arrow:before {
  content: "\6b";
}
.icon-boy:before {
  content: "\6c";
}
.icon-calander:before {
  content: "\6d";
}
.icon-check:before {
  content: "\70";
}
.icon-circle:before {
  content: "\71";
}
.icon-circule:before {
  content: "\72";
}
.icon-color-piker:before {
  content: "\73";
}
.icon-cross-icons:before {
  content: "\74";
}
.icon-decrease-icon:before {
  content: "\75";
}
.icon-done-arrow:before {
  content: "\76";
}
.icon-download:before {
  content: "\77";
}
.icon-dublicate-icon:before {
  content: "\78";
}
.icon-email-pending:before {
  content: "\79";
}
.icon-error-icons:before {
  content: "\7a";
}
.icon-event-location:before {
  content: "\41";
}
.icon-file-icons:before {
  content: "\42";
}
.icon-folder:before {
  content: "\43";
}
.icon-girls:before {
  content: "\44";
}
.icon-graph:before {
  content: "\45";
}
.icon-info:before {
  content: "\46";
}
.icon-input-type-check:before {
  content: "\47";
}
.icon-invoice:before {
  content: "\48";
}
.icon-like:before {
  content: "\49";
}
.icon-lock-icons:before {
  content: "\4a";
}
.icon-log-out:before {
  content: "\4b";
}
.icon-message:before {
  content: "\4c";
}
.icon-minus:before {
  content: "\4d";
}
.icon-mobile:before {
  content: "\4e";
}
.icon-notes:before {
  content: "\4f";
}
.icon-notification-icons:before {
  content: "\50";
}
.icon-ocs-logo:before {
  content: "\51";
}
.icon-pending-icons:before {
  content: "\52";
}
.icon-phone-icons:before {
  content: "\53";
}
.icon-plus:before {
  content: "\54";
}
.icon-reload:before {
  content: "\55";
}
.icon-un-attach-icons:before {
  content: "\56";
}
.icon-un-add-icon:before {
  content: "\57";
}
.icon-star-icons:before {
  content: "\58";
}
.icon-star:before {
  content: "\59";
}
.icon-small-search:before {
  content: "\5a";
}
.icon-smail-big:before {
  content: "\30";
}
.icon-share:before {
  content: "\31";
}
.icon-setting:before {
  content: "\32";
}
.icon-search:before {
  content: "\33";
}
.icon-share-icon:before {
  content: "\34";
}
.icon-unlike:before {
  content: "\35";
}
.icon-uncheck:before {
  content: "\36";
}
.icon-user:before {
  content: "\37";
}
.icon-update:before {
  content: "\38";
}
.icon-view:before {
  content: "\39";
}
.icon-caller-icons:before {
  content: "\61";
}
.icon-user-icon:before {
  content: "\6f";
}
.icon-social-vimeo:before {
  content: "\21";
}
.icon-facebook:before {
  content: "\22";
}
.icon-facebook-alt:before {
  content: "\23";
}
.icon-whatsapp:before {
  content: "\24";
}
.icon-linkedin:before {
  content: "\25";
}
.icon-linkedin-alt:before {
  content: "\26";
}
.icon-share-1:before {
  content: "\27";
}
.icon-social-instagram:before {
  content: "\28";
}
.icon-twitter:before {
  content: "\29";
}
.icon-twitter-alt:before {
  content: "\2a";
}
.icon-letter-mail-1:before {
  content: "\2b";
}
.icon-at-email:before {
  content: "\2c";
}
.icon-address-book:before {
  content: "\2d";
}
.icon-vimeo:before {
  content: "\2e";
}
.icon-yahoo:before {
  content: "\2f";
}
.icon-skype:before {
  content: "\3a";
}
.icon-arrow-1-down:before {
  content: "\3b";
}
.icon-arrow-1-left:before {
  content: "\3c";
}
.icon-arrow-1-right:before {
  content: "\3d";
}
.icon-arrow-1-up:before {
  content: "\3e";
}
.icon-alert:before {
  content: "\3f";
}
.icon-align-center:before {
  content: "\40";
}
.icon-align-justify:before {
  content: "\5b";
}
.icon-align-left:before {
  content: "\5d";
}
.icon-align-right:before {
  content: "\5e";
}
.icon-archive:before {
  content: "\5f";
}
.icon-camera:before {
  content: "\60";
}
.icon-volume-strike:before {
  content: "\7b";
}
.icon-trash:before {
  content: "\7c";
}
.icon-social-googleplus:before {
  content: "\7d";
}
.icon-pricetags:before {
  content: "\7e";
}
.icon-android-create:before {
  content: "\5c";
}
.icon-speaker-louder:before {
  content: "\e000";
}
.icon-speaker-off:before {
  content: "\e001";
}
.icon-speaker-silent:before {
  content: "\e002";
}
.icon-bell-slash:before {
  content: "\e003";
}
.icon-bell-slash-o:before {
  content: "\e004";
}
.icon-bell-o:before {
  content: "\e005";
}
.icon-book:before {
  content: "\e006";
}
.icon-hand-o-down:before {
  content: "\e007";
}
.icon-hand-o-left:before {
  content: "\e008";
}
.icon-hand-o-right:before {
  content: "\e009";
}
.icon-hand-o-up:before {
  content: "\e00a";
}
.icon-youtube:before {
  content: "\e00b";
}
.icon-calendar:before {
  content: "\6e";
}
.icon-blank-day:before {
  content: "\e00c";
}
.icon-blank-day-1:before {
  content: "\e00d";
}
.icon-day-1:before {
  content: "\e00e";
}
.icon-day-2:before {
  content: "\e00f";
}
.icon-day-3:before {
  content: "\e010";
}
.icon-day-4:before {
  content: "\e011";
}
.icon-day-5:before {
  content: "\e012";
}
.icon-day-6:before {
  content: "\e013";
}
.icon-day-7:before {
  content: "\e014";
}
.icon-day-8:before {
  content: "\e015";
}
.icon-day-9:before {
  content: "\e016";
}
.icon-day-10:before {
  content: "\e017";
}
.icon-day-13:before {
  content: "\e018";
}
.icon-day-14:before {
  content: "\e019";
}
.icon-day-15:before {
  content: "\e01a";
}
.icon-day-16:before {
  content: "\e01b";
}
.icon-day-17:before {
  content: "\e01c";
}
.icon-day-18:before {
  content: "\e01d";
}
.icon-day-19:before {
  content: "\e01e";
}
.icon-day-20:before {
  content: "\e01f";
}
.icon-day-21:before {
  content: "\e020";
}
.icon-day-22:before {
  content: "\e021";
}
.icon-day-23:before {
  content: "\e022";
}
.icon-day-26:before {
  content: "\e023";
}
.icon-day-27:before {
  content: "\e024";
}
.icon-day-28:before {
  content: "\e025";
}
.icon-day-29:before {
  content: "\e026";
}
.icon-day-30:before {
  content: "\e027";
}
.icon-day-31:before {
  content: "\e028";
}
.icon-day-11:before {
  content: "\e029";
}
.icon-day-12:before {
  content: "\e02a";
}
.icon-day-24:before {
  content: "\e02b";
}
.icon-day-25:before {
  content: "\e02c";
}
.icon-views:before {
  content: "\e02d";
}
.icon-add-icon-input-in:before {
  content: "\64";
}
.icon-long-arrow-down:before {
  content: "\e02e";
}
.icon-long-arrow-left:before {
  content: "\e02f";
}
.icon-long-arrow-right:before {
  content: "\e031";
}
.icon-long-arrow-up:before {
  content: "\e030";
}
.icon-bag:before {
  content: "\e032";
}
.icon-hand-paper-o:before {
  content: "\e033";
}
.icon-cross-icons-1:before {
  content: "\e034";
}
.icon-crosshairs:before {
  content: "\e035";
}
.icon-trash-o:before {
  content: "\e036";
}
.icon-bars:before {
  content: "\e037";
}
.icon-times:before {
  content: "\e038";
}
.icon-close:before {
  content: "\e039";
}
.icon-menu:before {
  content: "\e03a";
}
.icon-arrow-l:before {
  content: "\e03b";
}
.icon-arrow-r:before {
  content: "\e03c";
}
.icon-plane:before {
  content: "\e03d";
}
.icon-archive-im:before {
  content: "\e03e";
}
.icon-attach-im:before {
  content: "\e03f";
}
.icon-envelope-im:before {
  content: "\e040";
}
.icon-favorite-im:before {
  content: "\e041";
}
.icon-file-im:before {
  content: "\e042";
}
.icon-flag-im:before {
  content: "\e043";
}
.icon-fully-back-im:before {
  content: "\e044";
}
.icon-next-im:before {
  content: "\e045";
}
.icon-single-back-im:before {
  content: "\e046";
}
.icon-warning-im:before {
  content: "\e047";
}
.icon-block-im:before {
  content: "\e048";
}
.icon-accept-approve3-ie:before {
  content: "\e049";
}
.icon-accept-approve2-ie:before {
  content: "\e04a";
}
.icon-accept-approve1-ie:before {
  content: "\e04b";
}
.icon-add4-ie:before {
  content: "\e04c";
}
.icon-add3-ie:before {
  content: "\e04d";
}
.icon-add2-ie:before {
  content: "\e04e";
}
.icon-add1-ie:before {
  content: "\e04f";
}
.icon-approved3-ie:before {
  content: "\e050";
}
.icon-approved2-ie:before {
  content: "\e051";
}
.icon-approved1-ie:before {
  content: "\e052";
}
.icon-archive5-ie:before {
  content: "\e053";
}
.icon-archive4-ie:before {
  content: "\e054";
}
.icon-archive3-ie:before {
  content: "\e055";
}
.icon-archive2-ie:before {
  content: "\e056";
}
.icon-archive1-ie:before {
  content: "\e057";
}
.icon-arrow8-ie:before {
  content: "\e058";
}
.icon-arrow7-ie:before {
  content: "\e059";
}
.icon-arrow6-ie:before {
  content: "\e05a";
}
.icon-arrow5-ie:before {
  content: "\e05b";
}
.icon-attatchments3-ie:before {
  content: "\e05c";
}
.icon-attatchments2-ie:before {
  content: "\e05d";
}
.icon-attatchments1-ie:before {
  content: "\e05e";
}
.icon-availmem4-ie:before {
  content: "\e05f";
}
.icon-availmem3-ie:before {
  content: "\e060";
}
.icon-availmem1-ie:before {
  content: "\e061";
}
.icon-back3-ie:before {
  content: "\e062";
}
.icon-availmem2-ie:before {
  content: "\e063";
}
.icon-back2-ie:before {
  content: "\e064";
}
.icon-back1-ie:before {
  content: "\e065";
}
.icon-block1-ie:before {
  content: "\e066";
}
.icon-call3-ie:before {
  content: "\e067";
}
.icon-call2-ie:before {
  content: "\e068";
}
.icon-call1-ie:before {
  content: "\e069";
}
.icon-checkbox2-ie:before {
  content: "\e06a";
}
.icon-checkbox1-ie:before {
  content: "\e06b";
}
.icon-circle1-ie:before {
  content: "\e06c";
}
.icon-close3-ie:before {
  content: "\e06d";
}
.icon-close2-ie:before {
  content: "\e06e";
}
.icon-close1-ie:before {
  content: "\e06f";
}
.icon-document6-ie:before {
  content: "\e070";
}
.icon-document4-ie:before {
  content: "\e071";
}
.icon-document5-ie:before {
  content: "\e072";
}
.icon-document3-ie:before {
  content: "\e073";
}
.icon-document2-ie:before {
  content: "\e074";
}
.icon-document1-ie:before {
  content: "\e075";
}
.icon-download3-ie:before {
  content: "\e076";
}
.icon-download2-ie:before {
  content: "\e077";
}
.icon-download1-ie:before {
  content: "\e078";
}
.icon-edit6-ie:before {
  content: "\e079";
}
.icon-edit5-ie:before {
  content: "\e07a";
}
.icon-edit4-ie:before {
  content: "\e07b";
}
.icon-edit3-ie:before {
  content: "\e07c";
}
.icon-edit2-ie:before {
  content: "\e07d";
}
.icon-edit1-ie:before {
  content: "\e07e";
}
.icon-envelope1-ie:before {
  content: "\e07f";
}
.icon-export1-ie:before {
  content: "\e080";
}
.icon-fillshift3-ie:before {
  content: "\e081";
}
.icon-fillshift2-ie:before {
  content: "\e082";
}
.icon-fillshift1-ie:before {
  content: "\e083";
}
.icon-flag2-ie:before {
  content: "\e084";
}
.icon-flag1-ie:before {
  content: "\e085";
}
.icon-history3-ie:before {
  content: "\e086";
}
.icon-history2-ie:before {
  content: "\e087";
}
.icon-history1-ie:before {
  content: "\e088";
}
.icon-imail4-ie:before {
  content: "\e089";
}
.icon-imail3-ie:before {
  content: "\e08a";
}
.icon-imail2-ie:before {
  content: "\e08b";
}
.icon-imail1-ie:before {
  content: "\e08c";
}
.icon-info3-ie:before {
  content: "\e08d";
}
.icon-info2-ie:before {
  content: "\e08e";
}
.icon-info1-ie:before {
  content: "\e08f";
}
.icon-like2-ie:before {
  content: "\e090";
}
.icon-like1-ie:before {
  content: "\e091";
}
.icon-listen3-ie:before {
  content: "\e092";
}
.icon-listen2-ie:before {
  content: "\e093";
}
.icon-listen1-ie:before {
  content: "\e094";
}
.icon-location1-ie:before {
  content: "\e095";
}
.icon-lock1-ie:before {
  content: "\e096";
}
.icon-logout6-ie:before {
  content: "\e097";
}
.icon-logout5-ie:before {
  content: "\e098";
}
.icon-logout4-ie:before {
  content: "\e099";
}
.icon-logout3-ie:before {
  content: "\e09a";
}
.icon-logout2-ie:before {
  content: "\e09b";
}
.icon-logout1-ie:before {
  content: "\e09c";
}
.icon-next3-ie:before {
  content: "\e09d";
}
.icon-next2-ie:before {
  content: "\e09e";
}
.icon-next1-ie:before {
  content: "\e09f";
}
.icon-notes3-ie:before {
  content: "\e0a0";
}
.icon-notes2-ie:before {
  content: "\e0a1";
}
.icon-notes1-ie:before {
  content: "\e0a2";
}
.icon-notification4-ie:before {
  content: "\e0a3";
}
.icon-notification3-ie:before {
  content: "\e0a4";
}
.icon-notification2-ie:before {
  content: "\e0a5";
}
.icon-notification1-ie:before {
  content: "\e0a6";
}
.icon-pussapp3-ie:before {
  content: "\e0a7";
}
.icon-pussapp2-ie:before {
  content: "\e0a8";
}
.icon-pussapp1-ie:before {
  content: "\e0a9";
}
.icon-q-mark2-ie:before {
  content: "\e0aa";
}
.icon-q-mark1-ie:before {
  content: "\e0ab";
}
.icon-recode1-ie:before {
  content: "\e0ac";
}
.icon-remove4-ie:before {
  content: "\e0ad";
}
.icon-remove3-ie:before {
  content: "\e0ae";
}
.icon-remove2-ie:before {
  content: "\e0af";
}
.icon-remove1-ie:before {
  content: "\e0b0";
}
.icon-search3-ie:before {
  content: "\e0b1";
}
.icon-search2-ie:before {
  content: "\e0b2";
}
.icon-search1-ie:before {
  content: "\e0b3";
}
.icon-setting1-ie:before {
  content: "\e0b4";
}
.icon-star2-ie:before {
  content: "\e0b5";
}
.icon-update1-ie:before {
  content: "\e0b6";
}
.icon-userm2-ie:before {
  content: "\e0b7";
}
.icon-userm1-ie:before {
  content: "\e0b8";
}
.icon-userf2-ie:before {
  content: "\e0b9";
}
.icon-userf1-ie:before {
  content: "\e0ba";
}
.icon-view3-ie:before {
  content: "\e0bb";
}
.icon-view2-ie:before {
  content: "\e0bc";
}
.icon-view1-ie:before {
  content: "\e0bd";
}
.icon-warning2-ie:before {
  content: "\e0be";
}
.icon-warning1-ie:before {
  content: "\e0bf";
}
.icon-pin:before {
  content: "\e0c0";
}
.icon-active:before {
  content: "\e0c1";
}
.icon-ins-icon:before {
  content: "\e0c2";
}
.icon-bredcrumb-arrow:before {
  content: "\e0c3";
}
.icon-if-ic-file-upload-48px-352345:before {
  content: "\e0c4";
}
.icon-bug:before {
  content: "\e0c5";
}
.icon-ios-plus-empty:before {
  content: "\e0c7";
}
.icon-ios-minus-empty:before {
  content: "\e0c8";
}
.icon-incative:before {
  content: "\e0c9";
}
.icon-house:before {
  content: "\e0ca";
}
.icon-roster-2:before {
  content: "\e0cb";
}
.icon-roster-1:before {
  content: "\e0cc";
}
